<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.power system.type "name")
    icon=(path TERIOCK.options.power system.type "icon")
    classes="power-box"
    tooltip=(localize "TERIOCK.SYSTEMS.Power.FIELDS.type.label")
  }}
  {{formBox
    (formInput
      systemFields.maxAv
      value=system.maxAv
      disabled=(not editable)
    )
    icon=TERIOCK.display.icons.armament.av
    unselected=(ifThen (eq system.maxAv 0) "No Armor" (concat system.maxAv " Max Worn AV"))
    tooltip=(localize "TERIOCK.SYSTEMS.BaseItem.FIELDS.maxAv.label")
  }}
</div>