<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.power system.type "name")
    icon=(path TERIOCK.options.power system.type "icon")
    tooltip="Power Type"
    classes="power-box"
  }}
</div>