<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.power system.type "name")
    icon=(path TERIOCK.options.power system.type "icon")
    tooltip="Power Type"
    classes="power-box"
  }}
  {{formBox
    (formInput
      systemFields.maxAv
      value=system.maxAv
      disabled=(not editable)
      dataset=(object tooltip="Maximum Worn AV")
    )
    icon=(makeIcon TERIOCK.display.icons.armament.av "sheetForm")
    unselected=(ifThen (eq system.maxAv 0) "No Armor" (concat system.maxAv " Max Worn AV"))
  }}
</div>