<div class="{{cssClass}} tsheet-page" autocomplete="off">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/templates/common/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/templates/sheets/equipment-template/bars/eq-status-bar.hbs"}}
        {{> "systems/teriock/templates/sheets/equipment-template/bars/eq-consumable-bar.hbs"}}
        {{> "systems/teriock/templates/sheets/equipment-template/bars/eq-attack-bar.hbs"}}
        {{> "systems/teriock/templates/sheets/equipment-template/bars/eq-load-bar.hbs"}}
      </div>
    </div>
    {{> "systems/teriock/templates/sheets/equipment-template/parts/eq-menu.hbs"}}
    <div class="ab-main">
      <div class="ab-tags-all">
        {{> "systems/teriock/templates/sheets/equipment-template/tags/eq-classes-tags.hbs"}}
        {{> "systems/teriock/templates/sheets/equipment-template/tags/eq-properties-tags.hbs"}}
      </div>
      {{#if (exists system.description)}}
        {{> "systems/teriock/templates/sheets/equipment-template/entries/eq-description.hbs"}}
      {{/if}}
      {{#if (exists system.notes)}}
        {{> "systems/teriock/templates/sheets/equipment-template/entries/eq-notes.hbs"}}
      {{/if}}
      {{#if (exists system.specialRules)}}
        {{> "systems/teriock/templates/sheets/equipment-template/entries/eq-special-rules.hbs"}}
      {{/if}}
      {{#if (exists system.manaStoring)}}
        {{> "systems/teriock/templates/sheets/equipment-template/entries/eq-mana-storing.hbs"}}
      {{/if}}
      {{#if (exists system.flaws)}}
        {{> "systems/teriock/templates/sheets/equipment-template/entries/eq-flaws.hbs"}}
      {{/if}}
      {{#if (exists system.fullTier)}}
        {{> "systems/teriock/templates/sheets/equipment-template/entries/eq-tier.hbs"}}
      {{/if}}
    </div>
    <div class="ab-main">
      <button class="createAbility" data-action='createAbility'>Add Ability</button>
      {{abilityCards abilities system}}
    </div>
    <div class="ab-main">
      <button class="createResource" data-action="createResource">Add Resource</button>
      {{abilityCards resources system}}
    </div>
  </div>
</div>