<div class="character-tab powers">
  <h1>Powers</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions system.sheet.menus.powerOptions null system.sheet.powerFilters.search "power"}}
      {{#if system.sheet.menus.powerFilters}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/templates/parts/character-parts/character-power-filter.hbs'}}
        </div>
      {{/if}}
    </div>
    <div class="tcard-container {{#if system.sheet.display.power.gapless}}gapless{{/if}} {{system.sheet.display.power.size}}">
      {{#each powers as |item|}}
        {{tcard
          img=item.img
          title=item.name
          subtitle=item.system.type
          id=item._id
          active=(not item.system.disabled)
          text=""
          icons=(concat
            (ticon "comment" cssClass="share" action="share" id=rank._id)
            (ticonToggle "circle-check" "circle" (not item.system.disabled) cssClass="toggleDisabled" action="toggleDisabled" id=item._id)
          )
        }}
      {{/each}}
    </div>
    {{#if (not (exists powers))}}
      <div class="no-results">
        <p>No powers found.</p>
      </div>
    {{/if}}
  </div>
</div>