<div class="character-tab abilities">
  <h1>Abilities</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      <div class="tcard-options-header">
        <button class="ability-options-menu-toggle {{ttoggle system.sheet.menus.abilityOptions}}">
          <i class="fa-solid fa-sliders"></i>
        </button>
        <button class="ability-filter-menu-toggle {{ttoggle system.sheet.menus.abilityFilters}}">
          <i class="fa-solid fa-filter"></i>
        </button>
        <input type="text" name="system.sheet.abilityFilters.search" placeholder="Search" value={{system.sheet.abilityFilters.search}}>
      </div>
      {{#if system.sheet.menus.abilityOptions}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/templates/parts/character-parts/character-ability-options.hbs'}}
        </div>
      {{/if}}
      {{#if system.sheet.menus.abilityFilters}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/templates/parts/character-parts/character-ability-filter.hbs'}}
        </div>
      {{/if}}
    </div>
    {{abilityCards abilities system}}
    {{#if (not (exists abilities))}}
      <div class="no-abilities">
        <p>No abilities found.</p>
      </div>
    {{/if}}
  </div>
</div>