<div class="character-tab classes">
  <h1>Classes</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions system.sheet.menus.rankOptions null system.sheet.rankFilters.search "rank"}}
    </div>
    <div class="tcard-container {{#if system.sheet.display.rank.gapless}}gapless{{/if}} {{system.sheet.display.rank.size}}">
      {{#each ranks as |rank|}}
        {{tcard
          img=rank.img
          title=(className rank.system.archetype rank.system.className)
          subtitle=(concat "Rank " rank.system.classRank)
          text=(classArchetype rank.system.archetype)
          id=rank._id
          icons=(concat
            (ticon "comment" cssClass="share" action="share" id=rank._id)
            (ticon (firstDie rank.system.hitDie) cssClass="roll" action="useHitDie" id=rank._id)
            (ticon (firstDie rank.system.manaDie) cssClass="roll" action="useManaDie" id=rank._id)
          )
        }}
      {{/each}}
    </div>
    {{#if (not (exists ranks))}}
      <div class="no-results">
        <p>No ranks found.</p>
      </div>
    {{/if}}
  </div>
</div>