@use "../mixins" as mixins;

label + ternary-input {
  margin-left: 1px;
}

ternary-input {
  flex: none;
  --color-ternary-background: var(--color-ternary-enabled-null-background);
  --color-ternary-background-true: var(--color-ternary-enabled-true-background);
  --color-ternary-background-false: var(--color-ternary-enabled-false-background);
  --color-ternary-background-hover: var(--color-ternary-enabled-hover-background);
  --color-ternary-knob: var(--color-ternary-enabled-null-knob);
  --color-ternary-knob-true: var(--color-ternary-enabled-true-knob);
  --color-ternary-knob-false: var(--color-ternary-enabled-false-knob);
  --color-ternary-knob-hover: var(--color-ternary-enabled-hover-knob);

  &[disabled] {
    --color-ternary-background: var(--color-ternary-disabled-null-background);
    --color-ternary-background-true: var(--color-ternary-disabled-true-background);
    --color-ternary-background-false: var(--color-ternary-disabled-false-background);
    --color-ternary-knob: var(--color-ternary-disabled-null-knob);
    --color-ternary-knob-true: var(--color-ternary-disabled-true-knob);
    --color-ternary-knob-false: var(--color-ternary-disabled-false-knob);
  }

  > button {
    @include mixins.centralize;
    background-color: var(--color-ternary-background);
    border-color: var(--button-border-color);
    border-radius: 10px;
    height: 18px;
    margin: 3px;
    min-height: unset;
    padding: 1px;
    position: relative;
    width: 36px !important;

    &:not([disabled]) {
      cursor: pointer;

      &:hover {
        background-color: var(--color-ternary-background-hover);
        border-color: var(--button-hover-border-color);

        > div {
          background-color: var(--color-ternary-knob-hover);
        }
      }
    }

    > div {
      background-color: var(--color-ternary-knob);
      border-radius: 50%;
      height: 14px;
      left: 10px;
      position: absolute;
      transition: all 0.2s ease-in-out;
      width: 14px;
    }

    &[value="true"] {
      background-color: var(--color-ternary-background-true);

      > div {
        background-color: var(--color-ternary-knob-true);
        left: 19px;
      }
    }

    &[value="false"] {
      background-color: var(--color-ternary-background-false);

      > div {
        background-color: var(--color-ternary-knob-false);
        left: 1px;
      }
    }
  }
}
