<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "document-templates/shared/header.hbs")}}
      <div class="ab-bars">
        {{> (template "document-templates/item-templates/equipment-template/bars/eq-status-bar.hbs")}}
        {{> (template "document-templates/item-templates/equipment-template/bars/eq-attack-bar.hbs")}}
        {{> (template "document-templates/item-templates/equipment-template/bars/eq-load-bar.hbs")}}
        {{#if
          system.consumable}}{{> (template "document-templates/shared/consumable-bar.hbs")}}{{/if}}
        {{> (template "document-templates/item-templates/equipment-template/bars/eq-storage-bar.hbs")}}
      </div>
    </div>
    {{> (template "document-templates/item-templates/equipment-template/parts/eq-menu.hbs")}}
    <div class="ab-main">
      <div class="ab-tags-all">
        {{> (template "document-templates/item-templates/equipment-template/tags/eq-classes-tags.hbs")}}
      </div>
      {{> (template "document-templates/shared/display-fields.hbs")}}
    </div>
    {{> (template "document-templates/shared/children.hbs")}}
    {{> (template "document-templates/shared/macros.hbs")}}
  </div>
</div>
