<div id="effect-results" class="tcard-results">
  {{abilityCards effects system tab="effect" action="endCondition"}}
  <div class="no-results {{{system.sheet.display.effect.size}}}">
    <p>No effects found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>
