<div class="{{cssClass}} tsheet-page {{#if system.elderSorcery}}es-container {{elementClass system.elements}}{{/if}}">
  {{#if (eq tab "overview")}}
    {{#if system.elderSorcery}}
      <div class="es-mask-rotator"></div>
    {{/if}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> (template "document-templates/shared/header.hbs")}}
        <div class="ab-bars">
          {{> (template "document-templates/effect-templates/ability-template/bars/ab-status-bar.hbs")}}
          {{> (template "document-templates/effect-templates/ability-template/bars/ab-delivery-bar.hbs")}}
          {{> (template "document-templates/effect-templates/ability-template/bars/ab-targeting-bar.hbs")}}
          {{> (template "document-templates/effect-templates/ability-template/bars/ab-expansion-bar.hbs")}}
          {{> (template "document-templates/effect-templates/ability-template/bars/ab-costs-bar.hbs")}}
          {{#if
            system.consumable}}{{> (template "document-templates/shared/consumable-bar.hbs")}}{{/if}}
        </div>
      </div>
      {{> (template "document-templates/effect-templates/ability-template/parts/ab-menu.hbs")}}
      <div class="ab-main">
        <div class="ab-tags-all">
          {{> (template "document-templates/effect-templates/ability-template/tags/ab-summary-tags.hbs")}}
          {{> (template "document-templates/effect-templates/ability-template/tags/ab-effects-tags.hbs")}}
        </div>
        {{> (template "document-templates/shared/display-fields.hbs")}}
      </div>
      {{> (template "document-templates/shared/children.hbs")}}
      <div class="ab-main">
        <div class="teriock-form-container">
          {{#each impactEditors as |editor|}}{{{editor}}}{{/each}}
          <button class="teriock-full-width" data-action="createImpact">Create Impact</button>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (eq tab "impacts")}}
    {{> (template "document-templates/effect-templates/ability-template/parts/ab-impacts.hbs")}}
  {{/if}}
</div>
