<div class="tcard-display">
  <div class="tcard-results">
    <div class="tcard-container">
      {{#each macros as |val|}}
        {{tcard
          img=(path val.macro "img")
          title=(path val.macro "name")
          subtitle=(concat "Runs upon " (path ../config.pseudoHooks val.pseudoHook))
          text="Macro"
          icons=(concat
            (ticon "link-slash" tooltip="Unlink Macro" action="unlinkMacro" parentId=(pureUuid val.safeUuid))
            (ticon "gear-code" tooltip="Change Run Hook" action="changeMacroRunHook" parentId=(pureUuid val.safeUuid))
          )
          type="macro"
          id=(pureUuid val.safeUuid)
        }}
      {{/each}}
    </div>
  </div>
  {{#if (not (exists macros))}}
    <div class="no-results medium not-hidden">
      <p>No macros found. Drag a macro here to add it.</p>
    </div>
  {{/if}}
</div>