<div class="ab-impacts-tab ab-sheet-everything" style="width: 100%;">
  <div class="ab-sheet-top" style="border-bottom: 1px solid var(--color-border);">
    {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
  </div>
  <div class="ab-impacts" style="padding: 1rem; width: 100%;">
    <nav class="sheet-tabs tabs">
      <a data-action="changeImpactTab" data-group="sheet" data-tab="base"
         class="{{#if (eq impactTab "base")}}active{{/if}}">
        <i class="fa-solid fa-certificate" inert=""></i>
        <span>Base</span>
      </a>
      <a data-action="changeImpactTab" data-group="sheet" data-tab="proficient"
         class="{{#if (eq impactTab "proficient")}}active{{/if}}">
        <i class="fa-solid fa-award-simple" inert=""></i>
        <span>Proficient</span>
      </a>
      <a data-action="changeImpactTab" data-group="sheet" data-tab="fluent"
         class="{{#if (eq impactTab "fluent")}}active{{/if}}">
        <i class="fa-solid fa-award" inert=""></i>
        <span>Fluent</span>
      </a>
      <a data-action="changeImpactTab" data-group="sheet" data-tab="heightened"
         class="{{#if (eq impactTab "heightened")}}active{{/if}}">
        <i class="fa-solid fa-chevrons-up" inert=""></i>
        <span>Heightened</span>
      </a>
      <a data-action="changeImpactTab" data-group="sheet" data-tab="custom"
         class="{{#if (eq impactTab "custom")}}active{{/if}}">
        <i class="fa-solid fa-code" inert=""></i>
        <span>Custom</span>
      </a>
    </nav>
    <div class="ab-impacts-config" style="display: flex; flex-direction: column; gap: 1rem; margin-top: 1rem;">
      {{#if (eq impactTab "base")}}
        {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_impact-section.hbs"
          typeKey="base"
          displayName="Base Consequences"
          systemFields=systemFields
          system=system
          config=config
          editable=editable
        }}
      {{/if}}
      {{#if (eq impactTab "proficient")}}
        {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_impact-section.hbs"
          typeKey="proficient"
          displayName="Proficient Consequences"
          systemFields=systemFields
          system=system
          config=config
          editable=editable
        }}
      {{/if}}
      {{#if (eq impactTab "fluent")}}
        {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_impact-section.hbs"
          typeKey="fluent"
          displayName="Fluent Consequences"
          systemFields=systemFields
          system=system
          config=config
          editable=editable
        }}
      {{/if}}
      {{#if (eq impactTab "heightened")}}
        {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_impact-section.hbs"
          typeKey="heightened"
          displayName="Heightened Consequences"
          systemFields=systemFields
          system=system
          config=config
          editable=editable
        }}
      {{/if}}
      {{#if (eq impactTab "custom")}}
        {{> "systems/teriock/src/templates/document-templates/effect-templates/ability-template/parts/_impact-macros.hbs"}}
      {{/if}}
      {{#if (eq impactTab "customNOT")}}
        <dev class="tcard-container">
          {{#if (exists macro)}}
            {{tcard
              img=macro.img
              title=macro.name
              subtitle="Custom Ability Execution"
              text="Macro"
              icons=(ticon "link-slash" tooltip="Unlink Macro" action="unlinkMacro")
              type="macro"
              id=macro.uuid
            }}
          {{else}}
            {{tcard
              img="systems/teriock/src/icons/documents/uncertainty.svg"
              title="No Macro Set"
              subtitle="Custom Ability Execution"
              text="Macro"
              icons=""
              draggable=false
            }}
          {{/if}}
        </dev>
      {{/if}}
    </div>
    <button
      class="ab-impacts-close"
      data-action="toggleImpacts"
      style="width: 100%; margin-top: 1.5rem;"
      data-tooltip="Close Impacts"
    >
      <i class="fa-solid fa-check"></i>
      Done
    </button>
  </div>
</div>
