@use "../../mixins" as mixins;

.teriock-page-header {
  @include mixins.centralize;
  display: flex;
  flex-direction: row;
  margin-block: 4px;
  margin-left: 6px;

  .teriock-page-img {
    @include mixins.simple-two-layer-image(48px, 6px, 0.5, 5px);
    margin-right: 0.8rem;
  }

  h1 {
    width: 100%;
  }
}

.teriock-page-tags {
  @include mixins.tag-container-style;

  .page-tag {
    @include mixins.tag-style;
  }
}
