{{#if system.size.enabled}}
  <div class="teriock-sheet-bar">
    {{formBox
      (localize "TERIOCK.SYSTEMS.Species.PANELS.size.value" value=system._source.size.value)
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.size.value")
      unselected=(localize "TERIOCK.SYSTEMS.Species.PANELS.size.value" value=system.size.value)
      icon=TERIOCK.display.icons.species.size
      tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.size.value.label")
    }}
    {{#if (and (exists system.size.min) (exists system.size.max))}}
      {{formBox
        (localize "TERIOCK.SYSTEMS.Species.PANELS.size.min" value=system._source.size.min)
        action=(ifThen editable "updatePaths" "")
        dataset=(object paths="system.size.min")
        unselected=(localize "TERIOCK.SYSTEMS.Species.PANELS.size.min" value=system.size.min)
        icon=TERIOCK.display.icons.species.minSize
        tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.size.min.label")
      }}
      {{formBox
        (localize "TERIOCK.SYSTEMS.Species.PANELS.size.max" value=system._source.size.max)
        action=(ifThen editable "updatePaths" "")
        dataset=(object paths="system.size.max")
        unselected=(localize "TERIOCK.SYSTEMS.Species.PANELS.size.max" value=system.size.max)
        icon=TERIOCK.display.icons.species.maxSize
        tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.size.max.label")
      }}
    {{/if}}
  </div>
{{/if}}
