<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/src/templates/document-templates/shared/consumable-bar.hbs"}}
      </div>
    </div>
    <div class="ab-main">
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        disabled=(not editable)
      }}
    </div>
    {{> "systems/teriock/src/templates/document-templates/shared/macros.hbs"}}
  </div>
</div>
