<div class="{{cssClass}} tsheet-page">
  {{#if (eq tab "overview")}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> (template "document-templates/shared/header.hbs")}}
        <div class="ab-bars">
          {{> (template "document-templates/forms/consumable-bar.hbs")}}
        </div>
      </div>
      {{> (template "document-templates/shared/simple-menu.hbs")}}
    </div>
  {{/if}}
  {{#if (eq tab "impacts")}}
    {{> (template "document-templates/shared/automations-tab.hbs")}}
  {{/if}}
</div>
