.teriock.chat-message.triggered {
  background: url("../../../ui/parchment-white.jpg") repeat;
  --color-panel-edge: #afafaf;
  --color-panel-icon: var(--color-panel-edge);
  --color-panel-divider: var(--color-panel-edge);
}
