@mixin content-link-mixin() {
  text-decoration: underline currentColor;
  white-space: nowrap;
  word-break: break-all;
  background: none;
  border: none;
  color: var(--content-link-text-color);

  i {
    color: var(--content-link-icon-color);
    font-size: 0.8em;
    margin-right: 0.1em;
  }
}

.content-link {
  @include content-link-mixin();
}

.inline-roll {
  @include content-link-mixin();
}

.theme-light {
  --content-link-background: rgba(255, 255, 255, 0.5);
  --content-link-border-color: var(--color-panel-edge);
}

.teriock-content-link {
  @include content-link-mixin();
}

.teriock-not-content-link {
  i {
    display: none;
  }
}
