@mixin content-link-mixin() {
  text-decoration: underline currentColor;
  white-space: nowrap;
  word-break: break-word;
  background: none;
  border: none;
  color: var(--content-link-text-color);
  padding: 0;

  i {
    color: var(--content-link-icon-color);
    font-size: 0.8em;
    margin-right: 0.15em;
  }
}

.content-link {
  @include content-link-mixin();
}

.inline-roll {
  @include content-link-mixin();
}

.theme-light {
  --content-link-background: rgba(255, 255, 255, 0.5);
  --content-link-border-color: var(--color-panel-edge);
}

.teriock-content-link {
  @include content-link-mixin();
}

.teriock-inline-command {
  @include content-link-mixin();
}

.teriock-not-content-link {
  i {
    display: none;
  }
}

document-embed + document-embed {
  margin-top: 0.75em;
}

.teriock-panel-block-text {
  document-embed + document-embed {
    margin-top: 0.5em;
  }
}
