.character-window,
.tsheet-page {
  .text-preview {
    overflow-x: auto;
    padding-block: 0.125em;
  }

  .prosemirror {
    display: block;
    min-height: unset;
  }

  .prosemirror.inactive .editor-content {
    display: contents;
  }

  .prosemirror.active .editor-content {
    display: block;
  }

  .editor .editor-content .text-preview {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .ab-section-container:not(:hover) .prosemirror button.toggle,
  .ab-section-container:not(:hover) prose-mirror button.toggle,
  .es-wording-container:not(:hover) .prosemirror button.toggle,
  .es-wording-container:not(:hover) prose-mirror button.toggle {
    display: none;
  }

  .prosemirror button.toggle,
  prose-mirror button.toggle {
    font-size: xx-small;
    height: unset;
    min-height: unset;
    min-width: unset;
    padding: 0.5em;
    width: unset;
  }

  .prosemirror {
    width: 100%;
  }

  .editor {
    overflow: visible;
  }

  .character-notes-content {
    prose-mirror {
      padding: 0.5em;
    }

    .prosemirror button.toggle,
    prose-mirror button.toggle {
      font-size: medium;
      height: var(--input-height);
      padding: 0.5em;
      right: 0;
      top: 0;
      width: var(--input-height);
    }

    .editor {
      min-height: 2.3em;
    }
  }
}
