@use "../mixins";

.character-window,
.tsheet-page,
.ab-section-container {
  .text-preview {
    overflow-x: auto;
    padding-block: 0.125em;
  }

  .editor {
    overflow: visible;

    .editor-content {
      > p {
        margin-inline: 0.25em;

        &:first-child {
          margin-top: 0.25em;
        }

        &:last-child {
          margin-bottom: 0.25em;
        }
      }
    }

    .editor-content {
      @include mixins.strip-edge-margins;
    }
  }

  .prosemirror,
  .prose-mirror {
    gap: 0;
  }

  .prosemirror {
    min-height: unset;
    width: 100%;

    &.inactive .editor-content {
      display: contents;
    }

    &.active .editor-content {
      display: block;
    }
  }

  .prosemirror,
  prose-mirror {
    button.toggle {
      font-size: xx-small;
      height: unset;
      min-height: unset;
      min-width: unset;
      padding: 0.5em;
      width: unset;
    }
  }

  .ab-section-container,
  .es-wording-container {
    &:not(:hover) {
      .prosemirror,
      prose-mirror {
        button.toggle {
          display: none;
        }
      }
    }
  }

  .character-notes-content {
    prose-mirror {
      padding: 0.5em;
    }

    .prosemirror,
    prose-mirror {
      button.toggle {
        font-size: medium;
        height: var(--input-height);
        padding: 0.5em;
        right: 0;
        top: 0;
        width: var(--input-height);
      }
    }

    .editor {
      min-height: 2.3em;
    }
  }
}

.teriock.sheet.journal-entry-page .editor.prosemirror {
  margin: unset;
}

img.interaction-routine {
  margin-block: 2em;
  margin-inline: auto;
}

.teriock-text-fields {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .form-group {
    gap: 0;

    label {
      @include mixins.text-subtle;
      align-items: center;
      display: flex;
      font-weight: normal;
      line-height: 1rem;
      text-align: left;
      width: 100%;

      &::before,
      &::after {
        border-bottom: 1px solid var(--color-text-subtle);
        content: "";
      }

      &::before {
        margin-right: 0.5em;
        width: 1em;
      }

      &::after {
        flex: 1;
        margin-left: 0.5em;
      }
    }
  }
}

//@container (max-width: 249px) {
//  .teriock-text-fields {
//    .form-group {
//      label:
//    }
//  }
//}
