@use "../mixins" as mixins;

.notification-container {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  width: 100%;

  li.notification {
    padding-left: 7px;
    text-shadow: 0 0 2px black !important;
    width: 100%;
    &::before {
      font-size: small;
      margin-right: 5px;
    }
  }
}

.teriock-icon-input-group {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  width: 100%;

  i {
    flex: none;
    width: 1em;
    @include mixins.centralize;
    @include mixins.text-subtle;
    font-size: medium;
    margin-right: 0.5em;
  }
}
