@use "../mixins" as mixins;

.notification-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    text-shadow: 0 0 2px black;
    width: 100%;
  }
}

.teriock-icon-input-group {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  width: 100%;

  i {
    flex: none;
    width: 2em;
    @include mixins.centralize;
    @include mixins.text-subtle;
    font-size: medium;
  }
}
