@mixin tgrid-item-base {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;

  .hint {
    display: none;
  }

  label {
    flex: auto;
    font-weight: unset;
    line-height: unset;
  }

  &.form-group {
    padding-inline: 0.5em;
  }

  .three-toggle .three-toggle-bg {
    margin-top: 0;
  }

  multi-select {
    flex-direction: column-reverse;
    width: 100%;
  }

  button {
    overflow: hidden;
    width: 100%;
  }
}

.tgrid {
  display: grid;
  gap: 0.5em;
  width: 100%;

  @for $i from 1 through 15 {
    &.g#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .gi#{$i} {
      grid-column: span $i;
    }
  }

  .tgrid-item {
    @include tgrid-item-base;
  }
}

.teriock .ttable {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tgrid-item {
    @include tgrid-item-base;
    flex: 1 1 125px;
  }
}
