@use "../components/colors" as colors;

.notification.morganti {
  --icon-glyph: "\f54c";
  --background-color: color-mix(in srgb, #241f31, transparent 20%);
  --border-color: #77767b;
}

.teriock, .teriock-panel-block-text {
  .notification:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .notification:not(:first-child) {
    margin-top: 0.5rem;
  }
}
