@use "../mixins" as mixins;

.teriock-panels {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

[role="tooltip"]:not(.teriock-rich-tooltip) {
  .teriock-panel {
    padding: 0;
    --panel-padding: 0;
  }
}

.teriock-rich-tooltip:not(.locked-tooltip) {
  border: 1px solid var(--color-panel-edge);
}

[role="tooltip"]:not(.teriock-rich-tooltip), .teriock-rich-tooltip {
  max-height: calc(100% - 200px);

  .teriock-panel {
    background: transparent;
    border: none;

    .teriock-panel-content {
      margin-top: 4px;

      &:has(.teriock-panel-spacer .teriock-panel-body):not(:has(.teriock-panel-body *)) {
        margin-top: 0;
      }
    }
  }
}

.teriock-panel.teriock-panel-no-background {
  background: transparent;
  border: none;

  .teriock-panel-content {
    margin-top: 4px;

    &:has(.teriock-panel-spacer .teriock-panel-body):not(:has(.teriock-panel-body *)) {
      margin-top: 0;
    }
  }
}

.teriock.panel-application .window-content {
  padding: 0;

  .teriock-panel {
    border: none;
    overflow: auto;
  }
}

.teriock.panel-application .window-content, .teriock-rich-tooltip {
  .teriock-panel {
    .teriock-panel-header {
      background: none;
      cursor: unset;
      padding: var(--panel-padding);

      .teriock-panel-image {
        cursor: unset;
      }

      &:hover {
        background: none;

        .teriock-panel-header-icon {
          opacity: 1;
        }
      }
    }

    .teriock-panel-body {
      max-height: unset;
    }

    .teriock-panel-header-expander,
    .teriock-panel-association-expander {
      display: none !important;
    }
  }
}

.teriock-rich-tooltip {
  .teriock-panel {
    --panel-padding: 4px;
    padding: 4px;
    width: 300px;
  }
}

.teriock-chat-message-content {
  --panel-padding: 8px;

  .timage {
    @include mixins.inverse-roll-style;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.teriock-panel-body {
  @include mixins.gapped;
  margin: 8px var(--panel-padding) var(--panel-padding);
  opacity: 1;

  &:not(:has(*)) {
    display: none;
    margin: 0;
  }

  .notification-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
    padding: 0;

    .notification {
      border-radius: 2px;
      justify-content: flex-start;
      padding: 4px 4px 4px 6px;
      text-align: start;
      text-shadow: 0 0 2px black;

      &::before {
        font-size: small;
        margin-right: 6px;
      }
    }
  }
}

.teriock-description-panel {
  .teriock-panel-body {
    margin: 0;
  }
}

.teriock-panel-content {
  @include mixins.pseudo-top-border(var(--panel-padding));

  &:has(.teriock-panel-spacer .teriock-panel-body):not(:has(.teriock-panel-body *)) {
    display: none;
  }
}

.teriock-chat-message-content document-embed .teriock-panel {
  display: none;
}

.teriock-panel {
  @include mixins.inverse-roll-style;
  overflow: hidden;
  --panel-padding: 8px;
  width: 100%;

  figure.content-embed:has(figcaption) {
    .teriock-panel {
      display: none;
    }
  }

  .teriock-panel {
    .teriock-panel-content {
      display: none;
    }

    .teriock-panel-header {
      .teriock-panel-header-expander {
        display: none;
      }

      &:hover {
        .teriock-panel-header-icon {
          opacity: 1;
        }
      }
    }
  }

  .teriock-panel-content {
    @include mixins.collapsible;
    @include mixins.collapsible-open;

    .teriock-panel-spacer {
      overflow: hidden;
    }
  }

  &.collapsed {
    .teriock-panel-content {
      @include mixins.collapsible-closed;
    }

    .teriock-panel-header-expander {
      transform: rotate(-90deg);
    }
  }

  .teriock-panel-header {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 8px;
    position: relative;
    width: 100%;

    * {
      user-select: none;
    }

    &:hover {
      background-color: var(--color-panel-header-hover);

      .teriock-panel-header-icon {
        opacity: 0;
      }

      .teriock-panel-header-expander {
        opacity: 1;
      }
    }

    &:active {
      background-color: var(--color-panel-header-active);
    }

    .teriock-panel-image {
      @include mixins.simple-two-layer-image(2em, 4px, 0.3, 2px);
    }

    .teriock-panel-header-name {
      flex: 1 1 auto;
      font-family: "Modesto Condensed", serif;
      font-size: 1.3em;
      line-height: 1em;
      margin-left: 0.5em;
      max-width: calc(100% - 4em);
      text-align: left;
    }

    .teriock-panel-header-icon,
    .teriock-panel-header-expander {
      @include mixins.centralize;
      color: var(--color-panel-icon);
      font-size: medium;
      height: 2em;
      position: absolute;
      right: 8px;
      transition: 100ms;
      width: 2em;
    }

    .teriock-panel-header-icon {
      opacity: 1;

      .mic, .ms, .mdi {
        font-size: 100%;
      }
    }

    .teriock-panel-header-expander {
      opacity: 0;
    }
  }

  .teriock-panel-association {
    background: var(--color-panel-associations-background) !important;
    border: 1px solid var(--color-panel-edge);
    border-radius: 2px !important;
  }

  .teriock-panel-bars {
    column-gap: 4px;
    columns: 200px 2;
    user-select: none;

    * {
      user-select: none;
    }

    .teriock-panel-bar {
      align-items: start;
      display: flex;
      flex-direction: row;
      gap: 4px;
      margin-block: 3px;
      width: 100%;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .teriock-panel-bar-icon {
        @include mixins.centralize;
        align-items: baseline;
        color: var(--color-text-subtle);
        font-size: smaller;
        height: 1.5em;
        min-height: 1.5em;
        min-width: 1.5em;
        width: 1.5em;

        i {
          line-height: normal;
        }
      }

      .teriock-panel-bar-wrappers {
        @include mixins.tag-container-style;

        .teriock-panel-bar-wrapper {
          @include mixins.tag-style;
        }
      }
    }
  }

  .teriock-panel-block {
    --teriock-block-outer-border-radius: 3px;
    --teriock-block-border-radius: 2px;

    .teriock-panel-block-title {
      @include mixins.text-subtle;
      margin-bottom: 0.25rem;
      text-align: left;
      user-select: none;
    }

    .teriock-panel-block-text {
      text-align: left;

      $headings: h1, h2, h3, h4, h5, h6;

      > :is(#{$headings}) {
        @include mixins.text-subtle;
        border-top: 1px var(--panel-divider-style) var(--color-panel-divider);
        font-family: unset;
        font-size: smaller;
        font-style: normal;
        font-weight: unset;
        margin: 10px 0 0.4rem;
        padding: 10px 0 0;
        text-transform: uppercase;

        + * {
          margin-top: 0;
        }

        &:last-child,
        &:has(+ :is(#{$headings})) {
          display: none;
        }
      }

      :has(+ table) {
        margin-bottom: 0;
      }

      // I might swap back to having roll tables visible in panels in the future do do a comment swap then.
      //table:not(.roll-table-embed) {
      table {
        display: none;
      }

      @include mixins.strip-edge-margins(3);

      img.interaction-routine {
        margin-top: 1em;
      }
    }
  }

  .teriock-panel-association {
    @include mixins.roll-style;
    border-radius: 0.25em;
    overflow: hidden;
    user-select: none;

    * {
      user-select: none;
    }

    .teriock-panel-association-card-container {
      @include mixins.collapsible;
      @include mixins.collapsible-open;

      .teriock-panel-association-card-spacer {
        overflow: hidden;
      }
    }

    &.collapsed {
      .teriock-panel-association-card-container {
        @include mixins.collapsible-closed;
      }

      .teriock-panel-association-expander {
        transform: rotate(-90deg);
      }
    }

    .teriock-panel-association-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 2px;
      height: 2em;
      @include mixins.text-subtle;

      &:not(.teriock-panel-association-title) {
        border-top: 1px dotted var(--color-panel-associations-border);
      }

      .teriock-panel-association-card-name {
        @include mixins.text-cutoff;
      }

      .teriock-panel-association-row-image {
        @include mixins.simple-two-layer-image(1.5em);
        margin: 0.25em;
      }

      .teriock-panel-association-row-icon {
        @include mixins.centralize;
        height: 100%;
        margin-left: auto;
        opacity: 0.7;
        width: 2em;
      }

      .teriock-panel-association-row-badge {
        padding: 0 0.25em;
        text-wrap: nowrap;
        width: auto;
      }
    }

    .teriock-panel-association-card {
      transition: 100ms;

      &:hover {
        background-color: var(--color-panel-associations-background-hover);

        .teriock-panel-association-card-name,
        .teriock-panel-association-row-image {
          filter: drop-shadow(0 0 0 var(--color-shadow-primary));
        }
      }

      &:active {
        background-color: var(--color-panel-associations-background-active);
      }
    }

    .teriock-panel-association-title {
      cursor: pointer;
      justify-content: center;
      position: relative;
      transition: 100ms;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .teriock-panel-association-icon {
        @include mixins.centralize;
        height: 100%;
        left: 0;
        position: absolute;
        width: 2em;
      }

      .teriock-panel-association-expander {
        @include mixins.centralize;
        height: 2em;
        position: absolute;
        right: 0;
        top: 0;
        transition: 250ms;
        width: 2em;
      }
    }
  }
}
