@use "../mixins";

.teriock-panels {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

[role="tooltip"] {
  max-height: calc(100% - 200px);
  --panel-padding: 4px;

  .teriock-panel {
    border: none;
    padding: 4px;
    width: 300px;

    .teriock-panel-header {
      background: none;
      padding: var(--panel-padding) var(--panel-padding) 8px;

      &:hover {
        background: none;

        .teriock-panel-header-icon {
          opacity: 1;
        }
      }
    }

    .teriock-panel-body {
      max-height: unset;
    }

    .teriock-panel-header-expander,
    .teriock-panel-association-expander {
      display: none !important;
    }
  }
}

.teriock-chat-message-content {
  --panel-padding: 8px;

  .timage {
    @include mixins.inverse-roll-style;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .teriock-panel-image {
    border-radius: 2px !important;
  }

  .teriock-panel-association {
    background: rgba(0 0 0 / 5%) !important;
    border: 1px solid var(--color-panel-edge) !important;
    border-radius: 2px !important;
  }
}

.teriock-panel-body {
  @include mixins.gapped;
  margin: 8px var(--panel-padding) var(--panel-padding);
  opacity: 1;
  //overflow: hidden;
  &:not(:has(*)) {
    display: none;
  }
}

.teriock-panel-content {
  position: relative;

  &::after {
    background: transparent;
    border-top: 1px var(--panel-divider-style) var(--color-panel-divider);
    content: "";
    height: 0;
    left: var(--panel-padding);
    position: absolute;
    right: var(--panel-padding);
    top: 0;
  }

  &:has(.teriock-panel-spacer .teriock-panel-body:not(:has(*))) {
    display: none;
  }
}

.teriock-panel {
  @include mixins.inverse-roll-style;
  overflow: hidden;
  width: 100%;

  .teriock-panel-content {
    @include mixins.collapsible;
    @include mixins.collapsible-open;

    .teriock-panel-spacer {
      overflow: hidden;
    }
  }

  &.collapsed {
    .teriock-panel-content {
      @include mixins.collapsible-closed;
    }

    .teriock-panel-header-expander {
      transform: rotate(-90deg);
    }
  }

  .teriock-panel-header {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 8px;
    position: relative;
    user-select: none;

    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);

      .teriock-panel-header-icon {
        opacity: 0;
      }

      .teriock-panel-header-expander {
        opacity: 1;
      }
    }

    //&::before {
    //  background: transparent;
    //  border-bottom: 1px var(--panel-divider-style) var(--color-panel-divider);
    //  border-radius: 4px;
    //  content: "";
    //  left: var(--panel-padding);
    //  position: absolute;
    //  right: var(--panel-padding);
    //  top: 100%;
    //}

    .teriock-panel-image {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 2em;
      width: 2em;
      @include mixins.image-border;
      @include mixins.warm-image-container-background;

      img {
        @include mixins.warm-drop-shadow;
        @include mixins.image-position;
        height: 100%;
        width: 100%;
      }
    }

    .teriock-panel-header-name {
      flex: 1 1 auto;
      font-family: var(--font-h1), serif;
      font-size: 1.3em;
      line-height: 1em;
      margin-left: 0.5em;
      max-width: calc(100% - 4em);
      text-align: left;
    }

    .teriock-panel-header-icon,
    .teriock-panel-header-expander {
      align-items: center;
      color: var(--color-panel-edge);
      display: flex;
      font-size: medium;
      height: 2em;
      justify-content: center;
      position: absolute;
      right: 8px;
      transition: 100ms;
      width: 2em;
    }

    .teriock-panel-header-icon {
      opacity: 1;
    }

    .teriock-panel-header-expander {
      opacity: 0;
    }
  }

  .teriock-panel-bars {
    display: flex;
    flex-direction: column;
    gap: 4px;
    user-select: none;

    .teriock-panel-bar {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 4px;
      width: 100%;

      .teriock-panel-bar-icon {
        align-items: center;
        color: var(--color-text-subtle);
        display: flex;
        font-size: smaller;
        height: 1.5em;
        justify-content: center;
        min-height: 1.5em;
        min-width: 1.5em;
        width: 1.5em;

        i {
          line-height: normal;
        }
      }

      .teriock-panel-bar-wrappers {
        @include mixins.tag-container-style;

        .teriock-panel-bar-wrapper {
          @include mixins.tag-style;
        }
      }
    }
  }

  .teriock-panel-block {
    .subber {
      display: none;
    }

    .teriock-panel-block-title {
      @include mixins.text-subtle;
      text-align: left;
      user-select: none;
    }

    .teriock-panel-block-text {
      text-align: left;

      $headings: h1, h2, h3, h4, h5, h6;

      #{$headings} {
        @include mixins.text-subtle;
        border-top: 1px var(--panel-divider-style) var(--color-panel-divider);
        font-family: unset;
        font-size: smaller;
        font-style: normal;
        font-weight: unset;
        margin: 10px 0 2px;
        padding: 10px 0 0;
        text-transform: uppercase;

        + p {
          margin-top: 0;
        }

        &:last-child,
        &:has(+ :is(#{$headings})) {
          display: none;
        }
      }

      .design-note {
        display: none;
      }

      table {
        display: none;
      }

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .teriock-panel-association {
    @include mixins.roll-style;
    border-radius: 0.25em;
    overflow: hidden;
    user-select: none;

    .teriock-panel-association-card-container {
      @include mixins.collapsible;
      @include mixins.collapsible-open;

      .teriock-panel-association-card-spacer {
        overflow: hidden;
      }
    }

    &.collapsed {
      .teriock-panel-association-card-container {
        @include mixins.collapsible-closed;
      }

      .teriock-panel-association-expander {
        transform: rotate(-90deg);
      }
    }

    .teriock-panel-association-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 2px;
      height: 2em;
      @include mixins.text-subtle;

      &:not(.teriock-panel-association-title) {
        border-top: 1px dotted var(--color-panel-associations-border);
      }

      .teriock-panel-association-card-name {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }

      .teriock-panel-association-row-image {
        @include mixins.image-border;
        height: 1.5em;
        margin: 0.25em;
        min-height: 1.5em;
        min-width: 1.5em;
        width: 1.5em;

        img {
          @include mixins.warm-image-background;
        }
      }
    }

    .teriock-panel-association-card {
      transition: 100ms;

      &:hover {
        background-color: var(--color-panel-associations-background-hover);

        .teriock-panel-association-card-name,
        .teriock-panel-association-row-image {
          filter: drop-shadow(0 0 0 var(--color-shadow-primary));
        }
      }

      &:active {
        background-color: var(--color-panel-associations-background-active);
      }
    }

    .teriock-panel-association-title {
      cursor: pointer;
      justify-content: center;
      position: relative;
      transition: 100ms;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .teriock-panel-association-icon {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 1px;
        width: 2em;
      }

      .teriock-panel-association-expander {
        align-items: center;
        display: flex;
        height: 2em;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        transition: 250ms;
        width: 2em;
      }
    }
  }
}

img.rescale {
  scale: 1.67;
}

.tooltip-image {
  max-height: 1000px;
  max-width: 200px;
}
