.three-toggle {
  .three-toggle-bg {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 18px;
    justify-content: center;
    margin: 3px;
    min-height: unset;
    padding: 1px;
    position: relative;
    width: 36px !important;

    &:not([disabled]) {
      cursor: pointer;
    }

    .three-toggle-circle {
      background-color: color-mix(
        in srgb,
        var(--button-text-color),
        transparent 35%
      );
      border-radius: 50%;
      height: 14px;
      left: 10px;
      position: absolute;
      transition: all 0.2s ease-in-out;
      width: 14px;
    }

    &.toggled-on,
    &[data-value="1"] {
      background-color: var(--color-warm-2);

      .three-toggle-circle {
        background-color: var(--button-hover-text-color);
        left: 19px;
      }
    }

    &.toggled-off,
    &[data-value="-1"] {
      background-color: var(--color-warm-2);

      .three-toggle-circle {
        background-color: var(--button-hover-text-color);
        left: 1px;
      }
    }

    &:hover {
      .three-toggle-circle {
        background-color: var(--button-hover-text-color);
      }
    }
  }
}
