toggle-button {
  flex: none;

  > button {
    height: var(--input-height);
    width: var(--input-height);

    &:not([disabled]) {
      cursor: pointer;
    }

    &[value="true"] {
      background-color: var(--button-hover-background-color);
      color: var(--button-hover-text-color);
    }
  }
}
