@use "../mixins" as mixins;

.tooltip-loading {
  align-items: center;
  display: flex;
  flex-direction: column;

  .tooltip-loading-text,
  .tooltip-loading-spinner {
    @include mixins.centralize;
  }
}

.teriock-rich-tooltip {
  padding: 0 !important;
}
