.tooltip-loading {
  align-items: center;
  display: flex;
  flex-direction: column;

  .tooltip-loading-text,
  .tooltip-loading-spinner {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.teriock-rich-tooltip {
  padding: 0 !important;
}
