<div class="character-tab powers">
  <h1>Powers</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="powers">
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{blockOptions settings.menus.powerOptions null null settings.powerFilters.search "power" key="powers"
                       addAction="createPower"}}
      </div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=species
        searchKey="powers"
        displayKey="power"
        empty="powers"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=powers
        searchKey="powers"
        displayKey="power"
        empty="powers"
      }}
    </div>
  </div>
</div>