<div class="character-tab inventory">
  <h1>Inventory</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="equipment">
    {{> (template "document-templates/actor-templates/playable-template/parts/ch-money-display.hbs")}}
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{blockOptions
          settings.menus.equipmentOptions
          settings.menus.equipmentFilters
          settings.menus.equipmentSort
          settings.equipmentFilters.search
          "equipment"
          sortOptions=TERIOCK.options.display.equipmentSortOrders
          sortValue=settings.equipmentSortOption
          addAction="createEquipment" key="equipment"
          gaplessPath="flags.teriockDocumentSettings.sheetBlockInventoryGapless"
          sizePath="flags.teriockDocumentSettings.sheetBlockInventorySize"
        }}
        {{#if settings.menus.equipmentFilters}}
          <div class="teriock-block-options-content">
            {{> (template "document-templates/actor-templates/playable-template/filters/ch-equipment-filter.hbs")}}
          </div>
        {{/if}}
      </div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=equipment
        searchKey="equipment"
        empty="equipment"
        gapless="sheetBlockInventoryGapless"
        size="sheetBlockInventorySize"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=bodyParts
        searchKey="equipment"
        empty="body parts"
        gapless="sheetBlockInventoryGapless"
        size="sheetBlockInventorySize"
      }}
      <div class="teriock-block-display-divider"></div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=mounts
        searchKey="equipment"
        empty="mounts"
        gapless="sheetBlockInventoryGapless"
        size="sheetBlockInventorySize"
      }}
    </div>
  </div>
</div>
