<div class="character-tab classes">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Classes.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="ranks">
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{> (template "ui-templates/block-options.hbs")
          tab="rank"
          optionsToggle=settings.menus.rankOptions
          optionsPath="settings.menus.rankOptions"
          searchValue=settings.rankFilters.search
          searchKey="ranks"
          addAction="createRank"
          gaplessPath="flags.teriockDocumentSettings.sheetBlockClassesGapless"
          gaplessValue=flags.teriockDocumentSettings.sheetBlockClassesGapless
          sizePath="flags.teriockDocumentSettings.sheetBlockClassesSize"
          sizeValue=flags.teriockDocumentSettings.sheetBlockClassesSize
          tabDisplay=TERIOCK.options.document.rank.name
        }}
      </div>
      {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
        docs=ranks
        searchKey="ranks"
        displayKey="rank"
        empty=TERIOCK.options.document.rank.plural
        gapless="sheetBlockClassesGapless"
        size="sheetBlockClassesSize"
      }}
    </div>
  </div>
</div>
