<div class="character-tab protections">
  <h1>Protections</h1>
  <div class="character-tab-page">
    <div class="teriock-block-display">
      <div class="teriock-block-container medium">
        <div class="teriock-block-container-start" style="display: none;"></div>
        {{#each system.protections as |protection category|}}
          {{#each protection.damageTypes as |damageType|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "damage-types" damageType)
                title=(ucFirst damageType)
                subtitle="Damage type"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.drainTypes as |drainType|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "drain-types" drainType)
                title=(ucFirst drainType)
                subtitle="Drain type"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.statuses as |condition|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "conditions" condition)
                title=(path @root/TERIOCK.index.conditions condition)
                subtitle="Condition"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.elements as |element|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "elements" element)
                title=(path @root/TERIOCK.options.ability.elements element)
                subtitle="Element"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.effects as |effect|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "effect-types" effect)
                title=(path @root/TERIOCK.options.ability.effectTypes effect)
                subtitle="Effect"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.powerSources as |powerSource|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "effect-types" powerSource)
                title=(path @root/TERIOCK.options.ability.powerSources powerSource)
                subtitle="Power source"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.abilities as |ability|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "abilities" (toCamelCase ability))
                title=ability
                subtitle="Ability"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
          {{#each protection.other as |other|}}
            {{> (template "ui-templates/block.hbs")
              (object
                uuid=(ruleUuid "Keyword" (path @root/TERIOCK.options.character.protectionMap category "text"))
                makeTooltip=true
                usable=true
                img=(getIconKey "effect-types" (path @root/TERIOCK.options.character.protectionMap category "text"))
                title=other
                subtitle="Other"
                text=(path @root/TERIOCK.options.character.protectionMap category "text")
                action=(path @root/TERIOCK.options.character.protectionMap category "action")
              )
            }}
          {{/each}}
        {{/each}}
        <div class="no-results medium">
          <p>No protections found.</p>
        </div>
      </div>
    </div>
  </div>
</div>