<div id="condition-results" class="teriock-block-results">
  <div class="teriock-block-container {{{document.flags.teriockDocumentSettings.sheetBlockEffectsSize}}} {{#if
    document.flags.teriockDocumentSettings.sheetBlockEffectsGapless}}gapless{{/if}}">
    {{#each conditions as |condition|}}
      {{#if (not (path ../system.conditionInformation condition "locked"))}}
        {{> (template "ui/block.hbs")
          (merge
            (path ../conditionsMap condition "system.embedParts")
            (object
              text=(dotJoinArray (lookup ../conditionProviders condition))
              hidden=(rgx (lookup @root.searchStrings ../../searchKey) doc.name)
            )
          )
        }}
      {{else}}
        {{> (template "ui/block.hbs")
          (object
            img=(path ../TERIOCK.data.conditions condition "img")
            title=(path ../TERIOCK.data.conditions condition "name")
            subtitle=""
            text=(dotJoinArray (lookup ../conditionProviders condition))
            id=(ifThen
              (includes ../removableConditions condition)
              (path ../TERIOCK.data.conditions condition "_id")
              condition
            )
            action=(ifThen
              (eq "dead" condition)
              "deathBagPull"
              (ifThen (includes ../removableConditions condition) "rollDoc" "")
            )
            tooltip=(lookup ../conditionTooltips condition)
            icons=(object 0=(object
              icon=@root/TERIOCK.display.icons.ui.locked
              tooltip="Locked"
            ))
            type="conditionLocked"
            parentId=../id
            draggable=false
            openable=false
            usable=(eq "dead" condition)
          )
        }}
      {{/if}}
    {{/each}}
    <div class="no-results {{{document.flags.teriockDocumentSettings.sheetBlockEffectsSize}}}">
      <p>{{localize "TERIOCK.SHEETS.Common.SEARCH.noConditions"}}</p>
    </div>
  </div>
</div>
