<div id="condition-results" class="teriock-block-results">
  <div
    class="
      teriock-block-container
      {{ document.system.settings.sheet.blockEffectsSize }}
      {{#if document.system.settings.sheet.blockEffectsGapless}}
        gapless
      {{/if}}
    "
  >
    {{#each conditions as |condition|}}
      {{#if (not (path ../system.conditionInformation condition "locked"))}}
        {{> "teriock/ui/block"
          (merge
            (path ../conditionsMap condition "system.embedParts")
            (object
              color=@root/TERIOCK.display.colors.palette.red
              draggable=false
              hidden=(rgx (lookup @root.searchStrings ../../searchKey) doc.name)
              openable=false
              relative=@root/document.uuid
              text=(dotJoin (lookup ../conditionProviders condition))))
        }}
      {{else}}
        {{> "teriock/ui/block"
          (object
            action=(ifThen
              (eq "dead" condition)
              "deathBagPull"
              (ifThen (includes ../removableConditions condition) "rollDoc" ""))
            color=@root/TERIOCK.display.colors.palette.red
            draggable=false
            icons=(object 0=(object
              icon=@root/TERIOCK.display.icons.ui.locked
              tooltip="Locked"))
            id=(ifThen
              (includes ../removableConditions condition)
              (path ../TERIOCK.data.conditions condition "_id")
              condition)
            img=(path ../TERIOCK.data.conditions condition "img")
            openable=false
            parentId=../id
            subtitle=""
            text=(dotJoin (lookup ../conditionProviders condition))
            title=(path ../TERIOCK.data.conditions condition "name")
            tooltip=(lookup ../conditionTooltips condition)
            tooltipClass="teriock-rich-tooltip"
            type="conditionLocked"
            usable=(eq "dead" condition))
        }}
      {{/if}}
    {{/each}}
    <div class="no-results {{{ document.system.settings.sheet.blockEffectsSize }}}">
      <p>{{localize "TERIOCK.SHEETS.Common.SEARCH.noConditions"}}</p>
    </div>
  </div>
</div>
