<div
  class="
    teriock-block-container
    {{#if gapless}}
      gapless
    {{/if}}
    {{ size }}
  "
>
  {{#unless docs.length}}
    <div class="teriock-block-container-start" style="display: none;"></div>
  {{/unless}}
  {{#each docs as |entry|}}
    {{> "teriock/ui/block"
      (merge
        entry.doc.embedParts
        (object relative=@root.document.uuid hidden=entry.hidden))
    }}
  {{/each}}

  <div class="no-results {{ size }}">
    <p>
      {{localize
        "TERIOCK.SHEETS.Common.SEARCH.noResultsNamed"
        name=empty
      }}
    </p>
  </div>
</div>
