<div class="{{cssClass}} tsheet-page">
  {{#if (eq tab "overview")}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> (template "document-templates/shared/header.hbs")}}
        <div class="ab-bars">
          {{> (template "document-templates/effect-templates/property-template/bars/pr-status-bar.hbs")}}
        </div>
      </div>
      {{> (template "document-templates/effect-templates/property-template/parts/pr-menu.hbs")}}
      <div class="ab-main">
        {{> (template "document-templates/shared/tags.hbs")}}
        {{> (template "document-templates/shared/display-fields.hbs")}}
      </div>
      {{> (template "document-templates/shared/children.hbs")}}
    </div>
  {{/if}}
  {{#if (eq tab "impacts")}}
    {{> (template "document-templates/shared/automations-tab.hbs")}}
  {{/if}}
</div>
