<div class="ab-impacts-tab ab-sheet-everything" style="width: 100%;">
  <div class="ab-sheet-top" style="border-bottom: 1px solid var(--color-border);">
    {{> (template "document-templates/shared/header.hbs")}}
  </div>
  <div style="padding: 1rem; width: 100%; gap: 1rem; display: flex; flex-direction: column;">
    <button
      class="ab-impacts-close"
      data-action="toggleImpacts"
      style="width: 100%;"
      data-tooltip="Close Impacts"
    >
      {{makeIcon TERIOCK.display.icons.ui.back "button"}} Back
    </button>
    {{> (template "ui-templates/automations-collection.hbs")}}
  </div>
</div>