<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.quantity
      disabled=(not editable)
      value=system.quantity
    )
    icon=TERIOCK.display.icons.ui.quantity
    unselected=(concat system.quantity " Remaining")
    tooltip=(localize "TERIOCK.SYSTEMS.Consumable.FIELDS.quantity.label")
  }}
  {{formBox
    (formInput
      systemFields.maxQuantity
      disabled=(not editable)
      value=system._source.maxQuantity.raw
    )
    icon=TERIOCK.display.icons.ui.maximum
    unselected=(concat
      (ifThen system.maxQuantity.raw system.maxQuantity.value "No") " Maximum"
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Consumable.FIELDS.maxQuantity.raw.label")
  }}
</div>