<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.quantity
      dataset=(object tooltip="Quantity")
      disabled=(not editable)
      value=system.quantity
    )
    icon=TERIOCK.display.icons.ui.quantity
    unselected=(concat system.quantity " Remaining")
  }}
  {{formBox
    (formInput
      systemFields.maxQuantity
      dataset=(object tooltip="Maximum Quantity")
      disabled=(not editable)
      value=system._source.maxQuantity.raw
    )
    icon=TERIOCK.display.icons.ui.maximum
    unselected=(concat
      (ifThen system.maxQuantity.raw system.maxQuantity.value "No") " Maximum"
    )
  }}
</div>