<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.quantity
      dataset=(object tooltip="Quantity")
      disabled=(not editable)
      value=system.quantity
    )
    icon="hashtag"
    unselected=(concat system.quantity " Remaining")
  }}
  {{formBox
    (formInput
      systemFields.maxQuantity.fields.saved
      dataset=(object tooltip="Maximum Quantity")
      disabled=(not editable)
      value=system.maxQuantity.saved
    )
    icon="infinity"
    unselected=(concat
      (ifThen system.maxQuantity.saved system.maxQuantity.value "No") " Maximum"
    )
  }}
</div>