{{#each displayFieldButtons}}
  {{#if editable}}
    <div class="tgrid-item">
      <button
        data-action="populateField"
        data-path="{{fieldPath}}"
        {{#if (not ../editable)}}
        disabled="disabled"
        {{/if}}
      >{{makeIcon ../TERIOCK.display.icons.ui.add "button"}}{{name}}</button>
    </div>
  {{/if}}
{{/each}}