<div class="effects-container">
  {{#if (or editable (exists abilities))}}
    <div class="ab-main">
      {{#if editable}}
        <button class="createAbility" data-action="createAbility">Add Ability</button>{{/if}}
      {{#each abilities as |doc|}}
        {{> (template "ui-templates/block.hbs") (merge doc.embedParts (object
          relative=../document.uuid))}}
      {{/each}}
    </div>
  {{/if}}
  {{#if (or editable (exists resources))}}
    <div class="ab-main">
      {{#if editable}}
        <button class="createResource" data-action="createResource">Add Resource</button>{{/if}}
      {{#each resources as |doc|}}
        {{> (template "ui-templates/block.hbs") (merge doc.embedParts (object
          relative=../document.uuid))}}
      {{/each}}
    </div>
  {{/if}}
  {{#if (or editable (exists fluencies))}}
    <div class="ab-main">
      {{#if editable}}
        <button class="createFluency" data-action="createFluency">Add Fluency</button>{{/if}}
      {{#each fluencies as |doc|}}
        {{> (template "ui-templates/block.hbs") (merge doc.embedParts (object
          relative=../document.uuid))}}
      {{/each}}
    </div>
  {{/if}}
</div>