<div class="teriock-block-display">
  <div class="teriock-block-results">
    <div class="teriock-block-container">
      {{#each macros as |val|}}
        {{> (template "ui-templates/block.hbs")
          (object
            img=(path val.macro "img")
            title=(path val.macro "name")
            subtitle=(concat "Runs upon " (path ../TERIOCK.system.pseudoHooks val.pseudoHook))
            text="Macro"
            openable=true
            icons=(object
              0=(object
                icon=@root/TERIOCK.display.icons.ui.unlink
                tooltip="Unlink Macro"
                action="unlinkMacro"
              )
              1=(object
                icon=@root/TERIOCK.display.icons.ui.changeMacro
                tooltip="Change Run Hook"
                action="changeMacroRunHook"
              )
            )
            type="macro"
            uuid=(pureUuid val.safeUuid)
            classes="macro-card hooked-macro-card"
          )
        }}
      {{/each}}
      {{#if (not (exists macros))}}
        <div class="no-results medium not-hidden">
          <p>No macros found. Drag a macro here to add it.</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>