{{#if (or (exists macros) editable)}}
  <div class="ab-main">
    <div class="teriock-block-results">
      <div class="teriock-block-container">
        {{#each macros as |macro|}}
          {{> (template "ui-templates/block.hbs")
            (object
              img=macro.img
              title=macro.name
              subtitle=(concat "Runs upon using this " ../document.type)
              text="Macro"
              icons=(ticon "link-slash" tooltip="Unlink Macro" action="unlinkMacro" parentId=macro.uuid)
              type="macro"
              id=macro.uuid
              classes="macro-card"
            )
          }}
        {{/each}}
        {{#if (not (exists macros))}}
          <div class="no-results medium not-hidden">
            <p>No macros found. Drag a macro here to add it.</p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
