{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-organize-attributes", "@poliklot/prettier-plugin-handlebars"],
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "handlebars"
      }
    },
    {
      "files": "*.json",
      "options": {
        "jsonRecursiveSort": true,
        "plugins": ["prettier-plugin-sort-json"],
        "printWidth": 1
      }
    }
  ]
}
