{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "jsonRecursiveSort": true,
        "plugins": ["prettier-plugin-sort-json"],
        "printWidth": 1
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-attributes",
    "@poliklot/prettier-plugin-handlebars",
    "prettier-plugin-sort-json"
  ],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false
}
