<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Mana storing</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.manaStoring"
      value="{{system.manaStoring}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{enrichedManaStoring}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{enrichedManaStoring}}}</div>
  {{/if}}
</div>
