<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Equipment type rules</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.specialRules"
      value="{{system.specialRules}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{enrichedSpecialRules}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{enrichedSpecialRules}}}</div>
  {{/if}}
</div>
