$tborder: var(--color-border);
$tborder-subtle: green;
$tborder-strong: green;
$ttext: var(--color-text-primary);
$ttext-emphatic: var(--color-text-emphatic);
$ttext-subtle: var(--color-text-subtle);
$ttext-secondary: var(--color-text-secondary);
$ttext-accent: var(--color-text-accent);
$tshadow-dark: var(--color-shadow-dark);
$tshadow-primary: var(--color-shadow-primary);
$tshadow-highlight: var(--color-shadow-highlight);