.ter-card {
  position: relative;
  .ter-card-border {
    position: relative;
    border: 1px solid #767270;
    border-radius: 0.5em;
    margin: 1em;
    -webkit-mask-image: linear-gradient(black, black),
      linear-gradient(
        to right,
        transparent 0,
        transparent 1em,
        black 1em,
        black calc(100% - 0.5em),
        transparent calc(100% - 0.5em),
        transparent 100%
      );
    -webkit-mask-size: 100% 100%, 100% 0.8em;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top, top;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .ter-card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin-inline: 2em;
    .ter-card-title {
      font-size: 1em;
      text-transform: uppercase;
      color: #767270;
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      margin-inline: 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #767270;
        margin-left: 0.5em;
      }
    }
  }

  .ter-card-content {
    margin: 1em;
  }
}

table {
  margin: 0;
  margin-top: 1em;
}

.tc,
.tl,
.tr {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tl {
  justify-content: flex-start;
  text-align: left;
}
.tr {
  justify-content: flex-end;
  text-align: right;
}
.ts {
  flex: 0;
}
.tb {
  justify-content: space-between;
}

.tcard-container {
  width: 100%;
  max-width: 560px;
  gap: 8px;
  --tcard-height: 56px;
  --tcard-outer-border-radius: 8px;
  --tcard-inner-border-width: 1px;
  --tcard-title-font-size: 1em;
  --tcard-subtitle-font-size: 0.8em;
  --tcard-image-padding: 8px;
  --tcard-titles-padding-left: 0;
  --tcard-titles-flex-direction: column;
  --tcard-titles-align-items: flex-start;
  --tcard-titles-gap: 0;
  --tcard-content-padding: 10px;
  --tcard-content-flex-direction: column;
  --tcard-content-align-items: end;
  --tcard-content-gap: 0;
  --tcard-content-font-size: 0.8em;
  --tcard-icons-gap: 6px;
  &.large {
    --tcard-height: 84px;
    --tcard-title-font-size: 1.5em;
    --tcard-subtitle-font-size: 1em;
    --tcard-content-padding: 14px;
    --tcard-content-font-size: 0.9em;
  }
  &.small {
    --tcard-height: 42px;
    --tcard-outer-border-radius: 6px;
    --tcard-image-padding: 6px;
    --tcard-titles-padding-left: 2px;
    --tcard-titles-flex-direction: row;
    --tcard-titles-align-items: center;
    --tcard-titles-gap: 8px;
    --tcard-content-padding: 8px;
    --tcard-content-flex-direction: row;
    --tcard-content-align-items: center;
    --tcard-content-gap: 8px;
    --tcard-icons-gap: 8px;
  }
  &.tiny {
    --tcard-height: 28px;
    --tcard-outer-border-radius: 4px;
    --tcard-image-padding: 4px;
    --tcard-titles-padding-left: 2px;
    --tcard-titles-flex-direction: row;
    --tcard-titles-align-items: center;
    --tcard-titles-gap: 8px;
    --tcard-content-padding: 8px;
    --tcard-content-flex-direction: row;
    --tcard-content-align-items: center;
    --tcard-content-gap: 8px;
    --tcard-icons-gap: 8px;
  }
  --tcard-border-radius: var(--tcard-outer-border-radius);
  &.gapless {
    --tcard-inner-border-width: 0;
    --tcard-border-radius: 0;
    gap: 0;
  }
  display: flex;
  flex-direction: column;
  .tcard {
    height: var(--tcard-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--tcard-border-radius);
    transition: all 0.15s ease-in-out;
    &:first-child {
      border-top-left-radius: var(--tcard-outer-border-radius);
      border-top-right-radius: var(--tcard-outer-border-radius);
    }
    &:last-child {
      border-bottom-left-radius: var(--tcard-outer-border-radius);
      border-bottom-right-radius: var(--tcard-outer-border-radius);
    }
    &:not(:first-child) {
      border-top-width: var(--tcard-inner-border-width);
    }
    &:hover {
      box-shadow: 0 0 8px var(--color-shadow-primary);
    }
    .tcard-image {
      width: var(--tcard-height);
      height: var(--tcard-height);
      border-radius: var(--tcard-border-radius);
      padding: var(--tcard-image-padding);
      overflow: hidden;
    }
    .tcard-body {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      .tcard-titles {
        display: flex;
        flex-direction: var(--tcard-titles-flex-direction);
        align-items: var(--tcard-titles-align-items);
        gap: var(--tcard-titles-gap);
        flex-shrink: 0;
        padding-left: var(--tcard-titles-padding-left);
        .tcard-title {
          font-size: var(--tcard-title-font-size);
          color: var(--color-text);
        }
        .tcard-subtitle {
          font-size: var(--tcard-subtitle-font-size);
          color: var(--color-text-subtle);
          text-transform: uppercase;
        }
      }
    }
    .tcard-content {
      display: flex;
      flex-direction: var(--tcard-content-flex-direction);
      justify-content: space-between;
      align-items: var(--tcard-content-align-items);
      height: 100%;
      padding: var(--tcard-content-padding);
      gap: var(--tcard-content-gap);
      .tcard-text {
        font-size: 0.8em;
        color: var(--color-text-subtle);
        text-transform: uppercase;
      }
      .tcard-icons {
        font-size: 0.8em;
        color: var(--color-text-subtle);
        text-transform: uppercase;
        display: flex;
        flex: row;
        gap: var(--tcard-icons-gap);
        i {
          &:hover {
            color: var(--color-text-emphatic);
          }
          &:active {
            color: var(--color-text-accent);
          }
        }
      }
    }
  }
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 0.5em;
  .filter-grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    input[type="checkbox"] {
      margin-right: 2em;
    }
    multi-select {
      width: 100%;
      flex-direction: column-reverse;
    }
  }
  .grid-item-2 {
    grid-column: span 2;
  }
  .grid-item-4 {
    grid-column: span 4;
  }
}