{{~#with @root.document.flags.teriockDocumentSettings as |settings|~}}
  <div class="teriock-block-container
              {{#if (lookup settings ../gapless)}}gapless{{/if}}
    {{lookup settings ../size}}">
    {{#each ../docs as |doc|}}
      {{> (template "ui-templates/block.hbs")
        (merge
          doc.embedParts
          (object hidden=(rgx (lookup @root.searchStrings ../../searchKey) doc.name) relative=../../document.uuid)
        )
      }}
    {{/each}}

    <div class="no-results {{lookup settings ../size}}">
      <p>No {{../empty}} found.</p>
    </div>
  </div>
{{/with}}
