{{#if
  (or
    (exists system.av.saved)
    (exists system.bv.saved)
    (exists system.damage.base.saved)
    (exists system.range.long.saved)
  )
}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.damage.fields.base.fields.saved
        dataset=(object tooltip="Damage")
        disabled=(not editable)
        value=system.damage.base.saved
      )
      secondary=(formInput
        systemFields.damage.fields.twoHanded.fields.saved
        dataset=(object tooltip="Two-Handed Damage")
        disabled=(not editable)
        value=system.damage.twoHanded.saved
      )
      icon=(firstDie system.damage.base.saved)
      include=(exists system.damage.base.saved)
      includeSecondary=(exists system.damage.twoHanded.saved)
      label="DMG"
      unselected=system.damage.base.raw
      unselectedSecondary=system.damage.twoHanded.raw
    }}
    {{formBox
      (formInput
        systemFields.range.fields.long.fields.saved
        dataset=(object tooltip="Range")
        disabled=(not editable)
        value=system.range.long.saved
      )
      secondary=(formInput
        systemFields.range.fields.short.fields.saved
        dataset=(object tooltip="Short Range")
        disabled=(not editable)
        value=system.range.short.saved
      )
      after=false
      icon=(path TERIOCK.display.icons "range")
      include=(exists system.range.long.saved)
      includeSecondary=(exists system.range.short.saved)
      label="ft"
      unselected=system.range.long.raw
      unselectedSecondary=system.range.short.raw
    }}
    {{formBox
      (formInput
        systemFields.av.fields.saved
        dataset=(object tooltip="Armor Value")
        disabled=(not editable)
        value=system.av.saved
      )
      icon=(path TERIOCK.display.icons "av")
      include=(exists system.av.saved)
      label="AV"
      unselected=system.av.value
    }}
    {{formBox
      (formInput
        systemFields.bv.fields.saved
        dataset=(object tooltip="Block Value")
        disabled=(not editable)
        value=system.bv.saved
      )
      icon=(path TERIOCK.display.icons "bv")
      include=(exists system.bv.saved)
      label="BV"
      unselected=system.bv.value
    }}
  </div>
{{/if}}
