{{#if
  (or
    (exists system.av.raw)
    (exists system.bv.raw)
    (exists system.damage.base.raw)
    (exists system.range.long.raw)
  )
}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.damage.fields.base.fields.saved
        dataset=(object tooltip="Damage")
        disabled=(not editable)
        value=system.damage.base.saved
      )
      secondary=(formInput
        systemFields.damage.fields.twoHanded.fields.saved
        dataset=(object tooltip="Two-Handed Damage")
        disabled=(not editable)
        value=system.damage.twoHanded.saved
      )
      icon=(firstDie system.damage.base.saved)
      include=(exists system.damage.base.saved)
      includeSecondary=system.hasTwoHandedAttack
      label="DMG"
    }}
    {{formBox
      (formInput
        systemFields.av.fields.saved
        dataset=(object tooltip="Armor Value")
        disabled=(not editable)
        value=system.av.saved
      )
      icon=(path TERIOCK.display.icons "av")
      include=(exists system.av.saved)
      label="AV"
      unselected=system.av.value
    }}
    {{formBox
      (formInput
        systemFields.bv.fields.saved
        dataset=(object tooltip="Block Value")
        disabled=(not editable)
        value=system.bv.saved
      )
      icon=(path TERIOCK.display.icons "bv")
      include=(exists system.bv.saved)
      label="BV"
      unselected=system.bv.value
    }}
    {{formBox
      (formInput
        systemFields.attackPenalty.fields.saved
        dataset=(object tooltip="Attack Penalty")
        disabled=(not editable)
        value=system.attackPenalty.saved
      )
      icon=(path TERIOCK.display.icons "ap")
      include=(exists system.attackPenalty.saved)
      label="AP"
      unselected=system.attackPenalty.value
    }}
  </div>
{{/if}}