{{#if
  (or
    (exists system.damage)
    (exists system.range)
    (exists system.av)
    (exists system.bv)
  )
}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.damage
        value=system.damage
        disabled=(not editable)
        classes="ability-bar-input damage-input"
        dataset=(object tooltip="Damage")
      )
      secondary=(formInput
        systemFields.twoHandedDamage
        value=system.twoHandedDamage
        disabled=(not editable)
        classes="ability-bar-input two-handed-damage-input"
        dataset=(object tooltip="Two-Handed Damage")
      )
      label="DMG"
      icon=(firstDie system.damage)
      include=system.damage
      includeSecondary=(exists system.twoHandedDamage)
    }}
    {{formBox
      (formInput
        systemFields.range
        value=system.range
        disabled=(not editable)
        classes="ability-bar-input range-input"
        dataset=(object tooltip="Range")
      )
      secondary=(formInput
        systemFields.shortRange
        value=system.shortRange
        disabled=(not editable)
        classes="ability-bar-input range-input"
        dataset=(object tooltip="Short Range")
      )
      after=false
      label="ft"
      icon=(path TERIOCK.display.icons "range")
      include=(exists system.range)
      includeSecondary=(exists system.shortRange)
    }}
    {{formBox
      (formInput
        systemFields.av
        value=system.av
        disabled=(not editable)
        classes="ability-bar-input av-input"
        dataset=(object tooltip="Armor Value")
      )
      label="AV"
      icon=(path TERIOCK.display.icons "av")
      include=(exists system.av)
    }}
    {{formBox
      (formInput
        systemFields.bv
        value=system.bv
        disabled=(not editable)
        classes="ability-bar-input bv-input"
        dataset=(object tooltip="Block Value")
      )
      include=(exists system.bv)
      icon=(path TERIOCK.display.icons "bv")
      label="BV"
    }}
  </div>
{{/if}}
