{{#if
  (or
    (exists system.av)
    (exists system.bv)
    (exists system.damage)
    (exists system.range)
  )
}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.damage
        dataset=(object tooltip="Damage")
        disabled=(not editable)
        value=system.damage
      )
      secondary=(formInput
        systemFields.twoHandedDamage
        dataset=(object tooltip="Two-Handed Damage")
        disabled=(not editable)
        value=system.twoHandedDamage
      )
      icon=(firstDie system.damage)
      include=(exists system.damage)
      includeSecondary=(exists system.twoHandedDamage)
      label="DMG"
    }}
    {{formBox
      (formInput
        systemFields.range
        dataset=(object tooltip="Range")
        disabled=(not editable)
        value=system.range
      )
      secondary=(formInput
        systemFields.shortRange
        dataset=(object tooltip="Short Range")
        disabled=(not editable)
        value=system.shortRange
      )
      after=false
      icon=(path TERIOCK.display.icons "range")
      include=(exists system.range)
      includeSecondary=(exists system.shortRange)
      label="ft"
    }}
    {{formBox
      (formInput
        systemFields.av.fields.saved
        dataset=(object tooltip="Armor Value")
        disabled=(not editable)
        value=system.av.saved
      )
      icon=(path TERIOCK.display.icons "av")
      include=(exists system.av.saved)
      label="AV"
      unselected=system.av.value
    }}
    {{formBox
      (formInput
        systemFields.bv.fields.saved
        dataset=(object tooltip="Block Value")
        disabled=(not editable)
        value=system.bv.saved
      )
      icon=(path TERIOCK.display.icons "bv")
      include=(exists system.bv.saved)
      label="BV"
      unselected=system.bv.value
    }}
  </div>
{{/if}}
