<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.tier
      value=system._source.tier.raw
      disabled=(not editable)
      dataset=(object tooltip="Presence Tier")
    )
    icon=(path TERIOCK.display.icons "tier")
    label="TIER"
    unselected=(ifThen system.tier.raw system.tier.value 0)
  }}
  {{formBox
    (formInput
      systemFields.weight
      value=system._source.weight.raw
      disabled=(not editable)
      dataset=(object tooltip="Weight")
    )
    icon=(path TERIOCK.display.icons "weight")
    label="lb"
    unselected=system.weight.value
  }}
  {{formBox
    (formInput
      systemFields.minStr
      value=system._source.minStr.raw
      disabled=(not editable)
      dataset=(object tooltip="Minimum STR")
    )
    icon=(path TERIOCK.display.icons "minStr")
    label="STR"
    unselected=system.minStr.value
  }}
</div>