{{#if system.storage.enabled}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.storage.fields.maxCount
        dataset=(object tooltip=(concat
          (ifThen system.storage.isOverCountCapacity "Over " "") "Maximum Number of Items Carried"))
        disabled=(not editable)
        value=system._source.storage.maxCount.raw
      )
      icon=(path TERIOCK.display.icons "maxCount")
      unselected=(concat system.storage.carriedCount " / " system.storage.maxCount.value)
      label="ITEMS"
      iconColor=(ifThen
        system.storage.isOverCountCapacity
        TERIOCK.display.colors.red
        null
      )
    }}
    {{formBox
      (formInput
        systemFields.storage.fields.maxWeight
        dataset=(object tooltip=(concat
          (ifThen system.storage.isOverWeightCapacity "Over " "") "Maximum Weight Carried"))
        disabled=(not editable)
        value=system._source.storage.maxWeight.raw
      )
      icon=(path TERIOCK.display.icons "maxWeight")
      unselected=(concat (roundTo system.storage.carriedWeight 2) " / " system.storage.maxWeight.value)
      label="lb"
      iconColor=(ifThen
        system.storage.isOverWeightCapacity
        TERIOCK.display.colors.red
        null
      )
    }}
    {{formBox
      (formInput
        systemFields.storage.fields.weightMultiplier
        dataset=(object tooltip="Weight Multiplier")
        disabled=(not editable)
        value=system._source.storage.weightMultiplier
      )
      icon=(path TERIOCK.display.icons "weightMultiplier")
      unselected=system.storage.weightMultiplier
    }}
  </div>
{{/if}}