<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.equipment.powerLevel system.powerLevel "name")
    classes=(ifThen editable "power-level-box")
    icon=(path TERIOCK.options.equipment.powerLevel system.powerLevel "icon")
    iconColor=(path TERIOCK.options.equipment.powerLevel system.powerLevel "color")
    tooltip="Power Level"
  }}
  {{formBox
    (formInput
      systemFields.equipmentType
      value=system.equipmentType
      disabled=(not editable)
    )
    tooltip="Equipment Type"
    icon="staff"
  }}
  {{#if document.actor}}
    {{formBox
      (ifThen system.equipped "Equipped" "Unequipped")
      icon=(ifThen system.equipped "check" "xmark")
      tooltip="Equipped?"
      action=(ifThen editable "toggleEquipped")
    }}
  {{/if}}
</div>
