// Add custom fonts by visiting and search https://fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Cinzel:wght@400..900&family=Great+Vibes&family=Mea+Culpa&family=Quintessential&family=Tagesschrift&display=swap");

// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";

.tsheet,
.tsheet-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles limited to teriock sheets */
.teriock {
  @import "components/common";
  @import "components/ability";
  @import "components/actor";
  @import "components/character";
  @import "components/elder-sorcery";
}

.application.sheet.teriock:not(.minimized) {
  min-width: 250px;
  .window-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .window-content {
    padding: 0 !important;
    gap: 0 !important;
    container-type: inline-size;
    overflow: auto;
  }
}
.application.sheet.teriock.character:not(.minimized) {
  overflow: unset;
  min-height: 375px;
  min-width: 500px;
  backdrop-filter: blur(4px);
  .window-content {
    display: contents;
    overflow: unset;
  }
}

.prosemirror {
  min-height: unset;
  display: block;
}

.prosemirror.inactive .editor-content {
  display: contents;
}
.prosemirror.active .editor-content {
  display: block;
}

.editor .editor-content {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.ab-section-container:not(:hover) .prosemirror button.toggle,
.ab-section-container:not(:hover) prose-mirror button.toggle,
.es-wording-container:not(:hover) .prosemirror button.toggle,
.es-wording-container:not(:hover) prose-mirror button.toggle {
  display: none;
}
.prosemirror button.toggle,
prose-mirror button.toggle {
  font-size: xx-small;
  padding: 0.5em;
  height: unset;
  width: unset;
  min-height: unset;
  min-width: unset;
}

.es-wording .prosemirror button.toggle,
.es-wording prose-mirror button.toggle {
  right: -1.5em;
}

.prosemirror {
  width: 100%;
}

.thover {
  cursor: pointer;
  &:hover {
    color: var(--color-text-selection);
  }
  &:active {
    color: var(--color-text-secondary);
  }
}

.character-notes-content {
  // padding-inline: 1em !important;
  // padding-block: 0.5em !important;
  .prosemirror button.toggle,
  prose-mirror button.toggle {
    top: 0;
    right: 0;
    font-size: medium;
    padding: 0.5em;
    height: var(--input-height);
    width: var(--input-height);
  }
  .editor {
    min-height: 2.3em;
  }
}

.chat-message {
  overflow: hidden
}

.editor {
  overflow: visible;
}

/* New global styles */
@import "utils/fonts";
