// Add custom fonts by visiting and search https://fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";


.themed.theme-light {
  --tbg: #{url("../assets/parchment.jpg") repeat};
}
.themed.theme-dark {
  --tbg: var(--color-bg);
}

/* Styles limited to teriock sheets */
.teriock {
  @import "components/common";
  @import "components/ability";
  @import "components/actor";
  @import "components/character";
}

.application.sheet.teriock:not(.minimized) {
  min-width: 250px;
  .window-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .window-content {
    padding: 0 !important;
    container-type: inline-size;
    overflow: auto;
  }
}
.application.sheet.teriock.character:not(.minimized) {
  overflow: unset;
  min-height: 350px;
  min-width: 500px;
  .window-content {
    display: contents;
    overflow: unset;
  }
}

.prosemirror {
  min-height: unset;
  display: block;
}

.prosemirror.inactive .editor-content {
  display: contents;
}
.prosemirror.active .editor-content {
  display: block;
}

.ab-section-container:not(:hover) .prosemirror button.toggle, .ab-section-container:not(:hover) prose-mirror button.toggle {
  display: none;
}
.prosemirror button.toggle, prose-mirror button.toggle {
  font-size: xx-small;
  padding: 0.5em;
  height: unset;
  width: unset;
  min-height: unset;
  min-width: unset;
}

/* New global styles */
@import "utils/fonts";