<div class="ab-bar">
  {{formBox
    (getName system.archetype)
    icon=(path TERIOCK.config.class.archetypes system._source.archetype "icon")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.archetype.label")
    classes=(ifThen editable "archetype-box" "")
  }}
  {{formBox
    (getName system.class)
    icon=system.classIcon
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.class.label")
    classes=(ifThen editable "class-box" "")
  }}
  {{formBox
    (formInput
      systemFields.number
      value=system.number
      disabled=(not editable))
    unselected=(localize "TERIOCK.SYSTEMS.Rank.PANELS.rank" value=system.number)
    icon=TERIOCK.config.document.rank.icon
    classes=(ifThen editable "rank-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.number.label")
  }}
</div>
