<div class="teriock-sheet-bar">
  {{formBox
    (getName system.archetype)
    action=(ifThen editable "editClass" "")
    icon=(path TERIOCK.config.class.archetypes system._source.archetype "icon")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.archetype.label")
  }}
  {{formBox
    (getName system.class)
    action=(ifThen editable "editClass" "")
    icon=system.classIcon
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.class.label")
  }}
  {{formBox
    (localize "TERIOCK.SYSTEMS.Rank.PANELS.rank" value=system._source.number)
    action=(ifThen editable "updatePaths" "")
    dataset=(object paths="system.number")
    unselected=(localize "TERIOCK.SYSTEMS.Rank.PANELS.rank" value=system.number)
    icon=TERIOCK.config.document.rank.icon
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.number.label")
  }}
</div>
