<div class="ab-bar">
  {{> (template "sheets/shared/forms/max-av-form.hbs")}}
  {{formBox
    (ifThen
      system.innate
      (localize "TERIOCK.SYSTEMS.Rank.PANELS.innate")
      (localize "TERIOCK.SYSTEMS.Rank.PANELS.learned")
    )
    action=(ifThen editable "toggleInnate" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.PANELS.origin")
    icon=(ifThen system.innate "person-rays" "book")
  }}
</div>