<div class="teriock-sheet-bar">
  {{> "teriock/sheets/shared/forms/max-av-form"}}
  {{
    formBox
    (path TERIOCK.config.class.origins system.origin "label")
    action=(ifThen editable "editOrigin" "")
    icon=(path TERIOCK.config.class.origins system.origin "icon")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.origin.label")
  }}
</div>
