.ab-sheet-sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
}

.ab-sheet-top {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.ab-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &.shattered {
    background: url("../src/assets/shattered.png") no-repeat center center;
    background-size: cover;
  }

  .ab-profile-img {
    top: 0;
    left: 0;
    display: block;
    height: 4em;
    width: 4em;
    // padding: 1em;
    position: relative;
    flex: 0 0 auto;

    img {
      border: none;
      max-width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      height: inherit;
      width: inherit;
      cursor: pointer;
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
    }

    &::after {
      content: "";
      display: block;
      top: 0.5em;
      right: 0;
      height: calc(100% - 1em);
      width: 1px;
      position: absolute;
      background-color: var(--color-border);
      opacity: 0.5;
      transform: translateX(50%);
    }
  }

  .ab-title {
    // height: clamp(3em, 6vw, 6em);
    padding-inline: 0.5em;
    flex: 1 1 auto;
    min-width: 0;

    input,
    .ab-title-text {
      //   font-size: clamp(1.25rem, 4vw, var(--font-size-48));
      font-size: clamp(1rem, 4vw, 2rem);
      padding: 0;
      height: 100%;
      border: none;
      background: none;
      text-align: center;
      font-weight: lighter;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-shadow: none;
      margin: 0 0 0 14px;
      width: calc(100% - 28px);

      &.tfont,
      &.tfont- {
        font-family: var(--font-h1), serif;
      }
    }

    input {
      &:hover {
        background-color: color-mix(
                        in srgb,
                        var(--color-text-primary),
                        transparent 90%
        );
      }

      &:active {
        background-color: color-mix(
                        in srgb,
                        var(--color-text-primary),
                        transparent 80%
        );
      }
    }
  }

  .ab-top-buttons-container {
    height: 4em;
    width: 4em;
    flex: 0 0 auto;

    .ab-top-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0.5em;
      width: 4.5em;
      position: absolute;
      right: 0;
    }
  }
}

.ab-bars {
  border-bottom: 1px solid var(--color-border);

  .ab-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid var(--color-border);

    .ab-box-container {
      position: relative;
      flex: 1;

      &:not(:last-child)::after {
        content: "";
        display: block;
        top: 0.5em;
        right: 0;
        height: calc(100% - 1em);
        width: 1px;
        position: absolute;
        background-color: var(--color-border);
        opacity: 0.5;
        transform: translateX(50%);
      }

      //   border-left: 1px solid var(--color-border);
      .ab-box {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 0.25em;
        margin: 0.25em;
        border: 1px solid transparent;
        border-radius: 3px;
        height: calc(100% - 0.5em);
        position: relative;

        .ab-box-icon {
          width: 1em;
          height: 1em;
          margin-right: 0.25em;
          position: absolute;
          display: block;
          top: calc(50% - 0.5em);
          left: 0.25em;
          text-align: center;
          opacity: 0.5;

          i {
            font-size: 1em;
          }
        }

        .ab-box-label {
          position: absolute;
          right: 0.25em;
          height: 1em;
          color: var(--color-text-subtle);
          text-transform: uppercase;
          top: calc(50% - 0.625em);
        }

        &:hover {
          background-color: color-mix(
                          in srgb,
                          var(--color-text-primary),
                          transparent 90%
          );

          .ab-box-icon {
            opacity: 0.8;
          }
        }

        &:active {
          background-color: color-mix(
                          in srgb,
                          var(--color-text-primary),
                          transparent 80%
          );

          .ab-box-icon {
            opacity: 1;
          }
        }

        &:focus-within,
        &.context {
          box-shadow: 0 0 5px var(--color-shadow-primary);
        }

        .ab-box-content {
          justify-content: center;
          text-align: center;
          align-items: center;
          width: 100%;
          padding-inline: 1.5em;
          display: flex;
          flex-direction: row;
          text-wrap-mode: nowrap;
          cursor: pointer;
        }

        .ab-split-input {
          :first-child {
            text-align: right;
          }

          :last-child {
            text-align: left;
          }
        }
      }
    }

    input {
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      height: fit-content;
      box-shadow: none;
      text-overflow: ellipsis;
      outline: none;
      line-height: unset;
      text-align: center;
      color: var(--color-text-primary);
    }
  }
}

.ab-menu {
  max-height: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-end;
  flex-wrap: wrap;

  &.no-transition {
    transition: none;
  }

  &.ab-menu-open {
    max-height: 1000px;
    border-bottom: 1px dashed var(--color-border);
  }

  .ab-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;

    .ab-menu-title {
      flex: 1;
      text-align: center;
      font-size: larger;
      font-weight: bold;
    }
  }

  .ab-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    gap: 0.5em;
    margin-bottom: 0.5em;

    .ab-menu-bar {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      gap: 0.5em;

      select {
        width: 100%;
      }

      .ab-menu-inline {
        .tags {
          display: none;
        }
      }

      .ab-menu-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input {
          margin-top: 0;
          margin-bottom: 0;
        }

        .ab-menu-button {
          line-height: unset;
          text-align: center;
          align-content: center;
          height: 2em;
          margin: 0;
          font-size: unset;
        }
      }

      .ab-multi-select-label {
        position: relative;
        display: inline-block;
        width: 100%;

        ::after {
          position: absolute;
          top: 0;
          left: 1em;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: left;
          height: 100%;
          pointer-events: none;
          overflow: hidden;
          color: var(--color-text-secondary);
        }

        &.ab-multi-select-power {
          ::after {
            content: "Power Sources";
          }
        }

        &.ab-multi-select-element {
          ::after {
            content: "Elements";
          }
        }

        &.ab-multi-select-effects {
          ::after {
            content: "Effects";
          }
        }

        &.ab-multi-select-equipment-classes {
          ::after {
            content: "Equipment Classes";
          }
        }

        &.ab-multi-select-traits {
          ::after {
            content: "Traits";
          }
        }

        multi-select {
          width: 100%;
          position: relative;

          .tags {
            display: none;
          }
        }
      }
    }
  }
}

// .sheet-main-container {
//   margin-top: 0.5em;
// }
.ab-main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  gap: 0.5em;
  margin: 1em auto;
  border: 1px solid var(--color-border);

  .ab-tags-all {
    gap: 0.25em;
    display: grid;

    .ab-tags-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .ab-tags {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        flex: content;
        gap: 0.25em;
        justify-content: start;
        width: 100%;
        min-height: 1.5em;

        .ab-tag {
          border-radius: 3px;
          margin: 0;
          padding-block: 0.125em;
          padding-inline: 0.25em;
          border: 1px dotted var(--color-text-subtle);
          background-color: rgba(255, 255, 255, 0.05);
          height: 1.5em;
          text-align: center;
          cursor: pointer;

          &:hover {
            text-decoration: line-through;
            background-color: rgba(0, 0, 0, 0.1);
            color: var(--color-text-subtle);
          }

          // &.flag-tag-basic {
          //   font-style: italic;
          // }
        }
      }

      .ab-menu-toggle {
        top: 0;
        right: 0;
        border: none;
        cursor: pointer;

        .ab-menu-closed-container {
          display: flex;
        }

        .ab-menu-open-container {
          display: none;
        }

        &.ab-menu-toggle-open {
          .ab-menu-closed-container {
            display: none;
          }

          .ab-menu-open-container {
            display: flex;
          }
        }

        &:hover {
          background-color: color-mix(
                          in srgb,
                          var(--color-text-primary),
                          transparent 90%
          );
        }

        &:active {
          background-color: color-mix(
                          in srgb,
                          var(--color-text-primary),
                          transparent 80%
          );
        }

        i {
          opacity: 0.8;
        }
      }
    }
  }

  .ab-section-container {
    // width: 100%;
    margin: 0.5em;
    // overflow-x: auto;
    // overflow-y: hidden;
    &.faded {
      opacity: 0.5;
    }

    p {
      // margin: 0;
      padding: 0;
    }

    .ab-section {
      display: flex;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 0.25em;
    }

    .ab-section::before,
    .ab-section::after {
      content: "";
      border-bottom: 1px solid var(--color-text-subtle);
    }

    .ab-section::before {
      width: 1em;
    }

    .ab-section::after {
      flex: 1;
    }

    .ab-section-title {
      margin-inline: 0.5em;
      color: var(--color-text-subtle);
      text-transform: uppercase;
      font-size: smaller;
      text-align: left;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }

    .ab-section + * {
      margin-top: 0;
    }
  }

  .tcard-container {
    --tcard-outer-border-radius: 4px;
  }
}

.ab-icon {
  display: grid;
  place-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 6px;
  cursor: pointer;

  i {
    font-size: 1em;
    opacity: 0.8;
  }

  &:hover {
    background-color: color-mix(
                    in srgb,
                    var(--color-text-primary),
                    transparent 90%
    );

    i {
      opacity: 0.9;
    }
  }

  &:active {
    background-color: color-mix(
                    in srgb,
                    var(--color-text-primary),
                    transparent 80%
    );

    i {
      opacity: 1;
    }
  }
}

.ab-improvement-bar {
  font-style: italic;
  width: 100%;
}

.ab-check-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ab-select-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ab-button-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

@container (max-width: 349px) {
  .ab-header {
    .ab-profile-img {
      display: none;
    }

    .ab-title {
      padding: 0.25em;
      height: 2.5em;

      .ab-title-text,
      input {
        font-size: 1em;
        font-weight: bold;
      }
    }

    .ab-top-buttons-container {
      display: none;
    }
  }

  .ab-bars {
    .ab-bar {
      flex-direction: column;

      .ab-box-container {
        &:not(:last-child)::after {
          height: 1px;
          top: unset;
          right: unset;
          left: 1em;
          bottom: 0;
          width: calc(100% - 2em);
          transform: translateY(50%);
        }
      }
    }
  }

  .ab-check-grid {
    grid-template-columns: 1fr 1fr;
  }

  .ab-select-grid {
    grid-template-columns: 1fr;
  }

  .ab-button-grid {
    grid-template-columns: 1fr;
  }

  .ab-menu {
    .tab {
      display: none;
    }
  }
}

@container (max-width: 249px) {
  .ab-main {
    .ab-section-container {
      .ab-section-title.ab-section-title-dynamic {
        width: min-content;
      }
    }
  }
}

// OLD STUFF
// ---------

.ability-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  // align-items: center;
  padding: 3px;

  .ability-bar-label {
    margin-right: 0.5em;
    font-weight: bold;
    flex: 0 0 auto;

    .ability-bar-label-text {
      display: flex;
      flex-direction: row;
      width: max-content;
    }
  }

  .ability-bar-content {
    // flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    .ability-bar-select-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // margin-left: 0.5em;
      // margin-right: 0.5em;
    }

    .ability-bar-input,
    .ability-bar-select,
    .ability-bar-multi-select {
      height: unset;
      width: unset;
      // margin: unset;
      // padding: unset;
      // border: none;
      // background: none;
    }

    .ability-bar-select {
      width: 18px;
      height: 18px;
      margin: 0;
      padding: 0;
    }

    .ability-bar-select-measure {
      font-size: var(--font-size-12);
      padding: 1px 0.25rem;
      border: 1px solid var(--color-border);
      border-radius: 4px;
      // display: flex;
    }

    .ability-bar-multi-select {
      flex-direction: row;

      select {
        height: 18px;
        width: 18px;
      }

      .tags {
        justify-content: flex-start;
      }
    }

    .ability-bar-editable {
      min-height: 1em;

      .editor {
        min-height: 1em;
        padding: 0;
        margin: 0;

        .editor-content {
          padding: 0;
          margin: 0;
          min-width: 16px;
          max-width: max-content;
        }
      }
    }
  }

  p,
  a {
    margin: 0;
    padding: 0;
  }
}

.ability-bar:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.editor {
  overflow: unset;
  min-height: 1em;
  position: relative;

  &:not(:hover) {
    .editor-edit {
      display: none;
    }
  }
}

.prosemirror .editor-container {
  flex: unset;
  position: unset;
  margin: 0;
}

.prosemirror .editor-container .editor-content {
  position: unset;
  padding-right: 0;
  overflow: visible;
}

.prosemirror menu {
  // position: absolute;
  // calc(100% + 0.5em)
  // backdrop-filter: blur(8px);
  margin-bottom: 0.5em;
}

.editor-edit {
  top: 0;
  right: 0;
  font-size: 0.75em;
  position: absolute;
}

// .prosemirror {
//     flex-direction: unset;
// }

.ab-sheet-everything {
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}
