.change-config-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  .icon-input {
    width: 100%;
  }

  .add-change-button {
    width: 100%;
  }

  .change-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0;
    width: 100%;

    + .change-container {
      border-top: 1px dashed var(--color-text-subtle);
      padding-top: 1rem;
    }

    .change-entry,
    .change-config {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .change-activation,
    .change-assignment {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    .change-activation {
      flex: 1;
    }

    .change-assignment {
      flex: 0 0 auto;
      width: max-content;
    }

    .change-entry,
    .change-activation,
    .change-assignment {
      width: 100%;
    }

    .change-controls {
      align-items: center;
      display: flex;

      .change-delete {
        height: 100%;
      }
    }
  }
}
