@use "../mixins" as mixins;

@mixin chat-color($color, $transparency: 90%, $emph: false) {
  @if ($emph) {
    border-color: color-mix(in srgb, $color, transparent, $transparency);
    color: $color;
    .teriock-dice-total-icon, .teriock-dice-formula-icon {
      color: $color;
    }
  } @else {
    background-color: color-mix(in srgb, $color, transparent $transparency);
  }
}

.teriock.chat-message {
  --color-chat-block: #986a44;
  --color-chat-crit-failure: #6e0100;
  --color-chat-crit-success: #134209;
  --color-chat-damage: #a51d2d;
  --color-chat-drain: #1a5fb4;
  --color-chat-failure: #a51d2d;
  --color-chat-feat: #f6d32d;
  --color-chat-pay: #e5a50a;
  --color-chat-success: #26a269;
  --color-chat-ub: #c64600;
  --color-chat-wither: #613583;

  footer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em;
  }

  .message-tags {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 0.5em;
    @include mixins.tag-container-style;
  }

  .message-tag {
    @include mixins.tag-style;
  }

  .activation-button {
    border-color: #999999;
    box-shadow: 0 0 2px #ffffff inset;
    flex: 1;
    user-select: none;

    &:not(:hover) {
      &.damage-button {
        @include chat-color(var(--color-chat-damage));
      }

      &.drain-button {
        @include chat-color(var(--color-chat-drain));
      }

      &.wither-button {
        @include chat-color(var(--color-chat-wither));
      }

      &.pay-button {
        @include chat-color(var(--color-chat-pay));
      }
    }
  }
}

.teriock-flavor-text {
  color: var(--color-dark-4);
  font-size: var(--font-size-12);
  line-height: 20px;
}

.teriock-target-container {
  @include mixins.centralize;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 26px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  user-select: none;
  @include mixins.inverse-roll-style;
  @include mixins.inverse-roll-style-hover;

  .teriock-target-img {
    @include mixins.simple-two-layer-image(18px);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
    flex: 0;
    margin-inline: 4px;
  }

  .teriock-target-name {
    margin-block: 2px;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
  }
}

.teriock-dice-formula {
  @include mixins.inverse-roll-style;
  word-break: break-word;

  &.ub {
    @include chat-color(var(--color-chat-ub));
  }
}

.teriock-dice-total {
  @include mixins.inverse-roll-style;
  position: relative;

  nav {
    font-weight: normal;
  }

  &.success {
    @include chat-color(var(--color-chat-success));
  }

  &.failure {
    @include chat-color(var(--color-chat-failure));
  }

  &.crit-success {
    @include chat-color(var(--color-chat-crit-success), 70%, true);
  }

  &.crit-failure {
    @include chat-color(var(--color-chat-crit-failure), 80%, true);
  }
}

.teriock-dice-total, .teriock-dice-formula {
  &.feat {
    @include chat-color(var(--color-chat-feat));
  }

  &.block {
    @include chat-color(var(--color-chat-block));
  }
}

.teriock-dice-total .teriock-dice-total-icon, .teriock-dice-formula .teriock-dice-formula-icon {
  @include mixins.centralize;
  bottom: 0;
  color: var(--color-text-subtle);
  font-size: small;
  opacity: 0.5;
  position: absolute;
  top: 0;

  &.left {
    left: 4px;
  }

  &.right {
    right: 4px;
  }
}

.message-activations {
  display: grid !important;
  gap: 6px;
  grid-template-columns: 1fr 1fr;

  button {
    font-size: small;
    height: unset;
    max-height: unset;
    min-height: 2.5em;

    &:first-child:nth-last-child(odd) {
      grid-column: span 2;
    }
  }
}

.teriock-bottom-tags .tmes-bar-box {
  margin-top: 0 !important;
  padding-top: 6px !important;
}

.teriock-bottom-tags + .teriock-buttons,
.teriock-panels + .teriock.dice-roll,
.message-content + .teriock-message-footer {
  margin-top: 6px;
}

.teriock-chat-button.full-row {
  grid-column: 1 / -1;
}

.teriock-message-footer {
  display: flex;
  flex-direction: column;
}

.teriock-chat-message-content .table-results img {
  @include mixins.image-border;
  @include mixins.warm-image-background;
}

.message-result {
  @include mixins.inverse-roll-style;
}

.message-timestamp {
  height: 1.5em;
  overflow: hidden;
}

.messenger {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: 7px;
  margin-bottom: 8px;

  .message-avatar {
    @include mixins.simple-two-layer-image(30px, 4px, 0.3, 100%, var(--color-dark-6));
  }

  .message-author {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .message-sender {
      font-family: "Alegreya SC", serif;
      font-size: larger;
      font-weight: 500;
      line-height: 14px;
      margin-block: 2px;
      max-width: 190px;
      text-wrap: auto;
    }

    .message-writer {
      @include mixins.text-subtle;
      font-size: x-small;
      line-height: 10px;
      margin-bottom: 1px;
    }
  }
}

.dice-result :last-child {
  &.teriock-target-container {
    margin-bottom: 0;
  }
}
