.teriock-chat-button {
  user-select: none;
  flex: 1;
  border-color: #999;
  box-shadow: 0 0 2px #fff inset;

  &:not(:hover) {
    &.damage-button {
      background-color: color-mix(in srgb, #a51d2d, transparent 90%);
    }

    &.drain-button {
      background-color: color-mix(in srgb, #1a5fb4, transparent 90%);
    }

    &.wither-button {
      background-color: color-mix(in srgb, #613583, transparent 90%);
    }

    &.payment-button {
      background-color: color-mix(in srgb, #E5A50A, transparent 90%);
    }
  }
}

.teriock-flavor-text {
  font-size: var(--font-size-12);
  color: var(--color-dark-4);
  line-height: 20px;
}

.teriock-target-container {
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .teriock-target-img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));

    img {
      width: 100%;
      height: 100%;
    }
  }

  .teriock-target-name {
    margin: 0;
    margin-block: 2px;
  }
}

.teriock-dice-formula {
  &.ub {
    background-color: color-mix(in srgb, #c64600, transparent 90%);
  }

  &.feat {
    background-color: color-mix(in srgb, #F6D32D, transparent 90%);
  }
}

.teriock-dice-total {
  &.success {
    background-color: color-mix(in srgb, #26a269, transparent 90%);
  }

  &.failure {
    background-color: color-mix(in srgb, #a51d2d, transparent 90%);
  }

  &.feat {
    background-color: color-mix(in srgb, #F6D32D, transparent 90%);
  }
}

.teriock-chat-help-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .teriock-chat-help {
    code {
      background-color: var(--color-cool-3);
      padding: 0;
    }

    .teriock-chat-help-options {
      font-weight: bold;
    }
  }
}

.tmessage {
  display: flex;
  flex-direction: column;
  cursor: default;
  text-align: left;

  &.tmessage-bottom-bar {
    margin-bottom: 0.5em;
  }

  .abm-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  .tmes-header-box {
    .tmessage-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .tmessage-header-image-container {
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .tmessage-header-text {
      font-size: 1.5em;
      line-height: 1.5em;
      flex: 1 1 auto;
      text-align: left;
      margin-left: 0.5em;
    }
  }

  .tmes-bar-box {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 0.5em;
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .abm-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      align-items: center;

      .abm-bar-icon {
        width: 1em;
        height: 1em;
        display: flex;
        align-items: flex-start;
        flex: 0 0 auto;
        place-self: flex-start;
        margin-top: 0.25em;

        .abm-icon-wrapper {
          width: 2em;
          height: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .abm-bar-tags {
        width: calc(100% - 1.5em);
        display: flex;
        flex-direction: row;
        gap: 0.25em;
        flex-wrap: wrap;
        align-items: center;
        flex: 1 1 auto;
      }

      .abm-label {
        padding-left: 0.25em;
        padding-right: 0.25em;
        border-radius: 0.25em;
        border: 1px dotted var(--color-text-subtle);
        max-width: fit-content;
      }
    }
  }

  .tmes-block-box {
    margin-top: 0.5em;

    .abm-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      padding-top: 0.5em;

      .abm-block-title {
        color: var(--color-text-subtle);
        text-transform: uppercase;
        font-size: 0.8em;
        margin-bottom: 0.25em;
      }

      .abm-block-text {
        margin-bottom: 0.25em;

        :first-child {
          margin-top: 0;
        }

        :last-child {
          margin-bottom: 0;
        }

        .abm-block-title {
          font-style: italic;
          opacity: 0.75;
        }

        .tmessage-embedded-ul {
          padding-left: 0;

          .tmessage-embedded-li {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;

            .tmes-emb-li-icon {
              margin-inline: 1em;
              font-size: 0.5em;
            }
          }
        }
      }

      &.abm-es-block {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 6px;
        margin-bottom: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 2px #fff inset;

        .abm-block-text {
          font-family: "Quintessential", cursive;
          margin-bottom: 0;
        }
      }
    }
  }
}

.teriock-buttons {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.teriock-bottom-tags .tmes-bar-box {
  padding-top: 6px !important;
  margin-top: 0 !important;
}

.teriock-bottom-tags + .teriock-buttons {
  margin-top: 6px;
}

.teriock-chat-button.full-row {
  grid-column: 1 / -1;
}

.extra-content + .teriock.dice-roll {
  margin-top: 3px;
}

.teriock-message-footer {
  display: flex;
  flex-direction: column;
}

.message-content + .teriock-message-footer {
  margin-top: 6px;
}
