.generic-changes {
  overflow-y: hidden;

  div {
    display: flex;
    align-items: center;
  }

  header, ol {
    grid-template-columns: 12fr 7fr 7fr 4fr 1fr;
    display: grid;
    gap: 0.5rem;
    overflow: unset;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ol {
    li {
      display: contents;
    }
  }
}