@use "colors" as colors;
@use "../mixins" as mixins;
@use "../actor/sidebar/hack-box";
@use "../actor/sidebar/intro-box";
@use "../actor/sidebar/status-box";

.inventory-sheet {
  overflow: auto;
}

.character-tabber {
  align-items: center;
  background: var(--color-cool-5);
  border: 1px solid var(--color-cool-4);
  border-bottom-right-radius: 6px;
  border-left: 1px solid var(--color-border);
  border-top-right-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  color: var(--color-text-selection);
  cursor: default;
  display: flex;
  height: 2.75em;
  justify-content: center;
  margin-block: 0.25em;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 2em;

  // Add gradient layer
  &::before {
    background: linear-gradient(
      to right,
      var(--color-cool-5),
      var(--color-cool-4)
    );
    content: "";
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.4s ease;
    z-index: 0;
  }

  // Keep content above gradient
  i {
    position: relative;
    z-index: 1;
  }

  &:hover {
    border: 1px solid var(--color-cool-3);
    border-left: 1px solid var(--color-border);
    color: white;
    cursor: pointer;
    width: 2.5em;

    &::before {
      opacity: 1;
    }
  }

  &.active {
    border: 1px solid var(--color-warm-2);
    border-left: 1px dashed var(--color-border);
    color: white;
    width: 2.5em;
  }

  &:active {
    border: 1px solid var(--color-warm-1);
    border-left: 1px solid var(--color-border);
    color: white;
    width: 2.5em;

    i {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

.character-tabbers {
  left: 100%;
  position: absolute;
}

.character-tabber-background {
  border-bottom-right-radius: 6px;
  overflow: visible;
  position: relative;
}

body > form:only-child section .character-page,
.detached {
  .character-tabbers {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    left: unset;
    padding: 0.5em;
    right: 0;
    width: calc(34px + 0.5em);

    .character-tabber {
      background: none;
      border: none !important;
      border-radius: 4px !important;
      border-right-width: 0;
      box-shadow: none;
      font-size: var(--font-size-14);
      height: 1.75em !important;
      margin: 0 !important;
      width: 1.75em !important;

      &::before {
        display: none;
      }

      i {
        z-index: 0;
      }

      &:hover,
      &.active {
        background: var(--color-warm-2);
      }

      &::before {
        background: none !important;
        border: none !important;
      }
    }
  }

  .character-tabber-background {
    background-color: var(--color-header-background);
    border-left: 1px solid var(--color-border);
    display: block;
    flex: none;
    height: 100%;
    width: calc(34px + 0.5em);
  }
}

.character-window {
  height: calc(100% - 36px);
  max-height: calc(100% - 36px);

  .character-page {
    container-type: inline-size;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 100%;
    position: relative;

    .character-smallbox-value {
      background-color: transparent;
      border: none;
      color: var(--color-text);
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .character-shortbox {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .character-shortbox-value {
        background-color: transparent;
        border: none;
        color: var(--color-text);
        font-size: 1.5em;
        text-align: center;
      }

      .character-smallbox-value {
        font-size: 1.25em;
      }

      .character-shortbox-label {
        background-color: transparent;
        border: none;
        color: var(--color-text-subtle);
        font-size: 1em;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .character-sidebar {
      background: var(--color-cool-5);
      --color-border: var(--color-light-4);
      border-bottom-left-radius: 4px;
      border-right: 1px solid var(--color-cool-4);
      color: var(--color-light-3);
      height: 100%;
      max-width: 250px;
      overflow-x: hidden;
      overflow-y: auto;
      --color-text: var(--color-light-3);
      --input-text-color: var(--color-light-3);
      --color-text-primary: var(--color-light-3);
      --color-text-subtle: var(--color-light-5);
      transition:
        max-width 250ms,
        box-shadow 250ms;
      width: 500px;
      z-index: 1;

      .character-sidebar-container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        gap: 1em;
        min-height: 0;
        opacity: 1;
        overflow: hidden;
        padding: 15px;
        transition: 250ms;
        width: 250px;
      }

      &.no-transition {
        transition: none;
      }

      input {
        color: var(--color-light-3);
      }

      @container (max-width: 775px) {
        height: 100%;
        position: absolute;
        left: 0;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
      }
      &.collapsed {
        border-width: 0;
        box-shadow: none;
        max-width: 0;

        .character-sidebar-container {
          opacity: 0;
        }
      }

      .character-size-box,
      .character-weight-box,
      .character-movement-box,
      .character-carrying-box {
        margin: 0;
        padding: 0;
        width: 100%;
      }

      .character-movement-box {
        border-bottom: 1px dotted var(--color-text-subtle);
        margin-bottom: 0.75em;
        padding-bottom: 0.25em;
      }

      .detection-box-main {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;

        .character-detection-input {
          height: unset;
          line-height: unset;
        }
      }

      .defense-box-main,
      .attack-box-main,
      .carrying-box-main {
        align-items: center;
        border-bottom: 1px dotted var(--color-text-subtle);
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.5em;
        padding-bottom: 0.25em;
        width: 100%;

        input {
          height: unset;
          line-height: unset;
        }
      }

      .ch-battle-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;

        .defense-box,
        .attack-box {
          display: flex;
          flex-direction: column;
          padding: 0.5em;
          width: 100%;
        }

        .defense-box {
          border-bottom: 1px solid var(--color-border);
        }
      }

      .take-harm-button {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
      }
    }

    .character-sidebar-tabber-container {
      left: 249px;
      position: absolute;
      transition: 250ms;
      z-index: 1;

      .character-sidebar-tabber {
        border-left: none !important;
      }

      &.no-transition {
        transition: none;
      }

      .expanded-icon {
        display: flex;
      }

      .collapsed-icon {
        display: none;
      }

      &.collapsed {
        left: 0;

        //.character-sidebar-tabber {
        //  border-left: none !important;
        //}

        .expanded-icon {
          display: none;
        }

        .collapsed-icon {
          display: flex;
        }
      }
    }

    .character-main {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .display-options {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0.5em;
    }

    .character-tab-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      overflow-y: auto;
      width: 100%;

      .character-tab {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 100%;
      }
    }
  }
}

.teriock-block-display {
  align-items: center;
  background-color: var(--color-block-display-background);
  border: 1px solid var(--color-block-display-border);
  border-radius: 9px;
  box-shadow: 0 0 6px var(--color-block-shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0.5em;
  width: 100%;

  .teriock-block-display-divider {
    border-top: 1px dotted var(--color-text-subtle);
    margin: 0.5em;
    width: 100%;
  }

  .teriock-block-options {
    border-bottom: 1px dashed var(--color-form-hint);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;

    .teriock-block-options-header {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      justify-content: start;
      width: 100%;

      input {
        width: 100%;
      }
    }

    .teriock-block-options-content {
      border-top: 1px dotted var(--color-form-hint);
      padding-top: 0.5em;
    }
  }

  .teriock-block-container {
    max-width: unset;
    width: 100%;
  }
}

.character-tab-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  width: 100%;
}

.character-presence-container {
  align-items: center;
  border: 2px solid var(--color-presence-bar);
  border-radius: 6px;

  display: flex;

  flex-direction: column;
  height: 3em;
  justify-content: center;
  overflow: hidden;
  --color-presence-bar: #{colors.$pp-yellow};
  --color-presence-bar-dark: #{colors.$pp-yellow-dark};
  --color-presence-bar-darkest: #{colors.$pp-yellow-darkest};
  width: 100%;

  &.overflow {
    --color-presence-bar: var(--color-level-error);
    --color-presence-bar-dark: var(--color-level-error-bg);
    --color-presence-bar-darkest: var(--color-level-error-border);
  }

  .character-presence-bar {
    display: grid;
    height: 100%;
    width: 100%;

    .presence-indicator {
      background-color: black;
      height: 100%;

      width: 100%;

      &:not(:first-child) {
        border-left: 1px solid var(--color-presence-bar);
      }

      &:not(:last-child) {
        border-right: 1px solid var(--color-presence-bar);
      }

      &.used {
        background-image: repeating-linear-gradient(
          135deg,
          var(--color-presence-bar) 0px,
          var(--color-presence-bar) 2px,
          var(--color-presence-bar-dark) 2px,
          var(--color-presence-bar-dark) 8px
            /* gap between lines: 2px line + 6px gap */
        );
      }

      &.unused {
        background-color: var(--color-presence-bar-darkest);
      }
    }
  }
}

.tradecraft-panels {
  display: grid;
  gap: 0 !important;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  .field-panel {
    border: none;
    margin: 0;
    padding: 0.5em;

    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px dashed var(--color-form-hint);
    }

    &:nth-child(2),
    &:nth-child(4) {
      padding-left: 12px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: 1px dashed var(--color-form-hint);
    }
  }

  .field-panel-header {
    color: var(--color-text-subtle);
    font-size: 0.8em;
    text-transform: uppercase;
    width: 100%;
  }

  .tradecraft-panel {
    width: 100%;

    .tradecraft-panel-symbol {
      align-items: center;
      color: var(--color-text-subtle);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.tradecraft-panel,
.tradecraft-container {
  grid-template-columns: 30px 30px 1fr 1fr 1fr 30px;

  .tradecraft-panel-name {
    margin-left: 12px;
  }
}

.money-panels {
  border-bottom: 1px dashed var(--color-form-hint);
  column-gap: 0;
  gap: 4px;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;

  .money-panel-container {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    outline: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:focus-within {
      outline: 2px solid var(--color-warm-2);
    }
  }

  .money-icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    img {
      @include mixins.image-border(0, 0, 2px);
      margin: 4px;
      max-height: 24px;
      max-width: 24px;
    }
  }

  .money-panel {
    align-items: center;
    gap: 0.5em;
    justify-content: end;

    .money-info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-right: 4px;
      width: 100%;

      .money-name {
        display: block;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .money-value {
        text-transform: none;
      }
    }

    .money-panel-input {
      background: none;
      border: none;
      box-shadow: none;
      font-size: large;
      margin: 0;
      outline: none;
      padding: 0;
    }
  }
}

.money-total {
  align-items: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
  width: 100%;
}

.die-drawer {
  border: 1px solid var(--color-text-subtle);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: 1em;
  max-height: 100px;
  min-height: 2.25em;
  overflow: hidden;
  padding: 0.5em;
  transition: all 0.2s ease-in-out;

  &.hp-drawer {
    background-color: #{colors.$hp-red-drawer};
  }

  &.mp-drawer {
    background-color: #{colors.$mp-blue-drawer};
  }

  &.top-drawer {
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid var(--color-text-subtle);
  }

  .tgrid {
    .die-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.unrolled {
        color: var(--color-light-3);

        i {
          &:hover {
            color: var(--color-text-selection);
          }

          &:active {
            color: var(--color-text-secondary);
          }
        }
      }

      &.rolled {
        color: var(--color-light-6);
      }
    }
  }

  &.collapsed {
    max-height: 0;
    min-height: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  &.no-transition {
    transition: none;
  }
}

.condition-display {
  align-items: flex-start;

  display: flex;
  flex-direction: column;

  .condition-header {
    position: relative;
    width: 100%;

    img {
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid color-mix(in srgb, var(--color-border), transparent 50%);
      border-radius: 4px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      max-height: var(--font-h4-size);
      max-width: var(--font-h4-size);
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.2s ease-in-out;

      &.locked {
        filter: brightness(0) saturate(100%) invert(24%) sepia(30%)
          saturate(3723%) hue-rotate(326deg) brightness(89%) contrast(109%);
      }

      &.removable {
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          border-color: var(--color-cool-3);
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.7);
          border-color: var(--color-warm-2);
        }
      }
    }
  }

  .mw-editsection {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: unset;
  }

  ul {
    margin-top: 0.5em;
  }

  :last-child {
    margin-bottom: 0;
  }

  h2 {
    font-family: var(--font-h4), serif;
    font-size: var(--font-h4-size);
  }
}

.condition-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;

  &.expanded {
    max-height: 1000px;
  }
}

.condition-header {
  h4 {
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: drop-shadow(0 0 2px rgba(125, 0, 0, 0.4));
    }
  }
}

.currency-image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  img {
    @include mixins.image-border;
    height: 24px;
    width: 24px;
  }
}

.grid-fill {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

//$modifier-panel-gap: 3px;
//
//.tradecraft-panel {
//  row-gap: calc(0.5rem - 2 * $modifier-panel-gap);
//}
//
//.tradecraft-container {
//  @include mixins.box-hover;
//  border-radius: 4px;
//  padding-block: $modifier-panel-gap;
//}
