.generic-changes {
  overflow-y: hidden;

  div {
    align-items: center;
    display: flex;
  }

  header,
  ol {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 12fr 7fr 7fr 4fr 1fr;
    margin: 0;
    overflow: unset;
    padding: 0;
    width: 100%;
  }

  ol {
    li {
      display: contents;
    }
  }
}
