@use "../mixins";

.teriock-chat-button {
  border-color: #999999;
  box-shadow: 0 0 2px #ffffff inset;
  flex: 1;
  user-select: none;

  &:not(:hover) {
    &.damage-button {
      background-color: color-mix(in srgb, #a51d2d, transparent 90%);
    }

    &.drain-button {
      background-color: color-mix(in srgb, #1a5fb4, transparent 90%);
    }

    &.wither-button {
      background-color: color-mix(in srgb, #613583, transparent 90%);
    }

    &.payment-button {
      background-color: color-mix(in srgb, #e5a50a, transparent 90%);
    }
  }
}

.teriock-flavor-text {
  color: var(--color-dark-4);
  font-size: var(--font-size-12);
  line-height: 20px;
}

.teriock-target-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  position: relative;
  user-select: none;
  @include mixins.inverse-roll-style;

  .teriock-target-img {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
    height: calc(100% - 6px);
    left: 0;
    margin: 3px;
    position: absolute;
    @include mixins.image-border;
    top: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .teriock-target-name {
    margin: 0;
    margin-block: 2px;
  }
}

.teriock-dice-formula {
  @include mixins.inverse-roll-style;

  &.ub {
    background-color: color-mix(in srgb, #c64600, transparent 90%);
  }

  &.feat {
    background-color: color-mix(in srgb, #f6d32d, transparent 90%);
  }
}

.teriock-dice-total {
  @include mixins.inverse-roll-style;
  position: relative;

  &.success {
    background-color: color-mix(in srgb, #26a269, transparent 90%);
  }

  &.failure {
    background-color: color-mix(in srgb, #a51d2d, transparent 90%);
    position: relative;
  }

  &.feat {
    background-color: color-mix(in srgb, #f6d32d, transparent 90%);
  }

  .teriock-dice-total-icon {
    position: absolute;
    top: 0;
    left: 4px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-subtle);
    opacity: 0.5;
    font-size: small;
  }
}

.teriock-chat-help-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .teriock-chat-help {
    code {
      background-color: var(--color-cool-3);
      padding: 0;
    }

    .teriock-chat-help-options {
      font-weight: bold;
    }
  }
}

.teriock-buttons {
  display: grid !important;

  gap: 6px;
  grid-template-columns: 1fr 1fr;

  button {
    font-size: small;
    height: unset;
    max-height: unset;
    min-height: 2.5em;
  }
}

.teriock-bottom-tags .tmes-bar-box {
  margin-top: 0 !important;
  padding-top: 6px !important;
}

.teriock-bottom-tags + .teriock-buttons {
  margin-top: 6px;
}

.teriock-chat-button.full-row {
  grid-column: 1 / -1;
}

.teriock-panels + .teriock.dice-roll {
  margin-top: 6px;
}

.teriock-message-footer {
  display: flex;
  flex-direction: column;
}

.message-content + .teriock-message-footer {
  margin-top: 6px;
}

.teriock-chat-message-content .table-results img {
  @include mixins.image-border;
  @include mixins.warm-image-background;
}

.message-result {
  @include mixins.inverse-roll-style;
}

.tmes-bar-box {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-top: 0.25em;
  padding-top: 0.5em;

  .abm-bar-tags {
    @include mixins.tag-container-style;
  }

  .abm-label {
    @include mixins.tag-style;
  }
}

.teriock-bottom-tags .tmes-bar-box {
  margin-top: 0 !important;
  padding-top: 6px !important;
}

.message-timestamp {
  height: 1.5em;
  overflow: hidden;
}

.messenger {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: 7px;
  margin-bottom: 8px;

  .message-avatar {
    @include mixins.image-border;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    outline-color: var(--color-dark-6);
    width: 30px;

    img {
      @include mixins.warm-image-background;
    }
  }

  .message-author {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .message-sender {
      font-family: "Alegreya SC Medium", serif;
      font-size: larger;
      line-height: 14px;
      margin-block: 2px;
      max-width: 190px;
      text-wrap: auto;
    }

    .message-writer {
      @include mixins.text-subtle;
      font-size: x-small;
      line-height: 10px;
      margin-bottom: 1px;
    }
  }
}

.dice-result :last-child {
  &.teriock-target-container {
    margin-bottom: 0;
  }
}
