$tborder: var(--color-border);
$ttext: var(--color-text-primary);
$ttext-emphatic: var(--color-text-emphatic);
$ttext-subtle: var(--color-text-subtle);
$ttext-secondary: var(--color-text-secondary);
$ttext-accent: var(--color-text-accent);
$tshadow-dark: var(--color-shadow-dark);
$tshadow-primary: var(--color-shadow-primary);
$tshadow-highlight: var(--color-shadow-highlight);
$hp-red-drawer: rgba(20, 0, 0, 1);
$hp-red-faint: rgba(40, 0, 0, 1);
$hp-red-darkest: rgba(50, 0, 0, 1);
$hp-red-dark: #a51d2d;
$hp-red: #e01b24;
$mp-blue-drawer: rgba(0, 0, 20, 1);
$mp-blue-faint: rgba(0, 0, 40, 1);
$mp-blue-darkest: rgba(0, 0, 50, 1);
$mp-blue-dark: #1a5fb4;
$mp-blue: #3584e4;
$pp-yellow-darkest: rgba(50, 40, 0, 1);
$pp-yellow-dark: #7d6114;
$pp-yellow: #b48b1a;
$wp-grey-faint: #0c0a0f;
$wp-grey-darkest: #16131d;
$wp-grey-dark: #241f31;
$wp-grey: #3d3846;
