@import "ui/tcard";
@import "ui/tgrid";
@import "ui/tswitch";
@import "ui/record-field";

table {
  margin: 1em 0 0;
}

.tsheet-page,
.sheet-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.ticon {
  cursor: pointer;
  // cursor: pointer !important;
}

.thover {
  &:hover {
    color: var(--color-warm-2) !important;
  }

  &:active {
    color: var(--color-text-subtle) !important;
  }
}

.thover-soft {
  &:hover {
    color: var(--color-warm-2) !important;
  }

  &:active {
    color: var(--color-text-subtle) !important;
  }
}

.ttoggle-button {
  height: var(--input-height);
  width: var(--input-height);

  &.toggled {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
  }
}

.tsubtle {
  color: var(--color-text-subtle);
  text-transform: uppercase;
  font-size: 0.8em;
}

.tcolored {
  color: var(--color-text-subtle);
}

.tred {
  color: var(--color-level-error);
  background-color: color-mix(
                  in srgb,
                  var(--color-level-error-bg),
                  transparent 70%
  );
  border-color: var(--color-level-error-border);
}

.tround {
  border-radius: 6px;
  border: 1px solid transparent;
  margin-inline: 0.25em;
}

.ttransparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 1em;
  width: 100%;
}

.tcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.tbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 0.5em;
}

.tborder {
  border: 1px solid var(--color-border);
}

.toutline {
  outline: 1px solid var(--color-border);
}

.little-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .title-left {
    text-align: left;
    justify-content: flex-start;
    display: flex;
    flex: 1 1 0;
  }

  .title-right {
    text-align: right;
    justify-content: flex-end;
    display: flex;
    flex: 1 1 0;
    gap: 0.5em;
  }
}

.change-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.teriock-update-input {
  width: 100%;

  label {
    font-weight: unset;
  }
}

.teriock-full-width {
  width: 100%;
}