@use "../mixins";

// Compendium background/icon/header map
$compendiums: (
  abilities: (
    icon: "\e05d",
    name: "Abilities",
  ),
  bodyParts: (
    icon: "\f782",
    name: "Body Parts",
  ),
  classes: (
    icon: "\e5d2",
    name: "Classes",
  ),
  creatures: (
    icon: "\e688",
    name: "Creatures",
  ),
  equipment: (
    icon: "\f723",
    name: "Equipment",
  ),
  magicItems: (
    icon: "\f6e1",
    name: "Magic Items",
  ),
  powers: (
    icon: "\e54d",
    name: "Powers",
  ),
  properties: (
    icon: "\f5d3",
    name: "Properties",
  ),
  species: (
    icon: "\f8de",
    name: "Species",
  ),
  tables: (
    icon: "\f0ce",
    name: "Tables",
  ),
  maintenance: (
    icon: "\f085",
    name: "System Maintenance",
  ),
  execution: (
    icon: "\f6e5",
    name: "Ability Execution Macros",
  ),
  essentials: (
    icon: "\f61f",
    name: "Essentials",
  ),
  player: (
    icon: "\f4fe",
    name: "Player Utilities",
  ),
  rules: (
    icon: "\f05a",
    name: "Rules",
  ),
);

// Compendium header banners
.header-banner {
  @each $key, $data in $compendiums {
    $icon: map-get($data, icon);
    $name: map-get($data, name);

    img[alt="#{$name}"] {
      + .compendium-name i::before {
        content: $icon;
      }
    }
  }
}

.slot.full {
  img {
    @include mixins.warm-image-background;
  }
}

.directory-item.entry {
  img {
    @include mixins.warm-image-background;
  }
}

// Compendium sidebar entries
.directory-item.entry.compendium {
  @each $key, $data in $compendiums {
    $icon: map-get($data, icon);
    &[data-pack="teriock.#{$key}"] {
      .entry-name i::before {
        content: $icon;
      }
    }
  }
}
