@import "../ui/block";
@import "../ui/grid";
@import "../ui/switch";

table {
  margin: 1em 0 0;
}

.tsheet-page,
.sheet-main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.ticon {
  cursor: pointer;
  // cursor: pointer !important;
}

.thover {
  &:hover {
    color: var(--color-warm-2) !important;
  }

  &:active {
    color: var(--color-text-subtle) !important;
  }
}

.thover-soft {
  &:hover {
    color: var(--color-warm-2) !important;
  }

  &:active {
    color: var(--color-text-subtle) !important;
  }
}

.ttoggle-button {
  height: var(--input-height);
  width: var(--input-height);

  &.toggled {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
  }
}

.tsubtle {
  color: var(--color-text-subtle);
  font-size: 0.8em;
  text-transform: uppercase;
}

.tcolored {
  color: var(--color-text-subtle);
}

.tred {
  background-color: color-mix(
    in srgb,
    var(--color-level-error-bg),
    transparent 70%
  );
  border-color: var(--color-level-error-border);
  color: var(--color-level-error);
}

.tround {
  border: 1px solid transparent;
  border-radius: 3px;
}

.ttransparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.transparent-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.tcenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.tbox {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

.toutline {
  outline: 1px solid var(--color-border);
}

.little-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .title-left {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-start;
    text-align: left;
  }

  .title-right {
    display: flex;
    flex: 1 1 0;
    gap: 0.5em;
    justify-content: flex-end;
    text-align: right;
  }
}

.change-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.teriock-update-input {
  width: 100%;

  label {
    font-weight: unset;
  }
}

.teriock-full-width {
  width: 100%;
}

.teriock-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .form-group {
    width: 100%;
  }
}
