.death-bag-pull {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 0.25em;
  padding-top: 2px;

  .death-bag-stones {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: start;
    padding: 6px;
    gap: 6px;
    border: 1px solid #999;

    .death-bag-stone {
      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
    }
  }
}
