@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.es-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.es-mask-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.message-content .es-mask-container {
  display: none;
}

.es-mask-rotator {
  animation: spin 300s linear infinite;
  background-color: transparent;
  //noinspection CssUnknownTarget
  background-image: url("../src/assets/spell-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  filter: contrast(0);

  height: 150%;
  left: calc(100% - 4em);
  opacity: 0.75;
  pointer-events: none;
  position: absolute;

  top: calc(100% - 4em);
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 150%;
  z-index: 0;
}

.es-mask-overlay {
  height: calc(100% + 100px);
  left: -50px;
  pointer-events: none;
  position: absolute;
  top: -50px;
  width: calc(100% + 100px);
  z-index: 1;
}

.es-wording-container {
  display: block;
  margin-top: 0.5em;
  min-height: 1.5em;
  position: relative;
  z-index: 1;
  // margin-bottom: 1.5em;
}

.es-wording-container,
.es-effect-container * {
  color: unset;
}

.es-intro {
  color: var(--color-text-subtle);
  display: block;
  font-size: 0.8em;
  font-style: normal;
  text-transform: uppercase;
  user-select: none;
}

.es-intro a {
  color: unset;
}

.es-wording {
  display: block;
  font-family: "Quintessential", serif;
  font-style: normal;
  font-weight: 400;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.es {
  height: 100%;
  width: 100%;
}

.es-life {
  background-color: rgba(229, 165, 10, 0.07);
  color: color-mix(in srgb, #d4b63f, var(--color-text) 50%);
}

.es-storm {
  background-color: rgba(26, 95, 180, 0.07);
  color: color-mix(in srgb, #3b7dd8, var(--color-text) 50%);
}

.es-necro {
  background-color: rgba(0, 0, 0, 0.07);
  color: color-mix(in srgb, #666666, var(--color-text) 50%);
}

.es-flame {
  background-color: rgba(165, 29, 45, 0.07);
  color: color-mix(in srgb, #d1433f, var(--color-text) 50%);
}

.es-nature {
  background-color: rgba(38, 162, 105, 0.07);
  color: color-mix(in srgb, #3ba272, var(--color-text) 50%);
}

.es-multi {
  background-color: rgba(97, 53, 131, 0.07);
  color: color-mix(in srgb, #8756a3, var(--color-text) 50%);
}

body .es-mask-rotator {
  filter: brightness(0) saturate(100%);
}

.es-incant {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  box-shadow: 0 0 2px #ffffff inset;
  padding: calc(0.5em + 1px);
  // outline: 1px solid var(--color-border);
}
