@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.es-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.es-mask-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.message-content .es-mask-container {
  display: none;
}

.overlay.elder-sorcery,
.es-mask-rotator {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.8;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  &::before {
    animation: spin 120s linear infinite;
    //noinspection CssUnknownTarget
    background-image: url("../src/assets/spell-circle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    filter: contrast(0);
    height: 200%;
    inset: 0;
    position: absolute;
    width: 150%;
    z-index: 0;
  }
}

.es-mask-rotator {
  opacity: 0.5;

  &::before {
    animation: spin 300s linear infinite;
  }
}

.collapse {
  .es-mask-rotator::before {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: translate(calc(16.7% - 24px), -22px) rotate(0deg);
  }
  to {
    transform: translate(calc(16.7% - 24px), -22px) rotate(360deg);
  }
}

.es-mask-overlay {
  height: calc(100% + 100px);
  left: -50px;
  pointer-events: none;
  position: absolute;
  top: -50px;
  width: calc(100% + 100px);
  z-index: 1;
}

.es {
  height: 100%;
  width: 100%;
}

.es-life {
  background-color: rgba(229, 165, 10, 0.07);
  color: color-mix(in srgb, #d4b63f, var(--color-text) 50%);
}

.es-storm {
  background-color: rgba(26, 95, 180, 0.07);
  color: color-mix(in srgb, #3b7dd8, var(--color-text) 50%);
}

.es-necro {
  background-color: rgba(0, 0, 0, 0.07);
  color: color-mix(in srgb, #666666, var(--color-text) 50%);
}

.es-flame {
  background-color: rgba(165, 29, 45, 0.07);
  color: color-mix(in srgb, #d1433f, var(--color-text) 50%);
}

.es-nature {
  background-color: rgba(38, 162, 105, 0.07);
  color: color-mix(in srgb, #3ba272, var(--color-text) 50%);
}

.es-multi {
  background-color: rgba(97, 53, 131, 0.07);
  color: color-mix(in srgb, #8756a3, var(--color-text) 50%);
}
