@keyframes spin-offset {
  from {
    transform: translate(calc(16.7% - 24px), -22px) rotate(0deg);
  }
  to {
    transform: translate(calc(16.7% - 24px), -22px) rotate(360deg);
  }
}

.es-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.es-mask-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.message-content .es-mask-container {
  display: none;
}

.overlay.elder-sorcery,
.es-mask-rotator {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.8;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  &::before {
    animation: spin-offset 120s linear infinite;
    background-image: url("../src/assets/spell-circle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    filter: contrast(0);
    height: 200%;
    inset: 0;
    position: absolute;
    width: 150%;
    z-index: 0;
  }
}

.es-mask-rotator {
  opacity: 0.5;

  &::before {
    animation: spin-offset 300s linear infinite;
  }
}

.collapse {
  .es-mask-rotator::before {
    opacity: 0;
  }
}

.es-mask-overlay {
  height: calc(100% + 100px);
  left: -50px;
  pointer-events: none;
  position: absolute;
  top: -50px;
  width: calc(100% + 100px);
  z-index: 1;
}

.es {
  height: 100%;
  width: 100%;
}

/* --- Thematic Styles --- */

.es-life {
  background-color: rgba(229, 165, 10, 0.07);

  &.overlay, .es-mask-rotator {
    filter: brightness(0) saturate(100%) invert(56%) sepia(16%) saturate(1131%) hue-rotate(345deg) brightness(95%) contrast(87%);
  }
}

.es-storm {
  background-color: rgba(26, 95, 180, 0.07);

  &.overlay, .es-mask-rotator {
    filter: brightness(0) saturate(100%) invert(72%) sepia(40%) saturate(372%) hue-rotate(178deg) brightness(96%) contrast(96%);
  }
}

.es-necro {
  background-color: rgba(0, 0, 0, 0.07);

  &.overlay, .es-mask-rotator {
    filter: brightness(0) saturate(100%) invert(50%) sepia(6%) saturate(255%) hue-rotate(212deg) brightness(90%) contrast(81%);
  }
}

.es-flame {
  background-color: rgba(165, 29, 45, 0.07);

  &.overlay, .es-mask-rotator {
    filter: brightness(0) saturate(100%) invert(74%) sepia(63%) saturate(6427%) hue-rotate(329deg) brightness(100%) contrast(94%);
  }
}

.es-nature {
  background-color: rgba(38, 162, 105, 0.07);

  &.overlay, .es-mask-rotator {
    filter: brightness(0) saturate(100%) invert(49%) sepia(80%) saturate(377%) hue-rotate(100deg) brightness(89%) contrast(92%);
  }
}

.es-multi {
  background-color: rgba(97, 53, 131, 0.07);

  &.overlay, .es-mask-rotator {
    filter: brightness(0) saturate(100%) invert(87%) sepia(20%) saturate(4032%) hue-rotate(231deg) brightness(94%) contrast(83%);
  }
}