.italic-display-field {
  .form-fields,
  .teriock-panel-block-text {
    font-style: italic;
  }
}

.faded-display-field {
  .ab-section,
  .form-fields,
  .teriock-panel-block-title,
  .teriock-panel-block-text {
    opacity: 0.5;
  }
}

.elder-sorcery-display-field {
  .form-fields,
  .teriock-panel-block-text {
    font-family: "Quintessential", serif;
  }
}
