.italic-display-field {
  .form-fields,
  .teriock-panel-block-text {
    font-style: italic;
  }
}

.faded-display-field {
  .ab-section,
  .form-fields,
  .teriock-panel-block-title,
  .teriock-panel-block-text {
    opacity: 0.5;
  }
}

.elder-sorcery-display-field {
  .form-fields,
  .teriock-panel-block-text {
    font-family: "Quintessential", serif;
  }
}

.icon-input {
  position: relative;
  width: 100%;

  label {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 1.8rem;

    i {
      color: var(--color-text-subtle);
      pointer-events: none;
    }
  }

  select,
  input {
    width: 100%;
  }

  select {
    padding-left: 1.5rem;
  }

  input {
    padding-left: 1.75rem;
  }
}
