@use "./colors";
@use "../mixins";

.palette.status-effects {
  border-radius: 8px;
  gap: 4px;

  .effect-control {
    @include mixins.image-border;
    @include mixins.warm-image-background;
    border-color: transparent;
    border-radius: 4px;
    filter: none;

    &.active {
      outline-color: var(--color-warm-2);
    }
  }
}

.attribute {
  &[data-attribute="hp"] input {
    background-color: color-mix(
      in srgb,
      var(--color-input-red-bg),
      transparent 25%
    );
    border-color: colors.$hp-red;
  }

  &[data-attribute="mp"] input {
    background-color: color-mix(
      in srgb,
      var(--color-input-blue-bg),
      transparent 25%
    );
    border-color: colors.$mp-blue;
  }

  &[data-attribute="wither"] input {
    background-color: color-mix(
      in srgb,
      var(--color-input-grey-bg),
      transparent 25%
    );
    border-color: colors.$wp-grey;
  }
}
