<div class="dialog-form standard-form simple-selector-form">
  {{> "teriock/shared/field-list" fields}}
  {{#if hintHtml}}
    {{#if hintTitle}}
      <fieldset>
        <legend>{{hintTitle}}</legend>
        <div>{{{hintHtml}}}</div>
      </fieldset>
    {{else}}
      <div>
        {{{hintHtml}}}
      </div>
    {{/if}}
  {{/if}}
</div>
