<div class="dialog-form standard-form teriock dynamic-select document-selector-body">
  {{#if (exists hint)}}
    <p class="hint">{{{hint}}}</p>
  {{/if}}

  <div class="teriock-block-searchbar">
    <label>
      <input class="search-input" type="search" placeholder="Search..." autocomplete="off" />
    </label>
  </div>

  {{#if (exists documents)}}
    <div class="doc-list-container scrollable scroll-fade" tabindex="0">
      {{> "teriock/shared/document-select-list"}}
    </div>
  {{/if}}
</div>
