.teriock-record-field-items {
  display: flex;
  flex-direction: column;
}
.teriock-record-field-item {
  label {
    text-transform: uppercase;
    color: var(--color-text-subtle);
    font-size: 0.8em;
  }
}