<div class="ab-automations-tab ab-sheet-everything" style="width: 100%;">
  <div class="standard-form" style="padding: 1rem; width: 100%; gap: 1rem; display: flex; flex-direction: column;">
    <button
      class="ab-automations-close"
      data-action="toggleAutomations"
      style="width: 100%;"
    >
      {{makeIcon TERIOCK.display.icons.ui.back "button"}}
      {{localize "TERIOCK.SHEETS.Common.NAVIGATION.exitAutomationsTab"}}
    </button>
    {{> (template "ui/automations-collection.hbs")}}
  </div>
</div>