<div class="children-container">
  {{#each document.visibleTypes as |type|}}
    {{#if (or @root/editable (exists (lookup @root (path @root/TERIOCK.config.document type "getter"))))}}
      <div class="ab-main teriock-block-results teriock-block-display" data-search-key="{{ type }}">
        {{> "teriock/ui/preview"
          type=type
          addButton=true
        }}
      </div>
    {{/if}}
  {{/each}}
</div>
