<div class="children-container">
  {{#if (exists @root/document.visibleTypes)}}
    {{#if (or @root/editable (exists @root/document.visibleChildren))}}
      <div class="teriock-sheet-main teriock-block-display">
        {{> "teriock/ui/preview"
          @root.previews.children
        }}
      </div>
    {{/if}}
  {{/if}}
</div>
