<div class="children-container">
  {{#if (exists @root/document.visibleTypes)}}
    {{#if (or @root/editable (exists @root/document.visibleChildren))}}
      <div class="teriock-sheet-main teriock-block-results teriock-block-display" data-search-key="children">
        {{> "teriock/ui/preview"
          type=@root/addType
          addMenu=@root/addMenu
          addButton=@root/addButton
        }}
      </div>
    {{/if}}
  {{/if}}
</div>
