<div>
  {{#if (eq tab "overview")}}
    <div class="teriock-sheet-main teriock-sheet-primary">
      {{> "teriock/sheets/shared/tags"}}
      {{> "teriock/ui/tips" tips=displayTips}}
      {{> "teriock/sheets/shared/display-fields"}}
    </div>
    {{> "teriock/sheets/shared/children"}}
  {{else}}
    {{> "teriock/sheets/shared/mechanics-navigation"}}
  {{/if}}
</div>
