<div>
  {{#if (eq tab "overview")}}
    <div class="ab-main">
      {{> "teriock/sheets/shared/tags"}}
      {{> "teriock/sheets/shared/display-fields"}}
    </div>
    {{> "teriock/sheets/shared/children"}}
  {{else}}
    {{> "teriock/sheets/shared/automations"}}
  {{/if}}
</div>
