<div>
  {{#if (eq tab "overview")}}
    <div class="ab-main">
      {{> "teriock/sheets/shared/tags"}}
      <div class="teriock-text-fields">
        {{> "teriock/sheets/shared/display-fields"}}
      </div>
    </div>
    {{> "teriock/sheets/shared/children"}}
  {{else}}
    {{> "teriock/sheets/shared/automations"}}
  {{/if}}
</div>
