<div>
  {{#if (eq tab "overview")}}
    <div class="ab-main">
      {{> (template "sheets/shared/tags.hbs")}}
      {{> (template "sheets/shared/display-fields.hbs")}}
    </div>
    {{> (template "sheets/shared/children.hbs")}}
  {{else}}
    {{> (template "sheets/shared/automations.hbs")}}
  {{/if}}
</div>
