{{#if (exists displayToggles)}}
  <div class="teriock-sheet-menu-bar">
    <div class="ttable teriock-sheet-check-grid">
      {{#each displayToggles}}
        {{
          formGroup
          schema
          classes="tgrid-item"
          dataset=dataset
          disabled=(not (and @root/editable editable))
          label=label
          value=value
          rootId=@root/appId
        }}
      {{/each}}
    </div>
  </div>
{{/if}}
