<div class="ab-menu-bar">
  <div class="ttable ab-select-grid menu-large-grid">
    {{#each displayInputs}}
      {{> "teriock/sheets/shared/menu-input"
        field=schema
        value=value
      }}
    {{/each}}
  </div>
</div>
