{{#if (exists displayFields)}}
  <div class="teriock-text-fields">
    {{#each displayFields}}
      <div class="teriock-sheet-section-container">
        {{
          formGroup
          schema
          classes=classes
          dataset=dataset
          disabled=(not (and @root/editable editable))
          enriched=enriched
          label=label
          value=value
          rootId=@root/appId
          toggled=true
        }}
      </div>
    {{/each}}
  </div>
{{/if}}
