{{#each displayFields}}
  <div class="ab-section-container">
    {{formGroup
      schema
      classes=classes
      dataset=dataset
      disabled=(not (and @root/editable editable))
      enriched=enriched
      label=label
      value=value
      rootId=@root/uuid
      toggled=true
    }}
  </div>
{{/each}}
