{{#if (exists displayInputs)}}
  <div class="teriock-sheet-menu-bar">
    <div class="ttable teriock-sheet-select-grid menu-large-grid">
      {{#each displayInputs}}
        {{> "teriock/sheets/shared/menu-input"
          field=schema
          value=value
        }}
      {{/each}}
    </div>
  </div>
{{/if}}
