<div class="tgrid-item">
  <div class="ab-multi-select-label standard-form">
    <label class="tsubtle" for='{{concat appId "-" field.name}}'>{{localize field.label}}</label>
    {{formInput
      field
      value=value
      rootId=appId
      id=(concat @root/appId "-" field.name)
      disabled=(not @root/editable)
    }}
  </div>
</div>
