<div class="tgrid-item">
  <div class="teriock-sheet-multi-select-label standard-form">
    <label class="tsubtle" for='{{concat @root/appId "-" path}}'>{{localize field.label}}</label>
    {{
      formInput
      field
      value=value
      rootId=appId
      id=(concat @root/appId "-" path)
      disabled=(not @root/editable)
      choices=choices
    }}
  </div>
</div>
