<div class="ab-menu {{#if menuCollapsed}}collapsed{{/if}}">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid g1">
        {{> "teriock/sheets/shared/display-toggles"}}
      </div>
    </div>
    {{#if (exists displayFieldButtons)}}
      <div class="ab-menu-bar">
        <div class="tgrid ab-button-grid g2 menu-large-grid">
          {{> "teriock/sheets/shared/display-field-buttons"}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
