<div
  class="
    ab-menu
    {{#if menuCollapsed}}
      collapsed
    {{/if}}
  "
>
  <div class="ab-menu-content">
    {{> "teriock/sheets/shared/display-toggles"}}
    {{#if (exists displayFieldButtons)}}
      <div class="ab-menu-bar">
        <div class="ttable ab-button-grid menu-large-grid">
          {{> "teriock/sheets/shared/display-field-buttons"}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
