<div
  class="
    ab-menu
    {{#if menuCollapsed}}
      collapsed
    {{/if}}
  "
>
  <div
    class="
      ab-menu-content
      {{#if wideToggles}}
        wide-toggles
      {{/if}}
    "
  >
    {{> "teriock/sheets/shared/display-toggles"}}
    {{> "teriock/sheets/shared/display-inputs"}}
    {{> "teriock/sheets/shared/display-field-buttons"}}
  </div>
</div>
