<div class="teriock-sheet-menu collapsible collapsed" data-collapsible-id="menu">
  <div class="teriock-sheet-menu-content {{#if wideToggles}}wide-toggles{{/if}}">
    {{> "teriock/sheets/shared/display-toggles"}}
    {{> "teriock/sheets/shared/display-inputs"}}
    {{> "teriock/sheets/shared/display-field-buttons"}}
  </div>
</div>
