<div class="teriock-sheet-tags-all">
  <div class="teriock-sheet-tags-container">
    <div class="teriock-sheet-tags">
      <div class="teriock-sheet-menu-icons">
        {{> "teriock/sheets/shared/menu-buttons"}}
      </div>
      {{#each displayTags as |tag|}}
        <span
          class="teriock-sheet-tag tsubtle"
          {{#if (exists tag.tooltip)}}
          data-tooltip="{{ tag.tooltip }}"
          {{/if}}
        >
          {{tag.label}}
        </span>
      {{/each}}
    </div>
  </div>
</div>
