{{!-- Blatantly stolen from D&D 5E --}}
{{#if fieldset}}
  <fieldset {{disabled disabled}}>
    <legend>{{ifThen legend (localize legend) (localize "SETUP.Configuration")}}</legend>
    {{> "teriock/shared/field-list" fields}}
  </fieldset>
{{else}}
  <div class="teriock-form-container">
    {{> "teriock/shared/field-list" fields}}
  </div>
{{/if}}
