.details-tab {
  .details-columns {
    gap: 1em;
  }

  .details-right-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .details-value {
    height: 2rem;
  }

  .details-movement {
    .teriock-block-display-divider {
      margin-bottom: 1rem;
    }

    .tgrid {
      padding-inline: 0.5em;
      row-gap: 0.55rem;
    }

    .affix {
      .selected,
      .unselected {
        justify-content: left;
      }
    }
  }

  .details-senses {
    padding: 1em;

    .tgrid {
      padding-inline: 0.5em;
    }
  }

  .details-physical {
    padding-top: 0.75em;

    .teriock-block-display-divider {
      margin-bottom: 0.625em;
      margin-top: 0.125em;
    }
  }

  .details-limits,
  .details-detection {
    padding-block: 0.75em 0.25em;
  }

  .details-detection {
    flex-direction: row;
  }
}

.actor-page .details-tab .details-value.details-muted {
  color: var(--color-text-subtle);
}
