<div id="attunement-results" class="tcard-results">
  <div class="tcard-container {{{system.sheet.display.consequence.size}}} {{#if
    system.sheet.display.consequence.gapless}}gapless{{/if}}">
    {{#each attunements as |attunement|}}
      {{tcard
        img=attunement.img
        title=attunement.name
        subtitle=(concat "Tier " attunement.system.tier)
        text=(dotJoin
          attunement.system.type
          attunement.system.usage
        )
        id=attunement._id
        active=(and attunement.system.targetDocument (not attunement.disabled))
        struck=attunement.disabled
        type="effect"
        draggable=false
        parentId=attunement.parent._id
        tooltip="Share to Chat"
        hidden=(rgx ../searchStrings.effects attunement.name)
        icons=(concat
          (ticon "handshake-simple-slash" action="deattuneDoc" id=attunement._id tooltip="Deattune")
          (ticonToggle
            "circle-check"
            "circle"
            (not item.disabled)
            action="toggleDisabledDoc"
            id=item._id
            tooltipTrue="Enabled"
            tooltipFalse="Disabled"
          )
        )
      }}
    {{/each}}
    <div class="no-results {{{system.sheet.display.consequence.size}}}">
      <p>No attunements found.</p>
    </div>
  </div>
</div>
