<div id="consequence-results" class="tcard-results">
  {{abilityCards consequences system tab="consequence" tooltip="Roll to Remove"}}
  <div class="no-results {{{system.sheet.display.consequence.size}}}">
    <p>No consequences found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>
