<div id="consequence-results" class="tcard-results">
  {{abilityCards consequences system tab="consequence" tooltip="Roll to Remove" searchString=searchStrings.effects noResults="No consequences found."}}
</div>
