<div id="equipment-results" class="tcard-results" data-search-key="equipment">
  <div class="tcard-container {{#if
    system.sheet.display.equipment.gapless}}gapless{{/if}} {{system.sheet.display.equipment.size}}">
    {{#each equipment as |item|}}
      {{tcard
        active=item.system.equipped
        amount=item.system.quantity
        consumable=item.system.consumable
        hidden=(rgx ../searchStrings.equipment item.name)
        icons=(concat
          (ticonToggle "handshake-simple" "handshake-simple-slash" item.system.isAttuned action="toggleAttunedDoc" id=item._id parentId=item.parent._id tooltipTrue="Attuned" tooltipFalse="Deattuned")
          (ticonToggle "link" "link-slash" item.system.glued action="toggleGluedDoc" id=item._id parentId=item.parent._id tooltipTrue="Glued" tooltipFalse="Unglued")
          (ticonToggle "bell" "bell-slash" item.system.dampened action="toggleDampenedDoc" id=item._id parentId=item.parent._id tooltipTrue="Dampened" tooltipFalse="Undampened")
          (ticonToggle "wine-glass" "wine-glass-crack" item.system.shattered action="toggleShatteredDoc" id=item._id parentId=item.parent._id tooltipTrue="Shattered" tooltipFalse="Repaired")
          (ticon "comment" action="chatDoc" id=item._id tooltip="Send to Chat")
          (ticonToggle "circle-check" "circle" item.system.equipped action="toggleEquippedDoc" id=item._id parentId=item.parent._id tooltipTrue="Equipped" tooltipFalse="Unequipped")
        )
        id=item._id
        img=item.img
        marker=(equipmentMarker item)
        max=item.system.maxQuantity.derived
        shattered=item.system.shattered
        struck=item.system.disabled
        subtitle=(dotJoin
          item.system.equipmentType
          (lookup ../TERIOCK.options.equipment.weaponFightingStyles item.system.sb)
        )
        text=(dotJoin
          (suffix item.system.derivedDamage 'Damage')
          (suffix item.system.derivedBv 'BV')
          (suffix item.system.derivedAv 'AV')
          (prefix item.system.tier.value 'Tier')
          (suffix item.system.weight.value 'lb')
        )
        title=item.name
      }}
    {{/each}}
    <div class="no-results {{{system.sheet.display.equipment.size}}}">
      <p>No equipment found.</p>
    </div>
  </div>
</div>
