<div id="equipment-results" class="tcard-results">
  <div class="tcard-container {{#if
    system.sheet.display.equipment.gapless}}gapless{{/if}} {{system.sheet.display.equipment.size}}">
    {{#each equipment as |item|}}
      {{tcard
        img=item.img
        title=item.name
        subtitle=(dotJoin
          item.system.equipmentType
          (lookup ../config.equipmentOptions.weaponFightingStyles item.system.sb)
        )
        text=(dotJoin
          (suffix item.system.derivedDamage 'Damage')
          (suffix item.system.derivedBv 'BV')
          (suffix item.system.derivedAv 'AV')
          (prefix item.system.tier.derived 'Tier')
          (suffix item.system.weight 'lb')
        )
        id=item._id
        active=item.system.equipped
        marker=(equipmentMarker item)
        shattered=item.system.shattered
        struck=item.system.disabled
        consumable=item.system.consumable
        amount=item.system.quantity
        max=item.system.maxQuantity.derived
        icons=(concat
          (ticonToggle "handshake-simple" "handshake-simple-slash" item.system.isAttuned action="toggleAttunedDoc" id=item._id parentId=item.parent._id tooltipTrue="Attuned" tooltipFalse="Deattuned")
          (ticonToggle "link" "link-slash" item.system.glued action="toggleGluedDoc" id=item._id parentId=item.parent._id tooltipTrue="Glued" tooltipFalse="Unglued")
          (ticonToggle "bell" "bell-slash" item.system.dampened action="toggleDampenedDoc" id=item._id parentId=item.parent._id tooltipTrue="Dampened" tooltipFalse="Undampened")
          (ticonToggle "wine-glass" "wine-glass-crack" item.system.shattered action="toggleShatteredDoc" id=item._id parentId=item.parent._id tooltipTrue="Shattered" tooltipFalse="Repaired")
          (ticon "comment" action="chatDoc" id=item._id tooltip="Send to Chat")
          (ticonToggle "circle-check" "circle" item.system.equipped action="toggleEquippedDoc" id=item._id parentId=item.parent._id tooltipTrue="Equipped" tooltipFalse="Unequipped")
        )
      }}
    {{/each}}
  </div>
  <div class="no-results {{{system.sheet.display.equipment.size}}}">
    <p>No equipment found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>
