<div class="tcard-container {{#if
  system.sheet.display.equipment.gapless}}gapless{{/if}} {{system.sheet.display.equipment.size}}">
  {{> "systems/teriock/src/templates/document-templates/shared/equipment.hbs"}}
  <div class="no-results {{{system.sheet.display.equipment.size}}}">
    <p>No equipment found.</p>
  </div>
</div>
