<div class="tcard-container {{#if
  system.sheet.display.equipment.gapless}}gapless{{/if}} {{system.sheet.display.equipment.size}}">
  {{#each mounts as |item|}}
    {{tcard
      img=item.img
      title=item.name
      subtitle=item.system.mountType
      id=item._id
      active=item.mounted
      text=(concat 'Tier ' item.system.tier.value)
      tooltip="Share to Chat"
      hidden=(rgx ../searchStrings.equipment item.name)
      icons=(concat
        (ticonToggle "handshake-simple" "handshake-simple-slash" item.system.isAttuned action="toggleAttunedDoc"
          id=item._id parentId=item.parent._id tooltipTrue="Attuned" tooltipFalse="Deattuned")
        (ticon "comment" action="chatDoc" id=rank._id tooltip="Send to Chat")
        (ticonToggle "circle-check" "circle" item.system.mounted action="toggleMountedDoc" id=item._id
          tooltipTrue="Mounted" tooltipFalse="Unmounted")
      )
    }}
  {{/each}}
  <div class="no-results {{{system.sheet.display.equipment.size}}}">
    <p>No mounts found.</p>
  </div>
</div>
