<div id="rank-results" class="tcard-results" data-search-key="ranks">
  <div
    class="tcard-container {{#if system.sheet.display.rank.gapless}}gapless{{/if}} {{system.sheet.display.rank.size}}">
    {{> "systems/teriock/src/templates/document-templates/shared/ranks.hbs"}}
    <div class="no-results {{{system.sheet.display.rank.size}}}">
      <p>No ranks found.</p>
    </div>
  </div>
</div>
