<div class="tcard-container {{#if
  system.sheet.display.power.gapless}}gapless{{/if}} {{system.sheet.display.power.size}}">
  {{#each species as |item|}}
    {{tcard
      img=item.img
      title=item.name
      subtitle=(concat "Size " item.system.size.value)
      id=item._id
      active=item.active
      text=(ifThen (exists item.system.transformationEffect) item.system.transformationEffect.system.nameString "")
      tooltip="Share to Chat"
      hidden=(rgx ../searchStrings.powers item.name)
      marker=item.system.color
      struck=item.disabled
      icons=(concat
        (ticon "comment" action="chatDoc" id=rank._id tooltip="Send to Chat")
        (ticonToggle
          "circle-check"
          "circle"
          (not item.disabled)
          action="toggleDisabledDoc"
          id=item._id tooltipTrue="Enabled"
          tooltipFalse="Disabled"
        )
      )
    }}
  {{/each}}
  <div class="no-results {{{system.sheet.display.power.size}}}">
    <p>No species found.</p>
  </div>
</div>
