<div class="ab-menu {{#if menuCollapsed}}collapsed{{/if}}">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="ab-menu-bar">
        <div class="tgrid ab-check-grid g3">
          {{> "teriock/sheets/shared/display-toggles"}}
        </div>
      </div>
      <div class="ab-menu-bar">
        <div class="tgrid ab-button-grid menu-large-grid">
          {{> "teriock/sheets/shared/display-field-buttons"}}
        </div>
      </div>
    </div>
  </div>
</div>