<div class="ab-bar">
  {{> "teriock/sheets/shared/forms/form-form"}}
  {{formBox
    (formInput
      systemFields.damageType
      value=system.damageType
      disabled=(not editable)
      placeholder=(localize "TERIOCK.SYSTEMS.Property.FIELDS.damageType.placeholder"))
    unselected=(inferName system.damageType "damage")
    tooltip=(localize "TERIOCK.SYSTEMS.Property.FIELDS.damageType.label")
    icon=TERIOCK.display.icons.effect.damage
  }}
  {{> "teriock/sheets/shared/forms/tag-form"}}
</div>
