{{#if (exists messages)}}
  <ul class="notification-container">
    {{#each messages as |message|}}
      <li
        class="
          notification
          {{#if message.level}}
            {{ message.level }}
          {{else}}
            info
          {{/if}}
        "
      >
        <span>{{localize message.text}}</span>
      </li>
    {{/each}}
  </ul>
{{/if}}
