<div class="teriock-mechanic-collection">
  {{#each entries}}
    {{> "teriock/ui/mechanic"}}
  {{/each}}
  <button class="teriock-full-width" type="button" data-action="createMechanic" data-collection="{{ collection }}">
    {{makeIcon @root/TERIOCK.display.icons.ui.add "button"}}
    {{localize addLabel}}
  </button>
</div>
