<div id="message-modes" class="split-button">
  {{#each messageModes as |mode|}}
    <button
      class="ui-control icon {{ mode.icon }}"
      type="button"
      data-action="messageMode"
      data-mode="{{ mode.action }}"
      aria-pressed="{{ mode.active }}"
      data-tooltip
      aria-label="{{localize mode.label}}"
    ></button>
  {{/each}}
</div>
