{{#if (exists tips)}}
  <ul class="notification-container">
    {{#each tips as |tip|}}
      <li
        class="
          notification
          {{#if tip.level}}
            {{ tip.level }}
          {{else}}
            info
          {{/if}}
        "
      >
        <span>{{localize tip.text}}</span>
      </li>
    {{/each}}
  </ul>
{{/if}}
