<div class="ab-bar">
  {{formBox
    (ifThen
      (eq system.maneuver "active")
      (lookup TERIOCK.options.ability.executionTime.active system.executionTime)
      (ifThen
        (eq system.maneuver "reactive")
        (lookup TERIOCK.options.ability.executionTime.reactive system.executionTime)
        (ifThen
          (eq system.maneuver "passive")
          "Passive"
          (formInput
            systemFields.executionTime
            value=system.executionTime
            disabled=(not editable)
          )
        )
      )
    )
    icon=(lookup TERIOCK.display.icons "execution")
    tooltip="Execution Time"
    dataset=(object maneuver=(lookup TERIOCK.options.ability.maneuver system.maneuver))
    classes=(ifThen editable "execution-box" "")
  }}
  {{formBox
    (concat
      (lookup TERIOCK.options.ability.piercing system.piercing)
      " "
      (lookup TERIOCK.options.ability.delivery system.delivery.base)
    )
    icon=(lookup TERIOCK.display.icons "delivery")
    classes=(ifThen editable "delivery-box" "")
    tooltip="Delivery"
  }}
  {{formBox
    (concat
      (ifThen
        (eq system.interaction "feat")
        (concat (lookup TERIOCK.options.ability.featSaveAttribute system.featSaveAttribute) " ")
        ""
      )
      (lookup TERIOCK.options.ability.interaction system.interaction)
    )
    icon=(lookup TERIOCK.display.icons "interaction")
    classes=(ifThen editable (concat "interaction-box interaction-box-" system.interaction) "")
    tooltip="Interaction"
  }}
</div>
