{{#if system.expansion}}
  <div class="ab-bar">
    {{formBox
      (concat
        (ifThen
          (or (eq system.expansion "detonate") (eq system.expansion "ripple"))
          (concat (lookup TERIOCK.options.ability.featSaveAttribute system.expansionSaveAttribute) " ")
          ""
        )
        (lookup TERIOCK.options.ability.expansion system.expansion)
      )
      classes=(ifThen editable (concat "expansion-box expansion-box-" system.expansion) "")
      tooltip="Expansion Delivery"
      icon=(lookup TERIOCK.display.icons "expansion")
    }}
    {{formBox
      (formInput
        systemFields.expansionRange
        value=system.expansionRange
        disabled=(not editable)
      )
      icon=(lookup TERIOCK.display.icons "expansionRange")
      tooltip="Expansion Range"
      label="ft"
    }}
  </div>
{{/if}}
