{{#if system.expansion.type}}
  <div class="ab-bar">
    {{formBox
      (concat
        (ifThen
          (or (eq system.expansion.type "detonate") (eq system.expansion.type "ripple"))
          (concat
            (lookup
              TERIOCK.options.ability.featSaveAttribute
              system.expansion.featSaveAttribute
            )
            " "
          )
          ""
        )
        (lookup TERIOCK.options.ability.expansion system.expansion.type)
      )
      classes=(ifThen
        editable (concat "expansion-box expansion-box-" system.expansion) ""
      )
      tooltip="Expansion Delivery"
      icon=(makeIcon TERIOCK.display.icons.ability.expansion "sheetForm")
    }}
    {{formBox
      (concat
        "<span style='flex: auto;' data-path='system.expansion.range' data-action='updateUnit'>"
        (ifThen
          (eq system.expansion.range.unitType "finite")
          system.expansion.range.formula system.expansion.range.text
        )
        "</span>"
      )
      action="updateUnit"
      icon=(makeIcon TERIOCK.display.icons.ability.expansionRange "sheetForm")
      tooltip="Expansion Range"
      label=(ifThen (eq system.expansion.range.unitType "finite") system.expansion.range.symbol "")
    }}
    {{formBox
      (formInput
        systemFields.expansion.fields.cap
        value=system._source.expansion.cap.raw
        disabled=(not editable)
        dataset=(object tooltip="Expansion Cap")
      )
      icon=(makeIcon TERIOCK.display.icons.ability.expansionCap "sheetForm")
      unselected=system.expansion.cap.value
      include=(exists system.expansion.cap.raw)
    }}
  </div>
{{/if}}