<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.ability.form system.form "name")
    icon=(path TERIOCK.options.ability.form system.form "icon")
    iconColor=(path TERIOCK.options.ability.form system.form "color")
    tooltip=(localize "TERIOCK.SYSTEMS.BaseEffect.FIELDS.form.label")
    classes=(ifThen editable "ability-type-box" "")
  }}
  {{formBox
    (formInput
      systemFields.tag
      value=system.tag
      disabled=(not editable)
      placeholder=(localize "TERIOCK.SYSTEMS.BaseEffect.FIELDS.tag.placeholder")
    )
    tooltip=(localize "TERIOCK.SYSTEMS.BaseEffect.FIELDS.tag.label")
    icon=TERIOCK.display.icons.ui.tag
  }}
</div>