<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.ability.form system.form "name")
    icon=(path TERIOCK.options.ability.form system.form "icon")
    iconColor=(path TERIOCK.options.ability.form system.form "color")
    tooltip="Ability Form"
    classes=(ifThen editable "ability-type-box" "")
  }}
  {{formBox
    (ifThen disabled "Disabled" "Enabled")
    icon=(ifThen disabled "xmark" "check")
    tooltip="Disabled?"
    action=(ifThen editable "toggleDisabledThis")
  }}
</div>
