<div class="ab-bar">
  {{formBox
    (formInput systemFields.range value=system.range disabled=(not editable))
    icon=(lookup TERIOCK.display.icons "range")
    label="ft"
    include=(or
      (eq system.delivery.base "area")
      (eq system.delivery.base "missile")
      (eq system.delivery.base "aura")
      (eq system.delivery.base "cone")
      (eq system.delivery.base "sight")
    )
  }}
  {{formBox
    system.targetString
    icon=(lookup TERIOCK.display.icons "target")
    tooltip="Targets"
    classes=(ifThen editable "target-box" "")
  }}
  {{formBox
    system.duration.description
    icon=(lookup TERIOCK.display.icons "duration")
    action=(ifThen editable "setDuration" "")
    tooltip="Duration"
  }}
</div>