<div class="ab-bar">
  {{formBox
    (concat
      "<span style='flex: auto;' data-path='system.range' data-action='updateUnit'>"
      (ifThen (eq system.range.unitType "finite") system.range.formula system.range.text)
      "</span>"
    )
    action="updateUnit"
    dataset=(object path="system.range")
    icon=TERIOCK.display.icons.ability.range
    label=(ifThen (eq system.range.unitType "finite") system.range.symbol "")
    include=(or
      (eq system.delivery.base "area")
      (eq system.delivery.base "missile")
      (eq system.delivery.base "aura")
      (eq system.delivery.base "cone")
      (eq system.delivery.base "sight")
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.range.label")
  }}
  {{formBox
    system.targetString
    icon=TERIOCK.display.icons.ability.target
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.targets.label")
    dataset=(object
      action="updatePaths"
      paths="system.targets"
      title="Update Targets"
      icon=TERIOCK.display.icons.ability.target
    )
  }}
  {{formBox
    system.duration.text
    icon=TERIOCK.display.icons.ability.duration
    action=(ifThen editable "updateUnit" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.duration.label")
    dataset=(object path="system.duration")
  }}
</div>