<div class="ab-bar">
  {{formBox
    (concat
      "<span style='flex: auto;' data-tooltip='Range' data-path='system.range' data-action='updateUnit'>"
      (ifThen (eq system.range.unitType "finite") system.range.formula system.range.text)
      "</span>"
    )
    action="updateUnit"
    dataset=(object path="system.range")
    icon=(lookup TERIOCK.display.icons "range")
    label=(ifThen (eq system.range.unitType "finite") system.range.symbol "")
    include=(or
      (eq system.delivery.base "area")
      (eq system.delivery.base "missile")
      (eq system.delivery.base "aura")
      (eq system.delivery.base "cone")
      (eq system.delivery.base "sight")
    )
  }}
  {{formBox
    system.targetString
    icon=(lookup TERIOCK.display.icons "target")
    tooltip="Targets"
    classes=(ifThen editable "target-box" "")
  }}
  {{formBox
    system.duration.text
    icon=(lookup TERIOCK.display.icons "duration")
    action=(ifThen editable "updateUnit" "")
    tooltip="Duration"
    dataset=(object path="system.duration")
  }}
</div>