{{#if (exists system.adult)}}
  <div class="ab-bar">
    {{formBox
      (formInput systemFields.adult value=system.adult disabled=(not editable))
      unselected=(localize "TERIOCK.SYSTEMS.Species.PANELS.lifespan.adult" value=system.adult)
      icon=TERIOCK.display.icons.species.adult
      tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.adult.label")
    }}
    {{formBox
      (formInput
        systemFields.lifespan value=system.lifespan disabled=(not editable)
      )
      unselected=(ifThen
        (exists system.lifespan)
        (localize "TERIOCK.SYSTEMS.Species.PANELS.lifespan.max" value=system.lifespan)
        (localize "TERIOCK.SYSTEMS.Species.PANELS.lifespan.infinite")
      )
      icon=TERIOCK.display.icons.species.lifespan
      tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.lifespan.label")
    }}
  </div>
{{/if}}