<div class="ab-bar">
  {{> (template "document-templates/forms/stat-forms.hbs")}}
  {{formBox
    (formInput
      systemFields.br
      value=system.br
      disabled=(not editable)
    )
    icon=TERIOCK.display.icons.species.br
    tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.br.label")
    label=(localize "TERIOCK.SYSTEMS.BaseActor.FIELDS.scaling.br.abbreviation")
  }}
</div>