<div class="ab-bar">
  {{formBox
    (concat
      system.statDice.hp.formula
      " Hit Di"
      (ifThen (gt system.statDice.hp.number.value 1) "c" "")
      "e ("
      system.statDice.hp.value
      " HP)"
    )
    action="setStatDice"
    dataset=(object stat="hp")
    icon=(firstDie system.statDice.hp.formula)
    tooltip="Hit Dice"
  }}
  {{formBox
    (concat
      system.statDice.mp.formula
      " Mana Di"
      (ifThen (gt system.statDice.mp.number.value 1) "c" "")
      "e ("
      system.statDice.mp.value
      " MP)"
    )
    action="setStatDice"
    dataset=(object stat="mp")
    icon=(firstDie system.statDice.mp.formula)
    tooltip="Mana Dice"
  }}
  {{formBox
    (formInput
      systemFields.br
      value=system.br
      disabled=(not editable)
    )
    icon="chevrons-up"
    tooltip="Battle Rating"
    label="BR"
  }}
</div>