<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.size.fields.value
      value=system.size.value
      disabled=(not editable)
    )
    unselected=(concat "Size " system.size.value)
    icon=TERIOCK.display.icons.species.size
    tooltip="Default Size"
  }}
  {{#if (and (exists system.size.min) (exists system.size.max))}}
    {{formBox
      (formInput
        systemFields.size.fields.min
        value=system.size.min
        disabled=(not editable)
      )
      unselected=(concat "Size " system.size.min " Minimum")
      icon=TERIOCK.display.icons.species.minSize
      tooltip="Minimum Size"
    }}
    {{formBox
      (formInput
        systemFields.size.fields.max
        value=system.size.max
        disabled=(not editable)
      )
      unselected=(concat "Size " system.size.max " Maximum")
      icon=TERIOCK.display.icons.species.maxSize
      tooltip="Maximum Size"
    }}
  {{/if}}
</div>