<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.size.fields.value
      value=system.size.value
      disabled=(not editable)
    )
    unselected=(concat "Size " system.size.value)
    icon="child-reaching"
  }}
  {{#if (and (exists system.size.min) (exists system.size.max))}}
    {{formBox
      (formInput
        systemFields.size.fields.min
        value=system.size.min
        disabled=(not editable)
      )
      unselected=(concat "Size " system.size.min " Minimum")
      icon="person-arrow-down-to-line"
    }}
    {{formBox
      (formInput
        systemFields.size.fields.max
        value=system.size.max
        disabled=(not editable)
      )
      unselected=(concat "Size " system.size.max " Maximum")
      icon="person-arrow-up-from-line"
    }}
  {{/if}}
</div>
