<div class="ab-bar">
  {{formBox
    (concat
      system.statDice.hp.formula
      (localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.hp.label")
      " (" system.statDice.hp.value " "
      (localize "TERIOCK.STATS.hp.abbreviation") ")"
    )
    action="setStatDice"
    dataset=(object stat="hp")
    icon=(firstDie system.statDice.hp.formula)
    tooltip=(localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.hp.label")
  }}
  {{formBox
    (concat
      system.statDice.mp.formula " "
      (localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.hp.label")
      " (" system.statDice.mp.value " "
      (localize "TERIOCK.STATS.mp.abbreviation") ")"
    )
    action="setStatDice"
    dataset=(object stat="mp")
    icon=(firstDie system.statDice.mp.formula)
    tooltip=(localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.mp.label")
  }}
  {{formBox
    (formInput
      systemFields.br
      value=system.br
      disabled=(not editable)
    )
    icon=TERIOCK.display.icons.species.br
    tooltip=(localize "TERIOCK.SYSTEMS.Species.FIELDS.br.label")
    label=(localize "TERIOCK.SYSTEMS.BaseActor.FIELDS.scaling.br.abbreviation")
  }}
</div>