{{#if (eq system.type "species")}}
  <div class="ab-bar ab-lifespan-bar">
    <div class="ab-box-container">
      <div class="ab-box ab-size-box">
        <div class="ab-box-icon">
          <i class="fa-light fa-ruler-vertical"></i>
        </div>
        <div class="ab-box-content">
          <input
            class="ability-bar-input size-input"
            name="system.size"
            type="number"
            value="{{system.size}}"
            min="0"
          />
        </div>
        <div class="ab-box-label">Size</div>
      </div>
    </div>
    <div class="ab-box-container">
      <div class="ab-box ab-adult-box">
        <div class="ab-box-icon">
          <i class="fa-light fa-person"></i>
        </div>
        <div class="ab-box-content">
          <input
            class="ability-bar-input adult-input"
            name="system.adult"
            type="number"
            value="{{system.adult}}"
            min="0"
          />
        </div>
        <div class="ab-box-label">yr</div>
      </div>
    </div>
    <div class="ab-box-container">
      <div class="ab-box ab-lifespan-box">
        <div class="ab-box-icon">
          <i class="fa-light fa-tombstone-blank"></i>
        </div>
        <div class="ab-box-content">
          <input
            class="ability-bar-input lifespan-input"
            name="system.lifespan"
            type="number"
            value="{{system.lifespan}}"
            min="0"
            placeholder="Infinite"
          />
        </div>
        <div class="ab-box-label">yr</div>
      </div>
    </div>
  </div>
{{/if}}