{{#if (eq system.type "species")}}
<div class="ab-bar ab-lifespan-bar">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}ab-size-box{{/if}}" data-tooltip="Size">
      <div class="ab-box-icon">
        <i class="fa-light fa-ruler-vertical"></i>
      </div>
      <div class="ab-box-content">
        {{formInput
        systemFields.size
        value=system.size
        disabled=(not editable)
        classes="ability-bar-input size-input"
        }}
      </div>
      <div class="ab-box-label">Size</div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}ab-adult-box{{/if}}" data-tooltip="Age of Maturity">
      <div class="ab-box-icon">
        <i class="fa-light fa-person"></i>
      </div>
      <div class="ab-box-content">
        {{formInput
        systemFields.adult
        value=system.adult
        disabled=(not editable)
        classes="ability-bar-input adult-input"
        }}
      </div>
      <div class="ab-box-label">yr</div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}ab-lifespan-box{{/if}}" data-tooltip="Maximum Lifespan">
      <div class="ab-box-icon">
        <i class="fa-light fa-tombstone-blank"></i>
      </div>
      <div class="ab-box-content">
        {{formInput
        systemFields.lifespan
        value=system.lifespan
        disabled=(not editable)
        classes="ability-bar-input lifespan-input"
        }}
      </div>
      <div class="ab-box-label">yr</div>
    </div>
  </div>
</div>
{{/if}}
