<div class="ab-bar ab-status-bar">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}power-box{{/if}}" data-tooltip="Power Type">
      <div class="ab-box-icon">
        <i
          class="fa-light fa-{{lookup
              (lookup config.powerOptions system.type)
              'icon'
            }}"
        ></i>
      </div>
      <div class="ab-box-content">
        {{lookup (lookup config.powerOptions system.type) "name"}}
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div
      class="ab-box {{#if editable}}proficient-box{{/if}}"
      data-action="toggleProficient"
      data-tooltip="Proficient?"
    >
      <div class="ab-box-icon">
        {{#if system.proficient}}
        <i class="fa-solid fa-check"></i>
        {{else}}
        <i class="fa-solid fa-xmark"></i>
        {{/if}}
      </div>
      <div class="ab-box-content">
        {{#if system.proficient}}Proficient{{else}}Not Proficient{{/if}}
      </div>
    </div>
  </div>
</div>
