<div class="tgrid g4">
    <div class="tgrid-item">
        <label for="gapless">Gapless</label>
        <input type="checkbox" name="system.sheet.display.abilities.gapless" id="gapless" {{checked system.sheet.display.abilities.gapless}}>
    </div>
    <div class="tgrid-item gi3">
        <select name="system.sheet.display.abilities.size" id="size">
            <option valus="">Card Size</option>
            {{selectOptions config.displayOptions.sizes selected=system.sheet.display.abilities.size}}
        </select>
    </div>
</div>