<div class="{{cssClass}} character-window inventory-sheet">
  <div class="character-page">
    <div class="character-tab-content">
      {{> "teriock/sheets/shared/header"}}
      <div class="character-tab inventory">
        <div class="character-tab-page teriock-block-results" data-search-key="equipment">
          {{> "teriock/sheets/actors/playable/parts/money-display"}}
          <div class="teriock-block-display">
            <div class="teriock-block-options">
              {{> "teriock/ui/block-options"
                tab="equipment"
                optionsToggle=settings.menus.equipmentOptions
                optionsPath="settings.menus.equipmentOptions"
                filterToggle=settings.menus.equipmentFilters
                filterPath="settings.menus.equipmentFilters"
                sortToggle=settings.menus.equipmentSort
                sortPath="settings.menus.equipmentSort"
                searchValue=settings.equipmentFilters.search
                searchKey="equipment"
                addAction="createEquipment"
                sortOptions=TERIOCK.config.display.equipmentSortOrders
                sortValue=settings.equipmentSortOption
                sortOptionPath="settings.equipmentSortOption"
                gaplessPath="flags.teriockDocumentSettings.sheet.blockInventoryGapless"
                gaplessValue=flags.teriockDocumentSettings.sheet.blockInventoryGapless
                sizePath="flags.teriockDocumentSettings.sheet.blockInventorySize"
                sizeValue=flags.teriockDocumentSettings.sheet.blockInventorySize
                ascendingPath="settings.equipmentSortAscending"
                ascendingValue=settings.equipmentSortAscending
                tabDisplay=TERIOCK.config.document.equipment.name
              }}
              {{#if settings.menus.equipmentFilters}}
                <div class="teriock-block-options-content">
                  {{> "teriock/ui/filters"
                    appId=appId
                    filterSelects=equipmentFilterSelects
                    filterToggles=equipmentFilterToggles
                  }}
                </div>
              {{/if}}
            </div>
            {{> "teriock/sheets/actors/playable/results/search-results"
              docs=equipment
              searchKey="equipment"
              empty="equipment"
              gapless="sheet.blockInventoryGapless"
              size="sheet.blockInventorySize"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
