<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid g2">
        <div class="tgrid-item">
          <label for="shattered">Shattered</label>
          <input
            type="checkbox" 
            id="shattered"
            class="shatter-checkbox"
            {{checked system.shattered}}
          />
        </div>
        <div class="tgrid-item">
          <label for="sentient">Sentient</label>
          <input
            type="checkbox" 
            id="sentient"
            name="system.sentient"
            data-edit="system.sentient"
            {{checked system.sentient}}
          />
        </div>
      </div>
    </div>
  </div>
</div>