<div
  class="
    {{ cssClass }}
    actor-window
    {{#if (not floatingTabs)}}
      no-floating-tabs
    {{/if}}
  "
>
  <div class="actor-tabber-background floating">
    {{> "teriock/sheets/actors/playable/parts/tabs"}}
  </div>
  <div class="actor-page">
    {{> "teriock/sheets/actors/playable/parts/sidebar"}}
    <div class="actor-sidebar-tabber-container sidebar-collapser collapsible" data-collapsible-id="sidebar">
      <div class="actor-tabbers">
        <div class="actor-tabber-container">
          <div
            class="actor-tabber-tooltip-container"
            data-tooltip='{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Toggle.label"}}'
            data-tooltip-direction="RIGHT"
          >
            <button
              class="actor-tabber actor-sidebar-tabber ui-controls"
              data-action="toggleCollapse"
              data-collapsible-target="sidebar"
              data-never-disable
              type="button"
            >
              <i class='{{makeIconClass TERIOCK.display.icons.ui.tabRight "solid"}} hflip expanded-icon'></i>
              <i class='{{makeIconClass TERIOCK.display.icons.ui.tabRight "solid"}} collapsed-icon'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="actor-tab-content">
      {{> (concat "teriock/sheets/actors/playable/tabs/" activeTab "-tab")}}
    </div>
    <div class="actor-tabber-background non-floating">
      {{> "teriock/sheets/actors/playable/parts/tabs"}}
    </div>
  </div>
</div>
