<div class="{{cssClass}} {{#if hideInactive}}hide-inactive{{/if}} character-window {{#if
  windowNavigation}}window-navigation{{/if}}">
  <div class="character-page">
    {{> "teriock/sheets/actors/playable/parts/sidebar"}}
    <div class="character-sidebar-tabber-container">
      <div class="character-tabber character-sidebar-tabber ui-controls" data-tab="sidebar"
           data-tooltip="{{localize "TERIOCK.SHEETS.Actor.SIDEBAR.Toggle.label"}}" data-tooltip-direction="RIGHT">
        <i class="mic {{TERIOCK.display.icons.ui.tabRight}} hflip expanded-icon"></i>
        <i class="mic {{TERIOCK.display.icons.ui.tabRight}} collapsed-icon"></i>
      </div>
    </div>
    <div class="character-tab-content">
      {{> (concat "teriock/sheets/actors/playable/tabs/" activeTab "-tab")}}
    </div>
    <div class="character-tabber-background">
      {{> "teriock/sheets/actors/playable/parts/tabs"}}
    </div>
  </div>
</div>
