//.content-link {
//  background: none;
//  border-width: 0;
//  text-decoration: underline;
//}

.theme-light {
  --content-link-background: rgba(255, 255, 255, 0.5);
  --content-link-border-color: var(--color-panel-edge);
  //--content-link-text-color: black;
}

.theme-dark {
  //--content-link-text-color: white;
}
