.tgrid {
  display: grid;
  width: 100%;
  gap: 0.5em;

  &.g1 {
    grid-template-columns: 1fr;
  }

  &.g2 {
    grid-template-columns: 1fr 1fr;
  }

  &.g3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.g4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &.g5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  &.g6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g9 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g10 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g11 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g12 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g13 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g14 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &.g15 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .tgrid-item {
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: right;

    .hint {
      display: none;
    }

    label {
      line-height: unset;
      font-weight: unset;
      flex: auto;
    }

    &.form-group {
      padding-inline: 0.5em;
    }

    .tswitch {
      margin-right: 0.5em;

      .tswitch-bg {
        margin-top: 0;
      }
    }

    multi-select {
      width: 100%;
      flex-direction: column-reverse;
    }

    button {
      width: 100%;
      overflow: hidden;
    }
  }

  .gi1 {
    grid-column: span 1;
  }

  .gi2 {
    grid-column: span 2;
  }

  .gi3 {
    grid-column: span 3;
  }

  .gi4 {
    grid-column: span 4;
  }

  .gi5 {
    grid-column: span 5;
  }

  .gi6 {
    grid-column: span 6;
  }

  .gi7 {
    grid-column: span 7;
  }

  .gi8 {
    grid-column: span 8;
  }

  .gi9 {
    grid-column: span 9;
  }

  .gi10 {
    grid-column: span 10;
  }

  .gi11 {
    grid-column: span 11;
  }

  .gi12 {
    grid-column: span 12;
  }

  .gi13 {
    grid-column: span 13;
  }

  .gi14 {
    grid-column: span 14;
  }

  .gi15 {
    grid-column: span 15;
  }
}