.tswitch {
  .tswitch-bg {
    width: 36px !important;
    height: 18px;
    min-height: unset;
    border-radius: 10px;
    display: flex;
    position: relative;
    padding: 1px;
    align-items: center;
    justify-content: center;
    margin: 3px;

    &:not([disabled]) {
      cursor: pointer;
    }

    .tcircle {
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: color-mix(in srgb, var(--button-text-color), transparent 35%);
      border-radius: 50%;
      left: 10px;
      transition: all 0.2s ease-in-out;
    }

    &.toggled-on,
    &[data-value="1"] {
      background-color: var(--color-warm-2);

      .tcircle {
        background-color: var(--button-hover-text-color);
        left: 19px;
      }
    }

    &.toggled-off,
    &[data-value="-1"] {
      background-color: var(--color-warm-2);

      .tcircle {
        background-color: var(--button-hover-text-color);
        left: 1px;
      }
    }

    &:hover {
      .tcircle {
        background-color: var(--button-hover-text-color);
      }
    }
  }
}
