{{#if
  (or
    (eq system.costs.primary.gp.type "formula")
    (eq system.costs.primary.hp.type "formula")
    (eq system.costs.primary.mp.type "formula")
  )
}}
  <div class="ab-bar">
    {{#each TERIOCK.options.cost.primary.keys as |value key|}}
      {{#if (path @root/system.costs.primary key "type")}}
        {{formBox
          (ifThen
            (eq (path @root/system.costs.primary key "type") "formula")
            (formInput
              (path @root/systemFields.costs.fields.primary.fields key "fields.formula")
              value=(path @root/system.costs.primary key "formula")
              disabled=(not @root/editable)
            )
            @root/TERIOCK.options.cost.primary.types.description
          )
          icon=value.icon
          tooltip=(localize "TERIOCK.COSTS.Long.primary" key=value.label)
          label=value.abbreviation
        }}
      {{/if}}
    {{/each}}
  </div>
{{/if}}