{{#if (or
  (eq system.costs.primary.gp.type "formula")
  (eq system.costs.primary.hp.type "formula")
  (eq system.costs.primary.lp.type "formula")
  (eq system.costs.primary.mp.type "formula"))
}}
  <div class="teriock-sheet-bar">
    {{#each TERIOCK.config.stat as |value key|}}
      {{#if (path @root/system.costs.primary key "type")}}
        {{formBox
          (ifThen
            (eq (path @root/system.costs.primary key "type") "formula")
            (path @root/system.costs.primary key "formula")
            @root/TERIOCK.config.cost.primary.types.description)
          action=(ifThen
            (and @root/editable (eq (path @root/system.costs.primary key "type") "formula"))
            "updatePaths"
            "")
          dataset=(object paths=(concat "system.costs.primary." key ".formula"))
          icon=value.icon
          label=value.abbreviation
          placeholder="0"
          tooltip=(localize "TERIOCK.COSTS.Long.primary" key=value.label)
        }}
      {{/if}}
    {{/each}}
  </div>
{{/if}}
