<div class="ab-bar">
  {{formBox
    (ifThen
      (eq system.maneuver "active")
      (lookup TERIOCK.options.ability.executionTime.active system.executionTime.base)
      (ifThen
        (eq system.maneuver "reactive")
        (lookup
          TERIOCK.options.ability.executionTime.reactive system.executionTime.base
        )
        (ifThen
          (eq system.maneuver "passive")
          (lookup TERIOCK.options.ability.maneuver "passive")
          system.executionTime.slow.text
        )
      )
    )
    icon=TERIOCK.display.icons.ability.execution
    tooltip=(localize "TERIOCK.TERMS.Common.executionTime")
    action=(ifThen (eq system.maneuver "slow") "updateUnit" "")
    dataset=(object
      maneuver=(lookup TERIOCK.options.ability.maneuver system.maneuver)
      path="system.executionTime.slow"
      icon=TERIOCK.display.icons.ability.execution
    )
    classes=(ifThen editable "execution-box" "")
  }}
  {{formBox
    (prefix
      (lookup TERIOCK.options.ability.delivery system.delivery.base)
      (uc system.piercing.value)
    )
    icon=TERIOCK.display.icons.ability.delivery
    classes=(ifThen editable "delivery-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.delivery.label")
  }}
  {{formBox
    (concat
      (ifThen
        (eq system.interaction "feat")
        (concat
          (lookup
            TERIOCK.options.ability.featSaveAttribute system.featSaveAttribute
          )
          " "
        )
        ""
      )
      (lookup TERIOCK.options.ability.interaction system.interaction)
    )
    icon=TERIOCK.display.icons.ability.interaction
    classes=(ifThen
      editable (concat "interaction-box interaction-box-" system.interaction) ""
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.interaction.label")
  }}
</div>