<div class="ab-bar">
  {{formBox
    executionTime
    icon=TERIOCK.display.icons.ability.execution
    tooltip=(localize "TERIOCK.TERMS.Common.executionTime")
    action=(ifThen (eq system.maneuver "slow") "updateUnit" "")
    dataset=(object
      maneuver=(lookup TERIOCK.config.ability.maneuver system.maneuver)
      path="system.executionTime.slow"
      icon=TERIOCK.display.icons.ability.execution
    )
    classes=(ifThen editable "execution-box" "")
    overflow=executionTime
  }}
  {{formBox
    (prefix
      (lookup TERIOCK.config.ability.delivery system.delivery)
      (uc system.piercing.label)
    )
    icon=TERIOCK.display.icons.ability.delivery
    classes=(ifThen editable "delivery-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.delivery.label")
  }}
  {{formBox
    (concat
      (ifThen
        (eq system.interaction "feat")
        (concat
          (lookup TERIOCK.reference.attributes system.featSaveAttribute)
          " "
        )
        ""
      )
      (lookup TERIOCK.config.ability.interaction system.interaction)
    )
    icon=TERIOCK.display.icons.ability.interaction
    classes=(ifThen
      editable (concat "interaction-box interaction-box-" system.interaction) ""
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.interaction.label")
  }}
</div>