<div class="teriock-sheet-bar">
  {{
    formBox
    executionTime
    icon=TERIOCK.display.icons.ability.execution
    tooltip=(localize "TERIOCK.TERMS.Common.executionTime")
    action=(ifThen editable "editExecutionTime" "")
    dataset=(object maneuver=(lookup TERIOCK.config.ability.maneuver system.maneuver))
    classes=(ifThen editable "execution-box" "")
    overflow=true
  }}
  {{
    formBox
    (concat
      system.piercing.label
      " "
      (lookup (lookup TERIOCK.config.ability.delivery system.delivery) "label"))
    icon=TERIOCK.display.icons.ability.delivery
    action=(ifThen editable "editDelivery" "")
    classes=(ifThen editable "delivery-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.delivery.label")
  }}
  {{
    formBox
    (concat
      (ifThen
        (eq system.interaction "feat")
        (concat
          (path TERIOCK.config.attribute system.featSaveAttribute "abbreviation")
          " ")
        "")
      (lookup TERIOCK.config.ability.interaction system.interaction))
    icon=TERIOCK.display.icons.ability.interaction
    action=(ifThen editable "editInteraction" "")
    classes=(ifThen
      editable (concat "interaction-box interaction-box-" system.interaction) "")
    tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.interaction.label")
  }}
</div>
