{{#if system.expansion.type}}
  <div class="ab-bar">
    {{formBox
      (concat
        (ifThen
          (or (eq system.expansion.type "detonate") (eq system.expansion.type "ripple"))
          (concat
            (lookup
              TERIOCK.options.ability.featSaveAttribute
              system.expansion.featSaveAttribute
            )
            " "
          )
          ""
        )
        (lookup TERIOCK.options.ability.expansion system.expansion.type)
      )
      classes=(ifThen
        editable (concat "expansion-box expansion-box-" system.expansion) ""
      )
      tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.delivery.label")
      icon=TERIOCK.display.icons.ability.expansion
    }}
    {{formBox
      (concat
        "<span style='flex: auto;' data-path='system.expansion.range' data-action='updateUnit'>"
        (ifThen
          (eq system.expansion.range.unitType "finite")
          system.expansion.range.formula system.expansion.range.text
        )
        "</span>"
      )
      action="updateUnit"
      icon=TERIOCK.display.icons.ability.expansionRange
      tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.range.label")
      label=(ifThen (eq system.expansion.range.unitType "finite") system.expansion.range.symbol "")
    }}
    {{formBox
      (formInput
        systemFields.expansion.fields.cap
        value=system._source.expansion.cap.raw
        disabled=(not editable)
      )
      icon=TERIOCK.display.icons.ability.expansionCap
      unselected=system.expansion.cap.value
      include=(exists system.expansion.cap.raw)
      tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.cap.label")
    }}
  </div>
{{/if}}