{{#if system.expansion.type}}
  <div class="teriock-sheet-bar">
    {{formBox
      (concat
        (ifThen
          (path TERIOCK.config.ability.expansion system.expansion.type "needsSaveAttribute")
          (concat
            (lookup
              TERIOCK.reference.attributes
              system.expansion.featSaveAttribute)
            " ")
          "")
        (lookup (lookup TERIOCK.config.ability.expansion system.expansion.type) "label"))
      action=(ifThen editable "editExpansion" "")
      classes=(ifThen
        editable (concat "expansion-box expansion-box-" system.expansion.type) "")
      tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.label")
      icon=TERIOCK.display.icons.ability.expansion
    }}
    {{formBox
      (concat
        "<span style='flex: auto;' data-path='system.expansion.range' data-action='updateUnit'>"
        (ifThen
          (eq system.expansion.range.unitType "finite")
          system.expansion.range.formula system.expansion.range.text)
        "</span>")
      action="updateUnit"
      icon=TERIOCK.display.icons.ability.expansionRange
      tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.range.label")
      label=(ifThen (eq system.expansion.range.unitType "finite") system.expansion.range.symbol "")
    }}
    {{formBox
      system._source.expansion.cap
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.expansion.cap")
      icon=TERIOCK.display.icons.ability.expansionCap
      unselected=system.expansion.cap
      include=(exists system.expansion.cap)
      tooltip=(localize "TERIOCK.SYSTEMS.Ability.FIELDS.expansion.cap.label")
    }}
  </div>
{{/if}}
