{{#if (or
  (gt system.costs.tweaks.adept 0)
  (gt system.costs.tweaks.gifted 0)
  (gt system.costs.tweaks.inept 0))
}}
  <div class="teriock-sheet-bar">
    {{#each TERIOCK.config.cost.tweaks as |value key|}}
      {{#if (gt (path @root/system.costs.tweaks key) 0)}}
        {{formBox
          (formInput
            (path @root/systemFields.costs.fields.tweaks.fields key)
            value=(path @root/system.costs.tweaks key)
            disabled=(not @root/editable))
          icon=value.icon
          label=value.label
          tooltip=value.label
        }}
      {{/if}}
    {{/each}}
  </div>
{{/if}}
