.cost-payer-tweaks {
  gap: 1.5rem;
  width: 100%;

  .cost-payer-tweak {
    .form-fields {
      max-width: 2rem;

      input[type="number"] {
        font-size: 0.8em;
        text-align: center;
      }
    }
  }
}
