.heal-dialog {
  .heal-dialog-hacks {
    .hack-marker-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 28px;
      justify-content: center;
    }
  }

  .heal-dialog-dice {
    .die-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 28px;
      justify-content: center;
    }
  }
}
