@use "../mixins";

.heal-dialog {
  .heal-dialog-hacks .hack-marker-box,
  .heal-dialog-dice .die-box {
    @include mixins.centralize;
    flex-direction: column;
    height: 28px;
  }
}

.stat-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;

  .stat-bar {
    width: 100%;
  }

  .ab-profile-img {
    @include mixins.simple-two-layer-image(4em, 4px, 0.3, 6px);
  }
}
