@use "../mixins";

//noinspection CssInvalidPropertyValue,CssInvalidFunction
.doc-list-container {
  --fade: 6px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    #000000 var(--fade),
    #000000 calc(100% - var(--fade)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    #000000 var(--fade),
    #000000 calc(100% - var(--fade)),
    transparent 100%
  );
  overflow: auto;
  padding-block: var(--fade);
  padding-inline: 6px;
}

.doc-select {
  margin: 0;
  padding: 0;

  .doc-select-row {
    align-items: center;
    background-color: var(--color-block-display-background) !important;
    cursor: pointer !important;
    display: flex;
    flex-direction: row;
    gap: 11px;
    height: 14px;

    .doc-checkbox-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 28px;
      justify-content: center;
      margin-left: 10px;
      margin-top: 0;
      width: 20px;

      input {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }

      * {
        margin: 0;
      }
    }

    .doc-image-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 28px;
      justify-content: center;
      width: 28px;
      @include mixins.warm-image-container-background;
      @include mixins.image-border(6px, 0.6);
      @include mixins.image-position;

      img {
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
      }
    }

    .doc-name-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-family: var(--font-h1), serif;
      font-size: large;
      height: 28px;
    }

    .doc-text-container {
      @include mixins.text-subtle;
      margin-left: auto;
      margin-right: 14px;
    }
  }
}
