<div class="ab-impacts-tab ab-sheet-everything" style="width: 100%;">
  <div class="ab-sheet-top" style="border-bottom: 1px solid var(--color-border);">
    {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
  </div>
  <div class="ab-impacts" style="padding: 1rem; width: 100%;">
    <div class="ab-impacts-config standard-form"
         style="display: flex; flex-direction: column; gap: 1rem;">
      <div class="form-group" style="flex-direction: column;">
        {{formGroup
          systemFields.imports.fields.items
          value=system.imports.items
          disabled=(not editable)
          classes="teriock-full-width"
          rootId=uuid
        }}
        {{formGroup
          systemFields.imports.fields.ranks.fields.classes
          value=system.imports.ranks.classes
          disabled=(not editable)
          classes="teriock-full-width"
          rootId=uuid
          choices=TERIOCK.index.classes
        }}
        {{formGroup
          systemFields.imports.fields.ranks.fields.general
          value=system.imports.ranks.general
          disabled=(not editable)
          classes="teriock-full-width"
          rootId=uuid
        }}
      </div>
    </div>
    <button
      class="ab-impacts-close"
      data-action="toggleImpacts"
      style="width: 100%; margin-top: 1.5rem;"
      data-tooltip="Close Impacts"
    >
      <i class="fa-solid fa-check"></i>
      Done
    </button>
  </div>
</div>