<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ab-check-grid g2">
        {{> (template "document-templates/shared/display-toggles.hbs")}}
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-select-grid g2">
        <div class="tgrid-item gi1">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Traits</label>
            {{formInput
              systemFields.traits
              value=system.traits
              disabled=(not editable)
              classes="teriock-full-width ab-menu-inline"
              dataset=(object tooltip="Traits")
              rootId=uuid
            }}
          </div>
        </div>
        <div class="tgrid-item gi1">
          <div class="ab-multi-select-label">
            <label class="tsubtle">Transformation Level</label>
            {{formInput
              systemFields.transformationLevel
              value=system.transformationLevel
              disabled=(not editable)
              classes="teriock-full-width ab-menu-inline"
              dataset=(object tooltip="Transformation Level")
              rootId=uuid
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="ab-menu-bar">
      <div class="tgrid ab-button-grid">
        {{#if (not (and (exists system.size.min) (exists system.size.max)))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-size-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Size Range
            </button>
          </div>
        {{/if}}
        {{#if (not (exists system.adult))}}
          <div class="tgrid-item">
            <button
              class="ab-menu-button ab-lifespan-button"
              {{#if (not editable)}}
              disabled="disabled"
              {{/if}}
            >
              {{{TERIOCK.display.icons.add}}}
              Lifespan
            </button>
          </div>
        {{/if}}
        {{> (template "document-templates/shared/display-field-buttons.hbs")}}
      </div>
    </div>
  </div>
</div>