{{#if (exists system.properties)}}
    <div class="ab-tags-container">
        <div class="ab-tags">
            {{#each system.properties as |key index|}}<span class="ab-tag property-tag" value="{{key}}">{{{key}}}</span>{{/each}}
        </div>
    </div>
{{/if}}