<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.tradecraft system.field "name")
    icon=(path TERIOCK.options.tradecraft system.field "icon")
    classes=(ifThen editable "field-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Fluency.FIELDS.field.label")
  }}
  {{formBox
    (path TERIOCK.reference.tradecrafts system.tradecraft)
    icon=(path TERIOCK.options.tradecraft system.field "tradecrafts" system.tradecraft "icon")
    classes=(ifThen editable "tradecraft-box" "")
    tooltip=(localize "TERIOCK.TERMS.Common.tradecraft")
  }}
</div>
