<div class="ab-bar">
  {{formBox
    (path TERIOCK.config.tradecraft system._source.field "name")
    icon=(inferIcon system.field)
    classes=(ifThen editable "field-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Fluency.FIELDS.field.label")
  }}
  {{formBox
    (inferName system.tradecraft)
    icon=(inferIcon system.tradecraft)
    classes=(ifThen editable "tradecraft-box" "")
    tooltip=(localize "TERIOCK.TERMS.Common.tradecraft")
  }}
</div>
