<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Flaws</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.flaws"
      value="{{system.flaws}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{enrichedFlaws}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{enrichedFlaws}}}</div>
  {{/if}}
</div>
