<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Item tier</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.fullTier"
      value="{{system.fullTier}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{enrichedTier}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{enrichedTier}}}</div>
  {{/if}}
</div>
