@use "../mixins" as mixins;

.mic {
  @include mixins.material-symbol();

  &.fa-light {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 200,
      "opsz" 48;
  }

  &.fa-intermediate {
    font-variation-settings:
      "FILL" 0,
      "wght" 700,
      "GRAD" 200,
      "opsz" 48;
  }

  &.fa-faint {
    font-variation-settings:
      "FILL" 0,
      "wght" 700,
      "GRAD" 200,
      "opsz" 48;

    &:not(:hover) {
      color: var(--color-text-subtle);
    }
  }
}

.fa-faint {
  font-size: smaller;
}

.tfont {
  font-family: var(--font-h1), serif;
}

button,
.window-header {
  .mic {
    font-size: medium;
  }
}

.hflip {
  transform: scaleX(-1);
}
