.mic {
  direction: ltr;
  display: inline-block;
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 200,
    "opsz" 48;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;

  &.fa-light {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 200,
      "opsz" 48;
  }

  &.fa-intermediate {
    font-variation-settings:
      "FILL" 0,
      "wght" 700,
      "GRAD" 200,
      "opsz" 48;
  }

  &.fa-faint {
    font-variation-settings:
      "FILL" 0,
      "wght" 700,
      "GRAD" 200,
      "opsz" 48;

    &:not(:hover) {
      color: var(--color-text-subtle);
    }
  }
}

.fa-faint {
  font-size: smaller;
}

.tfont {
  font-family: var(--font-h1), serif;
}
