@font-face {
  font-family: "XMasterpieceSwashes";
  src: url("../src/assets/fonts/xmasterpieceswashes.ttf");
}

@font-face {
  font-family: "Crete Round";
  src: url("../src/assets/fonts/crete-round-regular.ttf");
}

@font-face {
  font-family: "Alegreya SC Bold";
  src: url("../src/assets/fonts/alegreya-sc-bold.ttf");
}

@font-face {
  font-family: "Alegreya SC Medium";
  src: url("../src/assets/fonts/alegreya-sc-medium.ttf");
}

.tfont,
.tfont {
  font-family: var(--font-h1), serif;
}

.tfont-cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.tfont-great-vibes {
  font-family: "Great Vibes", cursive;
  font-style: normal;
  font-weight: 400;
}

.tfont-xmasterpiece {
  font-family: "XMasterpieceSwashes", serif;
  font-style: normal;
  font-weight: 400;
}

.tfont-bonheur {
  font-family: "Bonheur Royale", cursive;
  font-style: normal;
  font-weight: 400;
}

.tfont-quintessential {
  font-family: "Quintessential", cursive;
  font-style: normal;
  font-weight: 400;
}

.tfont-tagesschrift {
  font-family: "Tagesschrift", serif;
  font-style: normal;
  font-weight: 400;
}
