@use "../mixins" as mixins;

.ab-box-content,
.affix {
  .unselected {
    @include mixins.centralize;
    flex-direction: row;
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
  }

  .selected {
    opacity: 0;
    width: 100%;
  }

  .selected,
  .unselected {
    display: flex;
    text-align: center;
    transition: opacity 50ms;
  }

  // Highlight if value differs from `_source`.
  &.modified .unselected {
    &,
    * {
      color: var(--color-text-accent);
    }
  }

  &:hover,
  &:focus-within {
    .unselected {
      opacity: 0;
    }

    .selected {
      opacity: 1;
    }
  }
}

.unselected {
  left: 2em;
  overflow: hidden;
  width: calc(100% - 4em);
}

.affix {
  position: relative;
}

// Icon equivalent of .affix.
.affix-icon {
  position: relative;

  .selected,
  .unselected {
    @include mixins.centralize;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 50ms;
    width: 100%;
  }

  .selected {
    opacity: 0;
  }

  // Highlight if value differs from `_source`.
  &.modified .unselected {
    color: var(--color-text-accent);
  }

  &:hover {
    .selected {
      opacity: 1;
    }

    .unselected {
      opacity: 0;
    }
  }
}
