.ab-box-content,
.affix {
  .unselected {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
  }

  .selected {
    display: flex;
  }

  &:focus-within {
    .unselected {
      opacity: 0;
    }

    .selected {
      opacity: 1;
    }
  }

  &:not(:focus-within) {
    .unselected {
      opacity: 1;
    }

    .selected {
      opacity: 0;
    }
  }
}

.unselected {
  left: 2em;
  overflow: hidden;
  width: calc(100% - 4em);
}

.affix {
  position: relative;
}
