.ab-box-content,
.affix {
  .unselected {
    align-items: center;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
    opacity: 1;
    pointer-events: none;
  }

  .selected {
    opacity: 0;
  }

  .selected, .unselected {
    display: flex;
    transition: 50ms;
  }

  &:hover,
  &:focus-within {
    .unselected {
      opacity: 0;
    }

    .selected {
      opacity: 1;
    }
  }
}

.unselected {
  left: 2em;
  overflow: hidden;
  width: calc(100% - 4em);
}

.affix {
  position: relative;
}
