<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">End condition</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.endCondition"
      value="{{system.endCondition}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{endCondition}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{endCondition}}}</div>
  {{/if}}
</div>
