<div class="ab-section-container {{#if (not isProficient)}}faded{{/if}}">
  <div class="ab-section">
    <span class="ab-section-title" {{#if
      (not isProficient)}}data-tooltip="You must be proficient in this to heighten it."{{/if}}>Heightened</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.heightened"
      value="{{system.heightened}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{heightened}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{heightened}}}</div>
  {{/if}}
</div>
