{{#if (exists system.improvements.attributeImprovement.attribute)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title ab-section-title-dynamic">Attribute
        improvement</span>
    </div>
    <div class="ab-improvement-bar ab-improvement-attribute">
      {{{enriched.attributeImprovement}}}
    </div>
  </div>
{{/if}}
{{#if (exists system.improvements.featSaveImprovement.attribute)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title ab-section-title-dynamic">Feat save
        improvement</span>
    </div>
    <div class="ab-improvement-bar ab-improvement-feat-save">
      {{{enriched.featSaveImprovement}}}
    </div>
  </div>
{{/if}}