<div class="ab-bar">
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}formula-box{{/if}}" data-tooltip="Roll Formula">
      <div class="ab-box-icon">
        <i class="fa-light fa-{{firstDie system.rollFormula}}"></i>
      </div>
      <div class="ab-box-content">
        <input
          class="ability-bar-input formula-input"
          name="system.rollFormula"
          type="text"
          value="{{system.rollFormula}}"
          data-edit="system.rollFormula"
          placeholder="No Formula"
          {{#if (not editable)}}
          disabled="true"
          {{/if}}
        />
      </div>
      <div class="ab-box-label">
        Roll
      </div>
    </div>
  </div>
  <div class="ab-box-container">
    <div class="ab-box {{#if editable}}function-box{{/if}}" data-tooltip="Function">
      <div class="ab-box-icon">
        <i class="fa-light fa-function"></i>
      </div>
      <div class="ab-box-content">
        {{lookup
          (lookup config.resourceOptions.functionHooks system.functionHook)
          "name"
        }}
      </div>
      <div class="ab-box-label">
        FN
      </div>
    </div>
  </div>
</div>
