<div id="effect-results" class="tcard-results">
  {{abilityCards effects system "effect"}}
  {{#if (not (exists effects))}}
    <div class="no-results {{{system.sheet.display.effect.size}}}">
      <p>No effects found.</p>
    </div>
  {{/if}}
</div>