<div id="rank-results" class="tcard-results">
  <div class="tcard-container {{#if system.sheet.display.rank.gapless}}gapless{{/if}} {{system.sheet.display.rank.size}}">
    {{#each ranks as |item|}}
    {{tcard
    img=item.img
    title=(className item.system.archetype item.system.className)
    subtitle=(concat "Rank " item.system.classRank)
    text=(classArchetype item.system.archetype)
    id=item._id
    active=(not item.disabled)
    icons=(concat
    (ticonToggle (firstDie item.system.hitDie) "xmark-large" (not item.system.hitDieSpent) action="rollHitDie" id=item._id falseAction=false tooltipTrue="Hit Die")
    (ticonToggle (firstDie item.system.manaDie) "xmark-large" (not item.system.manaDieSpent) action="rollManaDie" id=item._id falseAction=false tooltipTrue="Mana Die")
    (ticon "comment" action="chatDoc" id=item._id tooltip="Send to Chat")
    (ticonToggle "circle-check" "circle" (not item.disabled) action="toggleDisabledDoc" id=item._id tooltipTrue="Enabled" tooltipFalse="Disabled")
    )
    }}
    {{/each}}
  </div>
  <div class="no-results {{{system.sheet.display.rank.size}}}">
    <p>No ranks found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>
