<div id="resource-results" class="tcard-results">
  {{abilityCards resources system tab="resource"}}
  <div class="no-results {{{system.sheet.display.resource.size}}}">
    <p>No resources found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>