<div id="resource-results" class="tcard-results">
  {{abilityCards resources system "resource"}}
  {{#if (not (exists resources))}}
    <div class="no-results {{{system.sheet.display.resource.size}}}">
      <p>No resources found.</p>
    </div>
  {{/if}}
</div>