.carrying-display {
  padding-inline: 6px;
  padding-top: 6px;
  width: 100%;
}

.carrying-bar {
  width: 100%;
}

.carrying-grid {
  border: 1px solid transparent;
  border-right-color: var(--color-form-hint);
  border-right-width: 0;
  border-top-width: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  width: 100%;

  &.carrying-progress {
    border-color: var(--color-form-hint);
    border-radius: 6px 6px 0 6px;
    border-top-width: 1px;
  }

  &.carrying-labels {
    border-top-width: 0;
  }
}

.carrying-cell {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: right;
  position: relative;

  &:after {
    border-bottom: 1px solid var(--color-form-hint);
    border-bottom-right-radius: 6px;
    border-right: 1px solid var(--color-form-hint);
    content: "";
    display: block;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
  }
}

.carrying-progress {
  .carrying-cell:after {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    height: 100%;
  }
}

.carrying-label {
  padding-right: 12px;
}
