<div class="ab-tags-container">
  <div class="ab-tags">
    {{#each system.equipmentClasses as |key index|}}<span
      class="ab-tag tsubtle equipment-class-tag"
      data-value="{{key}}"
      data-tooltip="Remove Tag"
    >{{lookup ../TERIOCK.options.equipment.equipmentClasses key}}</span>{{/each}}
    {{#if system.shattered}}
      <span class="ab-tag tsubtle flag-tag-shattered" data-tooltip="Remove Tag">Shattered</span>
    {{/if}}
    {{#if system.dampened}}
      <span class="ab-tag tsubtle flag-tag-dampened" data-tooltip="Remove Tag">Dampened</span>
    {{/if}}
    {{#if system.glued}}
      <span class="ab-tag tsubtle flag-tag-glued" data-tooltip="Remove Tag">Glued</span>
    {{/if}}
    {{#if system.spellTurning}}
      <span class="ab-tag tsubtle flag-tag-spell-turning">Spell Turning</span>
    {{/if}}
    {{#if system.range.melee}}
      <span class="ab-tag tsubtle flag-tag-ranged">Melee</span>
    {{/if}}
    {{#if system.range.ranged}}
      <span class="ab-tag tsubtle flag-tag-ranged">Ranged</span>
    {{/if}}
  </div>
  {{> (template "document-templates/shared/menu-buttons.hbs")}}
</div>
