@use "../../mixins" as mixins;

.italic-display-field {
  .form-fields,
  .teriock-panel-block-text {
    font-style: italic;
  }
}

.editable-display-field {
  .teriock-sheet-section-container label {
    @include mixins.box-hover();
    border-radius: 6px;
    cursor: pointer;
  }
}

.faded-display-field {
  .teriock-sheet-section-container,
  .form-fields,
  .teriock-panel-block-title,
  .teriock-panel-block-text {
    opacity: 0.5;
  }
}

.elder-sorcery-display-field {
  .form-fields,
  .teriock-panel-block-text {
    font-family: "Quintessential", serif;

    .editor-content .text-preview {
      overflow-x: unset;
    }
  }
}

.instructions-display-field {
  background: var(--color-level-info-bg);
  border: 1px solid var(--color-level-info-border);
  border-radius: 4px;
  padding: 6px;
  label, .teriock-panel-block-title {
    &::before {
      border-bottom: unset !important;
      content: "\f05a" !important;
      font-family: var(--font-awesome);
      font-weight: 900;
      margin-right: 5px !important;
      width: 12px !important;
    }
    &::after {
      border-bottom: unset !important;
    }
    color: var(--color-light-3) !important;
    content: "" !important;
  }
  label {
    padding-left: 0.125em;
    padding-top: 0.125em;
  }
  color: var(--color-light-3) !important;
  text-shadow: 0 0 2px black !important;
  button {
    color: var(--color-light-3);
    &:hover {
      background: var(--color-cool-5-50);
    }
  }
}

.theme-light .instructions-display-field {
  background: color-mix(in srgb, var(--color-level-info-bg), transparent 0%);
  border-color: var(--color-panel-associations-border);
}

.teriock-panel .instructions-display-field {
  border-radius: 2px;
  padding: 4px 4px 4px 6px;

  .teriock-panel-block-title {
    &::before {
      font-size: small;
      margin-right: 6px;
    }
  }
}

.icon-input {
  position: relative;
  width: 100%;

  label {
    @include mixins.centralize;
    height: 100%;
    position: absolute;
    width: 1.8rem;

    i {
      color: var(--color-text-subtle);
      pointer-events: none;
    }
  }

  select,
  input {
    width: 100%;
  }

  select {
    padding-left: 1.5rem;
  }

  input {
    padding-left: 1.75rem;
  }
}
