<div class="{{cssClass}} tsheet-page">
  {{#if (eq tab "overview")}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> (template "document-templates/shared/header.hbs")}}
        <div class="ab-bars">
          <div class="ab-bar">
            {{formBox
              (path TERIOCK.options.tradecraft system.field "name")
              icon=(path TERIOCK.options.tradecraft system.field "icon")
              classes=(ifThen editable "field-box" "")
              tooltip="Discipline"
            }}
            {{formBox
              (path TERIOCK.index.tradecrafts system.tradecraft)
              icon=(path TERIOCK.options.tradecraft system.field "tradecrafts" system.tradecraft "icon")
              classes=(ifThen editable "tradecraft-box" "")
              tooltip="Tradecraft"
            }}
          </div>
        </div>
      </div>
      {{> (template "document-templates/shared/simple-menu.hbs")}}
    </div>
  {{/if}}
  {{#if (eq tab "impacts")}}
    {{> (template "document-templates/shared/automations-tab.hbs")}}
  {{/if}}
</div>