<div class="{{cssClass}} tsheet-page" autocomplete="off">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/templates/effect-templates/resource-template/bars/rs-consumable-bar.hbs"}}
        {{> "systems/teriock/templates/effect-templates/resource-template/bars/rs-use-bar.hbs"}}
      </div>
    </div>
    <div class="ab-main">
      {{> "systems/teriock/templates/item-templates/equipment-template/entries/eq-description.hbs"}}
    </div>
  </div>
</div>
