<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Flaws</span>
  </div>
  <prose-mirror
    name="system.flaws"
    value="{{system.flaws}}"
    toggled=true
    editable=editable
  >{{{enrichedFlaws}}}</prose-mirror>
</div>