<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Notes</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.notes"
      value="{{system.notes}}"
      toggled=true
      editable=editable
    >{{{enrichedNotes}}}</prose-mirror>
  {{else}}
    {{{enrichedNotes}}}
  {{/if}}
</div>