<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Equipment type rules</span>
  </div>
  {{#if editable}}
  <prose-mirror
    name="system.specialRules"
    value="{{system.specialRules}}"
    toggled="true"
    editable="editable"
  >{{{enrichedSpecialRules}}}</prose-mirror>
  {{else}}
  {{{enrichedSpecialRules}}}
  {{/if}}
</div>
