<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Item tier</span>
  </div>
  <prose-mirror
    name="system.fullTier"
    value="{{system.fullTier}}"
    toggled=true
    editable=editable
  >{{{enrichedTier}}}</prose-mirror>
</div>