{{#if (exists system.limitation)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">Limitation</span>
    </div>
    <prose-mirror
      name="system.limitation"
      value="{{system.limitation}}"
      toggled=true
      editable=editable
    >{{{limitation}}}</prose-mirror>
  </div>
{{/if}}
{{#if (exists system.improvement)}}
  <div class="ab-section-container">
    <div class="ab-section">
      <span class="ab-section-title">Improvement</span>
    </div>
    <prose-mirror
      name="system.improvement"
      value="{{system.improvement}}"
      toggled=true
      editable=editable
    >{{{improvement}}}</prose-mirror>
  </div>
{{/if}}