<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">End condition</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.endCondition"
      value="{{system.endCondition}}"
      toggled=true
      editable=editable
    >{{{endCondition}}}</prose-mirror>
  {{else}}
    {{{endCondition}}}
  {{/if}}
</div>