<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Heightened</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.heightened"
      value="{{system.heightened}}"
      toggled=true
      editable=editable
    >{{{heightened}}}</prose-mirror>
  {{else}}
    {{{heightened}}}
  {{/if}}
</div>