<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Heightened</span>
  </div>
  <prose-mirror
    name="system.heightened"
    value="{{system.heightened}}"
    toggled=true
    editable=editable
  >{{{heightened}}}</prose-mirror>
</div>