<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Requirements</span>
  </div>
  {{#if editable}}
  <prose-mirror
    name="system.requirements"
    value="{{system.requirements}}"
    toggled="true"
    editable="editable"
  >{{{requirements}}}</prose-mirror>
  {{else}}
  {{{requirements}}}
  {{/if}}
</div>
