<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Trigger</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.trigger"
      value="{{system.trigger}}"
      toggled=true
      editable=editable
    >{{{trigger}}}</prose-mirror>
  {{else}}
    {{{trigger}}}
  {{/if}}
</div>