<div class="character-tab conditions">
  <h1>Effects</h1>
  <div class="character-tab-page">
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.consequenceOptions null null settings.consequenceFilters.search "consequence"}}
      </div>
      {{> 'systems/teriock/src/templates/actor-templates/character-template/results/ch-consequence-results.hbs'}}
    </div>
    <div class="tcard-display">
      {{> 'systems/teriock/src/templates/actor-templates/character-template/results/ch-attunement-results.hbs'}}
    </div>
    <div class="tcard-display">
      {{> 'systems/teriock/src/templates/actor-templates/character-template/results/ch-condition-results.hbs'}}
    </div>
  </div>
</div>