<div class="character-status-box">
  <div class="character-status-bars">
    <div class="character-status-bar-box">
      <div class="die-drawer top-drawer hack-drawer ch-hack-box hp-drawer">
        {{> (template "document-templates/actor-templates/playable-template/parts/ch-hack-box.hbs")}}
      </div>
      {{> (template "document-templates/actor-templates/playable-template/parts/ch-bar-hp.hbs")}}
      <div class="die-drawer hp-die-drawer hp-drawer">
        <div class="tgrid g7">
          {{{system.sheet.dieBox.hp}}}
        </div>
      </div>
    </div>
    <div class="character-status-bar-box">
      {{> (template "document-templates/actor-templates/playable-template/parts/ch-bar-mp.hbs")}}
      <div class="die-drawer mp-die-drawer mp-drawer">
        <div class="tgrid g7">
          {{{system.sheet.dieBox.mp}}}
        </div>
      </div>
    </div>
    <div class="character-status-bar-box">
      {{> (template "document-templates/actor-templates/playable-template/parts/ch-bar-wither.hbs")}}
    </div>
    <div class="character-status-bar-box">
      {{> (template "document-templates/actor-templates/playable-template/parts/ch-bar-presence.hbs")}}
    </div>
  </div>
</div>
