{{#if (exists system.effects)}}
  <div class="ab-tags-container">
    <div class="ab-tags">
      {{#each system.effects as |key index|}}
        <span class='ab-tag effect-tag' value="{{key}}">{{lookup ../config.abilityOptions.effects key}}</span>
      {{/each}}
    </div>
  </div>
{{/if}}