<div class="ab-tags-container">
  <div class="ab-tags">
    {{#if system.shattered}}
      <span class="ab-tag flag-tag-shattered" data-tooltip="Remove Tag">Shattered</span>
    {{/if}}
    {{#if system.dampened}}
      <span class="ab-tag flag-tag-dampened" data-tooltip="Remove Tag">Dampened</span>
    {{/if}}
    {{#if system.glued}}
      <span class="ab-tag flag-tag-glued" data-tooltip="Remove Tag">Glued</span>
    {{/if}}
    {{#each system.equipmentClasses as |key index|}}<span
        class="ab-tag equipment-class-tag"
        value="{{key}}"
        data-tooltip="Remove Tag"
      >{{lookup ../config.equipmentOptions.equipmentClasses key}}</span>{{/each}}
  </div>
  <div class="ab-icon ab-menu-toggle">
    {{#if editable}}
      <div class="ab-menu-closed-container" data-tooltip="Open Menu">
        {{{config.icons.menuOpen}}}
      </div>
    {{/if}}
    <div class="ab-menu-open-container" data-tooltip="Close Menu">
      {{{config.icons.menuClose}}}
    </div>
  </div>
</div>