<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
    </div>
    <div class="ab-main">
      {{#if editable}}
        <button
          class="createBaseEffect"
          data-action="createBaseEffect"
        >Add Base Effect
        </button>{{/if}}
      {{abilityCards baseEffects system}}
    </div>
  </div>
</div>