<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Special rules</span>
  </div>
  <prose-mirror
    name="system.specialRules"
    value="{{system.specialRules}}"
    toggled=true
    editable=editable
  >{{{enrichedSpecialRules}}}</prose-mirror>
</div>