$hp-red: rgb(100, 16, 16);
$hp-red-light: lighten($hp-red, 10%);
$hp-red-dark: darken($hp-red, 10%);
$hp-red-darkest: darken($hp-red, 20%);
$mp-blue: rgb(16, 16, 100);
$mp-blue-light: lighten($mp-blue, 10%);
$mp-blue-dark: darken($mp-blue, 10%);
$mp-blue-darkest: darken($mp-blue, 20%);

.character-page {
  display: flex;
  flex-direction: row;
  max-height: calc(100% - 36px);
  .character-tabbers {
    position: absolute;
    left: calc(100% + 1px);
    // top: 0;
    .character-tabber {
      display: flex;
      width: 2em;
      height: 3em;
      // background: var(--tbg);
      background: var(--color-cool-5);
      border: 1px solid var(--color-cool-4);
      border-left: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      // color: var(--color-icon-color);
      color: var(--color-text-selection);
      text-align: center;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      margin-block: 0.25em;
      &:hover {
        width: 2.5em;
        // color: var(--color-hover-icon-color);
        background-color: var(--color-cool-4);
        color: white;
        border: 1px solid var(--color-cool-3);
        border-left: none;
        cursor: pointer;
      }
      &.active {
        width: 2.5em;
        background-color: var(--color-cool-4);
        border: 1px solid var(--color-shadow-highlight);
        border-left: none;
        // color: var(--control-icon-text-color);
        color: white;
      }
    }
  }
  .character-shortbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    .character-shortbox-value {
      font-size: 1.5em;
      color: var(--color-text);
      background-color: transparent;
      border: none;
      text-align: center;
    }
    .character-shortbox-label {
      font-size: 1em;
      color: var(--color-text-subtle);
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .character-sidebar {
    width: 250px;
    flex: none;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-right: 1px solid var(--color-border);
    .character-intro-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .character-avatar {
        padding: 2em;
      }
      .character-basics {
        display: flex;
        flex-direction: row;
      }
    }
    .character-status-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .character-status-bars {
        width: 100%;
        .character-bar-container {
          position: relative;
          .character-bar {
            height: 3em;
            display: flex;
            flex-direction: row;
            border-radius: 6px;
            margin-bottom: 0.5em;
            overflow: hidden;
            &.character-hit-bar {
              border: 2px solid $hp-red;
              .character-bar-left {
                background-color: $hp-red;
              }
              .character-bar-temp {
                background-image: repeating-linear-gradient(
                  135deg,
                  $hp-red 0px,
                  $hp-red 2px,
                  $hp-red-dark 2px,
                  $hp-red-dark 8px /* gap between lines: 2px line + 6px gap */
                );
                border-left: 2px solid $hp-red;
                border-right: 2px solid $hp-red;
              }
              .character-bar-lost {
                background-color: $hp-red-darkest;
              }
            }
            &.character-mana-bar {
              border: 2px solid $mp-blue;
              .character-bar-left {
                background-color: $mp-blue;
              }
              .character-bar-temp {
                background-image: repeating-linear-gradient(
                  135deg,
                  $mp-blue 0px,
                  $mp-blue 2px,
                  $mp-blue-dark 2px,
                  $mp-blue-dark 8px /* gap between lines: 2px line + 6px gap */
                );
                border-left: 2px solid $mp-blue;
                border-right: 2px solid $mp-blue;
              }
              .character-bar-lost {
                background-color: $mp-blue-darkest;
              }
            }
            .character-bar-left {
              height: 3em;
              flex: none;
            }
            .character-bar-temp {
              height: 3em;
              flex: none;
            }
            .character-bar-lost {
              height: 3em;
              flex: none;
            }
          }
          .character-bar-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            align-content: center;
            .character-bar-overlay-row {
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              input {
                margin-inline: 2px;
                padding-inline: 2px;
              }
              .character-bar-overlay-label {
                background-color: transparent;
                font-size: 1.5em;
                flex: none;
              }
              .character-bar-overlay-left {
                width: 1.5em;
                text-align: right;
                margin-left: 0.25em;
              }
              .character-bar-overlay-temp {
                width: 1.5em;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  .character-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .display-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
  .character-tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
    .character-tab {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }
  }
}
.ranks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5em;
  gap: 0.5em;
  width: 420px;
  .rank-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 84px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
    &:hover {
      box-shadow: 0 0 8px var(--color-shadow-primary);
    }
    .rank-more {
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5em;
      border-radius: 4px;
      border: 1px solid transparent;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    .rank-img {
      width: 84px;
      height: 84px;
      padding: 14px;
    }
    .rank-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      height: 100%;
      .rank-header {
        font-size: 1em;
        text-transform: uppercase;
        color: var(--color-text-subtle);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        .rank-header-left {
          text-align: left;
        }
        .rank-header-right {
          text-align: right;
        }
      }
      .rank-class {
        font-size: 1.5em;
        color: var(--color-text);
        margin-bottom: 2px;
      }
    }
  }
}
.tcard-display {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  .tcard-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed var(--color-form-hint);
    gap: 0.5em;
    .tcard-options-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 100%;
      gap: 0.5em;
      input {
        width: 100%;
      }
    }
    .tcard-options-content {
      padding-top: 0.5em;
      border-top: 1px dotted var(--color-border);
    }
  }
  .tcard-container {
    width: 100%;
    max-width: unset;
  }
  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84px;
  }
}

.character-tab-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.tradecraft-panels {
  width: 100%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr; // two columns
  gap: 0;

  .field-panel {
    padding: 0.5em;
    margin: 0;
    border: none;

    // Add internal borders only
    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px dashed var(--color-border); // right side of left panels
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: 1px dashed var(--color-border); // bottom of top panels
    }
  }

  .field-panel-header {
    width: 100%;
    color: var(--color-text-subtle);
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .tradecraft-panel {
    width: 100%;

    .tradecraft-panel-symbol {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--color-text-subtle);
    }
  }
}
