.ter-card {
  position: relative;
  .ter-card-border {
    position: relative;
    border: 1px solid #767270;
    border-radius: 0.5em;
    margin: 1em;
    -webkit-mask-image: linear-gradient(black, black),
      linear-gradient(
        to right,
        transparent 0,
        transparent 1em,
        black 1em,
        black calc(100% - 0.5em),
        transparent calc(100% - 0.5em),
        transparent 100%
      );
    -webkit-mask-size: 100% 100%, 100% 0.8em;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top, top;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .ter-card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin-inline: 2em;
    .ter-card-title {
      font-size: 1em;
      text-transform: uppercase;
      color: #767270;
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      margin-inline: 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #767270;
        margin-left: 0.5em;
      }
    }
  }

  .ter-card-content {
    margin: 1em;
  }
}

table {
  margin: 0;
  margin-top: 1em;
}

.tsheet-page,
.sheet-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.tcard-container {
  width: 100%;
  gap: 8px;
  --tcard-height: 56px;
  --tcard-outer-border-radius: 4px;
  --tcard-inner-border-width: 1px;
  --tcard-title-font-size: 1em;
  --tcard-subtitle-font-size: 0.8em;
  --tcard-image-padding: 8px;
  --tcard-image-hide-width: 249px;
  --tcard-titles-padding-left: 0;
  --tcard-titles-flex-direction: column;
  --tcard-titles-align-items: flex-start;
  --tcard-titles-gap: 0;
  --tcard-content-padding: 10px;
  --tcard-content-right-padding: 10px;
  --tcard-content-flex-direction: column;
  --tcard-content-align-items: end;
  --tcard-content-gap: 0;
  --tcard-content-font-size: 0.8em;
  --tcard-icons-gap: 4px;
  --tcard-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  --tcard-container-box-shadow: none;
  &:not(.large):not(.small):not(.tiny),
  &.medium {
    @container (max-width: 274px) {
      .tcard-image {
        display: none;
      }
      .tcard-body {
        margin-left: var(--tcard-content-padding);
      }
    }
  }
  &.large {
    --tcard-height: 84px;
    --tcard-title-font-size: 1.5em;
    --tcard-subtitle-font-size: 1em;
    --tcard-content-padding: 14px;
    --tcard-content-right-padding: 14px;
    --tcard-content-font-size: 0.9em;
    @container (max-width: 299px) {
      .tcard-image {
        display: none;
      }
      .tcard-body {
        margin-left: var(--tcard-content-padding);
      }
    }
  }
  &.small {
    --tcard-height: 42px;
    --tcard-outer-border-radius: 3px;
    --tcard-image-padding: 6px;
    --tcard-titles-padding-left: 2px;
    --tcard-titles-flex-direction: row;
    --tcard-titles-align-items: center;
    --tcard-titles-gap: 8px;
    --tcard-content-padding: 8px;
    --tcard-content-right-padding: 8px;
    --tcard-content-flex-direction: row;
    --tcard-content-align-items: center;
    --tcard-content-gap: 8px;
    --tcard-icons-gap: 6px;
    @container (max-width: 374px) {
      .tcard-subtitle {
        display: none;
      }
    }
  }
  &.tiny {
    --tcard-height: 28px;
    --tcard-outer-border-radius: 4px;
    --tcard-image-padding: 4px;
    --tcard-titles-padding-left: 2px;
    --tcard-titles-flex-direction: row;
    --tcard-titles-align-items: center;
    --tcard-titles-gap: 8px;
    --tcard-content-padding: 0;
    --tcard-content-right-padding: 8px;
    --tcard-content-flex-direction: row;
    --tcard-content-align-items: center;
    --tcard-content-gap: 8px;
    --tcard-icons-gap: 6px;
    @container (max-width: 374px) {
      .tcard-subtitle {
        display: none;
      }
    }
  }
  --tcard-border-radius: var(--tcard-outer-border-radius);
  &.gapless {
    --tcard-inner-border-width: 0;
    --tcard-border-radius: 0;
    --tcard-box-shadow: none;
    --tcard-container-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    gap: 0;
  }
  display: flex;
  flex-direction: column;
  box-shadow: var(--tcard-container-box-shadow);
  .tcard {
    --tcard-opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    &.inactive {
      --tcard-opacity: 0.5;
      background-color: rgba(255, 255, 255, 0.05);
    }
    height: var(--tcard-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--tcard-border-radius);
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    position: relative;
    box-shadow: var(--tcard-box-shadow);
    cursor: default;
    .tcard-background {
      background-size: cover;
      opacity: var(--tcard-opacity);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }
    &.shattered {
      .tcard-background {
        background: url("../assets/shattered.png") no-repeat top center;
        background-size: cover;
      }
    }
    &:first-child {
      border-top-left-radius: var(--tcard-outer-border-radius);
      border-top-right-radius: var(--tcard-outer-border-radius);
    }
    &:last-child {
      border-bottom-left-radius: var(--tcard-outer-border-radius);
      border-bottom-right-radius: var(--tcard-outer-border-radius);
    }
    &:not(:first-child) {
      border-top-width: var(--tcard-inner-border-width);
    }
    &:hover {
      box-shadow: 0 0 8px var(--color-shadow-primary);
      background-color: rgba(255, 255, 255, 0.15);
      &.inactive {
        background-color: rgba(255, 255, 255, 0.075);
      }
    }
    .tcard-marker {
      width: 0;
      height: 100%;
      opacity: var(--tcard-opacity);
    }
    .tcard-image {
      width: var(--tcard-height);
      height: var(--tcard-height);
      min-width: var(--tcard-height);
      border-radius: var(--tcard-border-radius);
      margin-right: var(--tcard-image-padding);
      overflow: hidden;
      opacity: var(--tcard-opacity);
      cursor: pointer;
      img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border: none;
        transition: filter 0.15s ease-in-out;
        -webkit-user-drag: none;
        filter: drop-shadow(0 0 2px rgba(0,0,0,0.4));
        &:hover {
          filter: drop-shadow(0 0 2px rgba(125,0,0,0.4));
        }
        &:active {
          filter: drop-shadow(0 0 1.5px rgba(0,0,0,0.3));
        }
      }
    }
    .tcard-body {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      opacity: var(--tcard-opacity);
      .tcard-titles {
        display: flex;
        flex-direction: var(--tcard-titles-flex-direction);
        align-items: var(--tcard-titles-align-items);
        gap: var(--tcard-titles-gap);
        flex-shrink: 0;
        padding-left: var(--tcard-titles-padding-left);
        .tcard-title {
          font-size: var(--tcard-title-font-size);
          color: var(--color-text);
        }
        .tcard-subtitle {
          font-size: var(--tcard-subtitle-font-size);
          color: var(--color-text-subtle);
          text-transform: uppercase;
          &.tcard-clickable {
            cursor: pointer;
            &:hover {
              color: var(--color-warm-2);
            }
            &:active {
              color: var(--color-text-secondary);
            }
          }
        }
      }
      .tcard-content {
        display: flex;
        flex-direction: var(--tcard-content-flex-direction);
        justify-content: space-between;
        align-items: var(--tcard-content-align-items);
        height: 100%;
        padding: var(--tcard-content-padding);
        padding-right: var(--tcard-content-right-padding);
        gap: var(--tcard-content-gap);
        overflow: auto;
        .tcard-text {
          font-size: 0.8em;
          color: var(--color-text-subtle);
          text-transform: uppercase;
          text-align: right;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .tcard-icons {
          font-size: 0.8em;
          color: var(--color-text-subtle);
          text-transform: uppercase;
          display: flex;
          flex: row;
          gap: var(--tcard-icons-gap);
          i {
            &:hover {
              color: var(--color-warm-2);
            }
            &:active {
              color: var(--color-text-secondary);
            }
          }
        }
      }
    }
  }
}

.ticon {
  cursor: pointer;
  // cursor: pointer !important;
}

.tgrid {
  display: grid;
  width: 100%;
  gap: 0.5em;
  &.g1 {
    grid-template-columns: 1fr;
  }
  &.g2 {
    grid-template-columns: 1fr 1fr;
  }
  &.g3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.g4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.g5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &.g6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g9 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g10 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g11 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g12 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g13 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g14 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  &.g15 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .tgrid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    input[type="checkbox"] {
      margin-right: 1.5em;
    }
    multi-select {
      width: 100%;
      flex-direction: column-reverse;
    }
    button {
      width: 100%;
      overflow: hidden;
    }
  }
  .gi1 {
    grid-column: span 1;
  }
  .gi2 {
    grid-column: span 2;
  }
  .gi3 {
    grid-column: span 3;
  }
  .gi4 {
    grid-column: span 4;
  }
  .gi5 {
    grid-column: span 5;
  }
  .gi6 {
    grid-column: span 6;
  }
  .gi7 {
    grid-column: span 7;
  }
  .gi8 {
    grid-column: span 8;
  }
  .gi9 {
    grid-column: span 9;
  }
  .gi10 {
    grid-column: span 10;
  }
  .gi11 {
    grid-column: span 11;
  }
  .gi12 {
    grid-column: span 12;
  }
  .gi13 {
    grid-column: span 13;
  }
  .gi14 {
    grid-column: span 14;
  }
  .gi15 {
    grid-column: span 15;
  }
}

.thover {
  &:hover {
    color: var(--color-warm-2) !important;
  }
  &:active {
    color: var(--color-text-subtle) !important;
  }
}

.ttoggle-button {
  height: var(--input-height);
  width: var(--input-height);
  &.toggled {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
  }
}

.tsubtle {
  color: var(--color-text-subtle);
  text-transform: uppercase;
  font-size: 0.8em;
}

.tcolored {
  color: var(--color-text-subtle);
}

.tred {
  color: var(--color-level-error);
  background-color: color-mix(
    in srgb,
    var(--color-level-error-bg),
    transparent 70%
  );
  border-color: var(--color-level-error-border);
}

.tround {
  border-radius: 6px;
  border: 1px solid transparent;
  margin-inline: 0.25em;
}

.ttransparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 1em;
  width: 100%;
}

.tcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.tbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 0.5em;
}

.tborder {
  border: 1px solid var(--color-border);
}

.toutline {
  outline: 1px solid var(--color-border);
}

.little-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .title-left {
    text-align: left;
    justify-content: flex-start;
    display: flex;
    flex: 1 1 0;
  }
  .title-right {
    text-align: right;
    justify-content: flex-end;
    display: flex;
    flex: 1 1 0;
    gap: 0.5em;
  }
}

.change-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}