@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.es-container {
  overflow: hidden;
  position: relative;
  display: block;
}

.es-mask-rotator {
  position: absolute;
  top: calc(100% - 4em);
  left: calc(100% - 4em);
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
  display: block;

  background-image: url("../assets/spell-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

  filter: contrast(0);
  pointer-events: none;
  z-index: 0;
  transform-origin: center;
  animation: spin 300s linear infinite;
}

.es-mask-overlay {
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.es-wording-container {
  position: relative;
  z-index: 1;
  display: block;
  // margin-bottom: 1.5em;
}

.es-wording-container,
.es-effect-container * {
  color: unset;
}

.es-intro {
  font-style: normal;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  user-select: none;
  color: var(--color-text-subtle);
}

.es-intro a {
  color: unset;
}

.es-wording {
  display: block;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.es {
  height: 100%;
  width: 100%;
}

.es-life {
  color: color-mix(in srgb, #d4b63f, var(--color-text) 50%);
  background-color: rgba(229, 165, 10, 0.07);
}
.es-storm {
  color: color-mix(in srgb, #3b7dd8, var(--color-text) 50%);
  background-color: rgba(26, 95, 180, 0.07);
}
.es-necro {
  color: color-mix(in srgb, #666666, var(--color-text) 50%);
  background-color: rgba(0, 0, 0, 0.07);
}
.es-flame {
  color: color-mix(in srgb, #d1433f, var(--color-text) 50%);
  background-color: rgba(165, 29, 45, 0.07);
}
.es-nature {
  color: color-mix(in srgb, #3ba272, var(--color-text) 50%);
  background-color: rgba(38, 162, 105, 0.07);
}
.es-multi {
  color: color-mix(in srgb, #8756a3, var(--color-text) 50%);
  background-color: rgba(97, 53, 131, 0.07);
}

body .es-mask-rotator {
  filter: brightness(0) saturate(100%);
}

.es-incant {
  padding: calc(0.5em + 1px);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px #FFF inset;
  // outline: 1px solid var(--color-border);
}