<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "document-templates/shared/header.hbs")}}
      <div class="ab-bars">
        <div class="ab-bar">{{> (template "document-templates/forms/stat-forms.hbs")}}</div>
        <div class="ab-bar">
          {{> (template "document-templates/forms/tier-form.hbs")}}
          {{formBox
            (formInput
              systemFields.mountType
              value=system.mountType
              disabled=(not editable)
              placeholder=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
            )
            tooltip=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
            icon=TERIOCK.options.document.species.icon
          }}
        </div>
      </div>
    </div>
    {{> (template "document-templates/shared/simple-menu.hbs")}}
    {{> (template "document-templates/shared/children.hbs")}}
  </div>
</div>