<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "document-templates/shared/header.hbs")}}
      <div class="ab-bars">
        {{> (template "document-templates/item-templates/rank-template/bars/rk-bar-stats.hbs" )}}
        <div class="ab-bar">
          {{formBox
            (formInput
              systemFields.tier
              value=system._source.tier.raw
              disabled=(not editable)
              placeholder="0"
            )
            icon=TERIOCK.display.icons.attunable.tier
            label="TIER"
            tooltip=(localize "TERIOCK.SYSTEMS.Attunable.FIELDS.tier.raw.label")
            unselected=(ifThen system.tier.raw system.tier.value "")
          }}
          {{formBox
            (formInput
              systemFields.mountType
              value=system.mountType
              disabled=(not editable)
              placeholder=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
            )
            tooltip=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
            icon=TERIOCK.options.document.species.icon
          }}
        </div>
      </div>
    </div>
    {{> (template "document-templates/shared/simple-menu.hbs")}}
    {{> (template "document-templates/shared/children.hbs")}}
  </div>
</div>