<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "document-templates/shared/header.hbs")}}
      <div class="ab-bars">
        {{> (template "document-templates/item-templates/rank-template/bars/rk-bar-class.hbs" )}}
        {{> (template "document-templates/item-templates/rank-template/bars/rk-bar-stats.hbs" )}}
        {{> (template "document-templates/item-templates/rank-template/bars/rk-bar-details.hbs" )}}
      </div>
    </div>
    {{> (template "document-templates/shared/simple-menu.hbs")}}
    {{> (template "document-templates/shared/children.hbs")}}
  </div>
</div>
