<div class="tbox toutline">
  <div class="detection-box-main">
    <div class="character-shortbox">
      <div class="tsubtle tcenter">
        Hiding Score
      </div>
      <div class="affix">
        <div class="unselected">
          <span class="character-detection-input character-smallbox-value">{{{system.detection.hiding.value}}}</span>
        </div>
        {{formInput
          systemFields.detection.fields.hiding.fields.saved
          value=system.detection.hiding.saved
          classes="character-detection-input character-smallbox-value selected"
          dataset=(object tooltip=system.detection.hiding.saved)
        }}
      </div>
    </div>
    <div class="character-shortbox">
      <div class="tsubtle tcenter">
        Perceiving Score
      </div>
      <div class="affix">
        <div class="unselected">
          <span class="character-detection-input character-smallbox-value">{{{system.detection.perceiving
          .value}}}</span>
        </div>
        {{formInput
          systemFields.detection.fields.perceiving.fields.saved
          value=system.detection.perceiving.saved
          classes="character-detection-input character-smallbox-value selected"
          dataset=(object tooltip=system.detection.perceiving.saved)
        }}
      </div>
    </div>
  </div>
</div>