<div class="{{cssClass}} tsheet-page" autocomplete="off">
  <div class="ab-sheet-top">
    <div class="ab-bars">
      {{> "systems/teriock/templates/sheets/power-template/bars/pw-status-bar.hbs" }}
    </div>
  </div>
  <div class="sheet-main-container">
    <div class="ab-main">
      <button class="createAbility" data-action="createAbility">Add Ability</button>
      {{abilityCards abilities system}}
    </div>
  </div>
  <div class="ab-main">
    <button class="createResource" data-action="createResource">Add Resource</button>
    {{abilityCards resources system}}
  </div>
</div>