<div class="{{cssClass}} character-window inventory-sheet">
  {{> (template "document-templates/shared/header.hbs")}}
  <div class="character-page">
    <div class="character-tab-content">
      <div class="character-tab inventory">
        <div class="character-tab-page teriock-block-results" data-search-key="equipment">
          {{> (template "document-templates/actor-templates/playable-template/parts/ch-money-display.hbs")}}
          <div class="teriock-block-display">
            <div class="teriock-block-options">
              {{> (template "ui-templates/block-options.hbs")
                tab="equipment"
                optionsToggle=settings.menus.equipmentOptions
                optionsPath="settings.menus.equipmentOptions"
                filterToggle=settings.menus.equipmentFilters
                filterPath="settings.menus.equipmentFilters"
                sortToggle=settings.menus.equipmentSort
                sortPath="settings.menus.equipmentSort"
                searchValue=settings.equipmentFilters.search
                searchKey="equipment"
                addAction="createEquipment"
                sortOptions=TERIOCK.options.display.equipmentSortOrders
                sortValue=settings.equipmentSortOption
                sortOptionPath="settings.equipmentSortOption"
                gaplessPath="flags.teriockDocumentSettings.sheetBlockInventoryGapless"
                gaplessValue=flags.teriockDocumentSettings.sheetBlockInventoryGapless
                sizePath="flags.teriockDocumentSettings.sheetBlockInventorySize"
                sizeValue=flags.teriockDocumentSettings.sheetBlockInventorySize
                ascendingPath="settings.equipmentSortAscending"
                ascendingValue=settings.equipmentSortAscending
                tabDisplay=TERIOCK.options.document.equipment.name
              }}
              {{#if settings.menus.equipmentFilters}}
                <div class="teriock-block-options-content">
                  {{> (template "ui-templates/filters.hbs")
                    appId=appId
                    filterSelects=equipmentFilterSelects
                    filterToggles=equipmentFilterToggles
                  }}
                </div>
              {{/if}}
            </div>
            {{> (template "document-templates/actor-templates/playable-template/results/search-results.hbs")
              docs=equipment
              searchKey="equipment"
              empty="equipment"
              gapless="sheetBlockInventoryGapless"
              size="sheetBlockInventorySize"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
