<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/src/templates/item-templates/power-template/bars/pw-status-bar.hbs" }}
        {{> "systems/teriock/src/templates/item-templates/power-template/bars/pw-lifespan-bar.hbs" }}
      </div>
    </div>
    <div class="ab-main">
      {{> "systems/teriock/src/templates/item-templates/power-template/entries/pw-description.hbs" }}
      {{> "systems/teriock/src/templates/item-templates/power-template/entries/pw-flaws.hbs" }}
    </div>
    {{> "systems/teriock/src/templates/shared/effects.hbs"}}
  </div>
</div>
