<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
      <div class="ab-bars">
        {{> "systems/teriock/src/templates/document-templates/item-templates/power-template/bars/pw-status-bar.hbs" }}
      </div>
    </div>
    <div class="ab-main">
      {{formGroup
        systemFields.description
        value=system.description
        enriched=enriched.description
        enabled=(not disabled)
      }}
      {{formGroup
        systemFields.flaws
        value=system.flaws
        enriched=enriched.flaws
        enabled=(not disabled)
      }}
    </div>
    {{> "systems/teriock/src/templates/document-templates/shared/effects.hbs"}}
  </div>
</div>
