<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "document-templates/shared/header.hbs")}}
      <div class="ab-bars">
        {{> (template "document-templates/item-templates/power-template/bars/pw-status-bar.hbs")}}
      </div>
    </div>
    {{> (template "document-templates/shared/simple-menu.hbs")}}
    {{> (template "document-templates/shared/children.hbs")}}
  </div>
</div>
