{{#if system.ammunition.enabled}}
  <div class="teriock-sheet-bar">
    {{formBox
      system._source.ammunition.type
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.ammunition.type")
      placeholder=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.ammunition.type.label")
      unselected=(getName system.ammunition.type)
      tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.ammunition.type.label")
      icon=TERIOCK.display.icons.equipment.ammunition
    }}
    {{formBox
      system._source.ammunition.consumptionAmount
      action=(ifThen editable "updatePaths" "")
      dataset=(object paths="system.ammunition.consumptionAmount")
      icon=TERIOCK.display.icons.ui.amount
      placeholder="0"
      unselected=(localize "TERIOCK.SYSTEMS.Consumable.EMBED.perUse" value=system.consumptionAmount)
      tooltip=(localize "TERIOCK.SYSTEMS.Consumable.FIELDS.consumptionAmount.label")
    }}
  </div>
{{/if}}
