<div class="ab-bar">
  {{> (template "sheets/shared/forms/tier-form.hbs")}}
  {{formBox
    (formInput
      systemFields.weight
      value=system._source.weight.raw
      disabled=(not editable)
      placeholder="0"
    )
    icon=TERIOCK.display.icons.equipment.weight
    label="lb"
    unselected=(ifThen system.weight.raw system.weight.value "")
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.weight.raw.label")
  }}
  {{formBox
    (formInput
      systemFields.minStr
      value=system._source.minStr.raw
      disabled=(not editable)
      placeholder="0"
    )
    icon=TERIOCK.display.icons.equipment.minStr
    label=(localize "TERIOCK.TERMS.Attributes.str.label")
    unselected=(ifThen system.minStr.raw system.minStr.value "")
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.minStr.raw.label")
  }}
</div>