<div class="teriock-sheet-bar">
  {{#if (or system.identification.identified system.isAttuned)}}
    {{> "teriock/sheets/shared/forms/tier-form"}}
  {{/if}}
  {{
    formBox
    system._source.weight
    action=(ifThen editable "updatePaths" "")
    dataset=(object paths="system.weight")
    icon=TERIOCK.display.icons.equipment.weight
    label="lb"
    placeholder="0"
    unselected=system.weight
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.weight.label")
  }}
  {{
    formBox
    system._source.minStr
    action=(ifThen editable "updatePaths" "")
    dataset=(object paths="system.minStr")
    icon=TERIOCK.display.icons.equipment.minStr
    label=(localize "TERIOCK.TERMS.Attributes.str.abbreviation")
    placeholder="0"
    unselected=system.minStr
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.minStr.label")
  }}
</div>
