<div class="ab-bar">
  {{#if (or system.identification.identified system.isAttuned)}}
    {{> "teriock/sheets/shared/forms/tier-form"}}
  {{/if}}
  {{formBox
    (formInput
      systemFields.weight
      disabled=(not editable)
      placeholder="0"
      value=system._source.weight)
    icon=TERIOCK.display.icons.equipment.weight
    label="lb"
    unselected=(ifThen system.weight system.weight "")
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.weight.label")
  }}
  {{formBox
    (formInput
      systemFields.minStr
      disabled=(not editable)
      placeholder="0"
      value=system._source.minStr)
    icon=TERIOCK.display.icons.equipment.minStr
    label=(localize "TERIOCK.TERMS.Attributes.str.abbreviation")
    unselected=(ifThen system.minStr system.minStr "")
    tooltip=(localize "TERIOCK.SYSTEMS.Equipment.FIELDS.minStr.label")
  }}
</div>
