{{#if system.storage.enabled}}
  <div class="teriock-sheet-bar">
    {{formBox
      (formInput
        systemFields.storage.fields.maxCount
        disabled=(not editable)
        value=system._source.storage.maxCount
        placeholder=(localize "TERIOCK.TERMS.Math.infinity"))
      icon=TERIOCK.display.icons.equipment.maxCount
      unselected=(ifThen
        system.storage.maxCount
        (localize "TERIOCK.FORMAT.outOf" numerator=system.storage.carriedCount denominator=system.storage.maxCount)
        system.storage.carriedCount)
      label="ITEMS"
      iconColor=(ifThen
        system.storage.isOverCountCapacity
        TERIOCK.display.colors.palette.red
        null)
      tooltip=(localize
        (concat
          "TERIOCK.MODELS.Storage.FIELDS.maxCount."
          (ifThen system.storage.isOverCountCapacity "over" "under")))
    }}
    {{formBox
      (formInput
        systemFields.storage.fields.maxWeight
        disabled=(not editable)
        value=system._source.storage.maxWeight
        placeholder=(localize "TERIOCK.TERMS.Math.infinity"))
      icon=TERIOCK.display.icons.equipment.maxWeight
      unselected=(ifThen
        system.storage.maxWeight
        (localize "TERIOCK.FORMAT.outOf" numerator=system.storage.carriedWeight denominator=system.storage.maxWeight)
        system.storage.carriedWeight)
      label="lb"
      iconColor=(ifThen
        system.storage.isOverWeightCapacity
        TERIOCK.display.colors.palette.red
        null)
      tooltip=(localize
        (concat
          "TERIOCK.MODELS.Storage.FIELDS.maxWeight."
          (ifThen system.storage.isOverWeightCapacity "over" "under")))
    }}
    {{formBox
      (formInput
        systemFields.storage.fields.weightMultiplier
        disabled=(not editable)
        value=system._source.storage.weightMultiplier
        placeholder="0")
      icon=TERIOCK.display.icons.equipment.weightMultiplier
      unselected=system.storage.weightMultiplier
      tooltip=(localize "TERIOCK.MODELS.Storage.FIELDS.weightMultiplier.label")
    }}
  </div>
{{/if}}
