{{#if system.storage.enabled}}
  <div class="ab-bar">
    {{formBox
      (formInput
        systemFields.storage.fields.maxCount
        disabled=(not editable)
        value=system._source.storage.maxCount.raw
      )
      icon=TERIOCK.display.icons.equipment.maxCount
      unselected=(concat system.storage.carriedCount " / " system.storage.maxCount.value)
      label="ITEMS"
      iconColor=(ifThen
        system.storage.isOverCountCapacity
        TERIOCK.display.colors.red
        null
      )
      tooltip=(localize
        (concat
          "TERIOCK.MODELS.Storage.FIELDS.maxCount."
          (ifThen
            system.storage.isOverCountCapacity
            "over"
            "under"
          )
        )
      )
    }}
    {{formBox
      (formInput
        systemFields.storage.fields.maxWeight
        disabled=(not editable)
        value=system._source.storage.maxWeight.raw
      )
      icon=TERIOCK.display.icons.equipment.maxWeight
      unselected=(concat (roundTo system.storage.carriedWeight 2) " / " system.storage.maxWeight.value)
      label="lb"
      iconColor=(ifThen
        system.storage.isOverWeightCapacity
        TERIOCK.display.colors.red
        null
      )
      tooltip=(localize
        (concat
          "TERIOCK.MODELS.Storage.FIELDS.maxWeight."
          (ifThen
            system.storage.isOverWeightCapacity
            "over"
            "under"
          )
        )
      )
    }}
    {{formBox
      (formInput
        systemFields.storage.fields.weightMultiplier
        disabled=(not editable)
        value=system._source.storage.weightMultiplier
      )
      icon=TERIOCK.display.icons.equipment.weightMultiplier
      unselected=system.storage.weightMultiplier
      tooltip=(localize "TERIOCK.MODELS.Storage.FIELDS.weightMultiplier.label")
    }}
  </div>
{{/if}}