<div class="ab-tags-container">
  <div class="ab-tags">
    {{#each system.traits as |key index|}}<span
      class="ab-tag tsubtle trait-tag"
      value="{{key}}"
      data-tooltip="Remove Tag"
    >{{lookup ../config.speciesOptions.traits key}}</span>{{/each}}
  </div>
  <div class="ab-icon ab-menu-toggle">
    {{#if editable}}
      <div class="ab-menu-closed-container" data-tooltip="Open Menu">
        {{{config.icons.menuOpen}}}
      </div>
    {{/if}}
    <div class="ab-menu-open-container" data-tooltip="Close Menu">
      {{{config.icons.menuClose}}}
    </div>
  </div>
</div>