<div class="ab-tags-container">
  <div class="ab-tags">
    {{#each system.traits as |key index|}}<span
      class="ab-tag tsubtle trait-tag"
      data-value="{{key}}"
      data-tooltip="Remove Tag"
    >{{lookup ../TERIOCK.reference.traits key}}</span>{{/each}}
    {{#if (exists system.transformationLevel)}}
      <span class="ab-tag tsubtle">
        {{lookup
          TERIOCK.options.effect.transformationLevel
          system.transformationLevel
        }}</span>{{/if}}
  </div>
  {{> (template "document-templates/shared/menu-buttons.hbs")}}
</div>