<div class="character-tab abilities">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Abilities.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="abilities">
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{> "teriock/ui/block-options"
          tab="ability"
          optionsToggle=settings.menus.abilityOptions
          optionsPath="settings.menus.abilityOptions"
          filterToggle=settings.menus.abilityFilters
          filterPath="settings.menus.abilityFilters"
          sortToggle=settings.menus.abilitySort
          sortPath="settings.menus.abilitySort"
          searchValue=settings.abilityFilters.search
          searchKey="abilities"
          sortOptions=TERIOCK.options.display.abilitySortOrders
          sortValue=settings.abilitySortOption
          sortOptionPath="settings.abilitySortOption"
          gaplessPath="flags.teriockDocumentSettings.sheet.blockAbilitiesGapless"
          gaplessValue=flags.teriockDocumentSettings.sheet.blockAbilitiesGapless
          sizePath="flags.teriockDocumentSettings.sheet.blockAbilitiesSize"
          sizeValue=flags.teriockDocumentSettings.sheet.blockAbilitiesSize
          ascendingPath="settings.abilitySortAscending"
          ascendingValue=settings.abilitySortAscending
          tabDisplay=TERIOCK.options.document.ability.name
        }}
        {{#if settings.menus.abilityFilters}}
          {{> "teriock/ui/filters"
            appId=appId
            filterSelects=abilityFilterSelects
            filterToggles=abilityFilterToggles
          }}
        {{/if}}
      </div>
      {{> "teriock/sheets/actors/playable/results/search-results"
        docs=abilities
        searchKey="abilities"
        displayKey="ability"
        empty=TERIOCK.options.document.ability.plural
        gapless="sheet.blockAbilitiesGapless"
        size="sheet.blockAbilitiesSize"
      }}
    </div>
  </div>
</div>
