<section class="actor-tab classes tab {{ tabClass }}" data-group="primary" data-tab="classes">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Classes.title"}}</h1>
  <div class="actor-tab-page">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        @root.previews.classes
      }}
    </div>
  </div>
</section>
