<div class="character-tab classes">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Classes.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="rank">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        type="rank"
        addButton=true
      }}
    </div>
  </div>
</div>
