<div class="actor-tab classes">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Classes.title"}}</h1>
  <div class="actor-tab-page teriock-block-results" data-search-key="rank">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview" @root.previews.rank}}
    </div>
  </div>
</div>
