<section class="actor-tab inventory tab {{ tabClass }}" data-group="primary" data-tab="inventory">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Inventory.title"}}</h1>
  <div class="actor-tab-page">
    {{> "teriock/sheets/actors/playable/parts/money-display"}}
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        @root.previews.inventory
      }}
    </div>
  </div>
</section>
