<div class="actor-tab powers">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Powers.title"}}</h1>
  <div class="actor-tab-page teriock-block-results" data-search-key="power">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        @root.previews.power
      }}
    </div>
  </div>
</div>
