<section class="actor-tab powers tab {{ tabClass }}" data-group="primary" data-tab="powers">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Powers.title"}}</h1>
  <div class="actor-tab-page">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        @root.previews.powers
      }}
    </div>
  </div>
</section>
