<section class="actor-tab resources tab {{ tabClass }}" data-group="primary" data-tab="resources">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Resources.title"}}</h1>
  <div class="actor-tab-page">
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        @root.previews.resources
      }}
    </div>
  </div>
</section>
