<div class="character-tab tradecrafts">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="fluency">
    <div class="teriock-block-display" data-tooltip-direction="LEFT">
      <div class="tradecraft-panels tgrid g2">
        {{#each tradecraftFields as |field index|}}
          {{> "teriock/sheets/actors/playable/parts/tradecrafts-field"
            field=field
            index=index
          }}
        {{/each}}
        {{#each prestigeFields as |field index|}}
          {{> "teriock/sheets/actors/playable/parts/tradecrafts-field"
            field=field
            index=index
          }}
        {{/each}}
      </div>
    </div>
    <div class="teriock-block-display">
      {{> "teriock/ui/preview"
        type="fluency"
        addAction="createFluency"
      }}
    </div>
  </div>
</div>
