<div class="character-tab tradecrafts">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Tradecrafts.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="fluencies">
    <div class="teriock-block-display" data-tooltip-direction="LEFT">
      <div class="tradecraft-panels tgrid g2">
        {{#each tradecraftFields as |field|}}
          {{> (template "sheets/actors/playable/parts/tradecrafts-field.hbs") field=field}}
        {{/each}}
        {{#each prestigeFields as |field|}}
          {{> (template "sheets/actors/playable/parts/tradecrafts-field.hbs") field=field}}
        {{/each}}
      </div>
    </div>
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{> (template "ui/block-options.hbs")
          tab="fluency"
          optionsToggle=settings.menus.fluencyOptions
          optionsPath="settings.menus.fluencyOptions"
          searchValue=settings.fluencyFilters.search
          searchKey="fluencies"
          addAction="createFluency"
          gaplessPath="flags.teriockDocumentSettings.sheetBlockTradecraftsGapless"
          gaplessValue=flags.teriockDocumentSettings.sheetBlockTradecraftsGapless
          sizePath="flags.teriockDocumentSettings.sheetBlockTradecraftsSize"
          sizeValue=flags.teriockDocumentSettings.sheetBlockTradecraftsSize
          tabDisplay=TERIOCK.options.document.fluency.name
        }}
      </div>
      {{> (template "sheets/actors/playable/results/search-results.hbs")
        docs=fluencies
        searchKey="fluencies"
        displayKey="fluency"
        empty=TERIOCK.options.document.fluency.plural
        gapless="sheetBlockTradecraftsGapless"
        size="sheetBlockTradecraftsSize"
      }}
    </div>
  </div>
</div>