@mixin warm-drop-shadow($spread: 3px, $color: var(--color-cool-4), $fade: 60%) {
  filter: drop-shadow(
    0 0 $spread color-mix(in srgb, $color, transparent $fade)
  );
}

@mixin warm-image-background() {
  background: radial-gradient(circle, var(--color-cool-3), var(--color-dark-1));
}

@mixin warm-image-container-background() {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    @include warm-image-background;
  }
}

@mixin image-border($spread: 4px, $opacity: 0.3, $radius: 100%) {
  box-shadow: 0 0 $spread rgba(0, 0, 0, $opacity);
  border: 1px solid color-mix(in srgb, var(--color-dark-5), transparent 25%);
  border-radius: $radius;
  outline: 1px solid var(--color-light-6);
  overflow: hidden;
}

@mixin sheet-entry-hover() {
  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-text-primary),
      transparent 90%
    );
  }

  &:active {
    background-color: color-mix(
      in srgb,
      var(--color-text-primary),
      transparent 80%
    );
  }

  &:focus:not(:active) {
    background-color: color-mix(
      in srgb,
      var(--color-text-primary),
      transparent 90%
    );
  }
}

@mixin title-text-spacing($right: 0) {
  text-align: center;
  padding-right: $right;
}

@mixin title-text-styling() {
  background: none;
  border: none;
  box-shadow: none;
  font-family: var(--font-h1), serif;
}

@mixin image-right-border() {
  border-right: 1px solid var(--color-border);
  left: 1px solid var(--color-border);
}

@mixin image-position() {
  object-fit: cover;
  object-position: 50% 0;
}

@mixin text-subtle() {
  color: var(--color-text-subtle);
  text-transform: uppercase;
  font-size: smaller;
}

@mixin tag-container-style() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
}

@mixin tag-style() {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid
    color-mix(in srgb, var(--color-text-subtle), transparent 75%);
  white-space: nowrap;
  border-radius: 3px;
  height: 1.5em;
  margin: 0;
  padding-inline: 0.3em;
  text-align: center;
  align-content: center;

  @include text-subtle;
}

@mixin roll-style() {
  border: 1px solid var(--color-panel-associations-border);
  box-shadow: 0 0 2px var(--color-panel-associations-shadow-color) inset;
  background: var(--color-panel-associations-background);
  border-radius: 4px;
}

@mixin inverse-roll-style() {
  @include roll-style;
  box-shadow: none;
  background: var(--color-panel-background);
  border-color: var(--color-panel-edge);
}

@mixin collapsible() {
  display: grid;
  overflow: hidden;
  transition: 250ms;
}

@mixin collapsible-open() {
  grid-template-rows: 1fr;
  opacity: 1;
}

@mixin collapsible-closed() {
  grid-template-rows: 0fr;
  opacity: 0;
}

@mixin gapped(
  $gap: 16px,
  $divider-color: var(--color-panel-divider),
  $divider-width: 1px
) {
  display: flex;
  flex-direction: column;
  gap: $gap;

  > * {
    position: relative;

    & + *::before {
      content: "";
      position: absolute;
      top: -($gap / 2);
      left: 0;
      right: 0;
      border-top: $divider-width var(--panel-divider-style) $divider-color;
    }
  }
}

@mixin box-hover() {
  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-text-primary),
      transparent 90%
    );
  }
}
