.application.sheet.teriock.unpadded:not(.minimized, .minimizing, .maximizing) {
  min-width: 250px;

  .window-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .window-content {
    container-type: size;
    gap: 0 !important;
    overflow: auto;
    padding: 0 !important;
  }
}

.application.sheet.teriock.ability:not(.minimized, .minimizing, .maximizing) .window-content:has(> .es-mask-rotator) {
  overflow: hidden;
  position: relative;

  > .teriock-sheet-everything {
    height: 100%;
    overflow: auto;
    position: relative;
    scrollbar-gutter: stable;
    z-index: 1;
  }

  > .es-mask-rotator {
    inset: 0;
    position: absolute;
    z-index: 0;
  }
}

.application.sheet.teriock.actor:not(.minimized, .minimizing, .maximizing) {
  backdrop-filter: blur(4px);
  min-height: 450px;
  min-width: 525px;
  overflow: unset;

  .window-content {
    display: contents;
    overflow: unset;
  }
}
