.tsheet,
.tsheet-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.application.sheet.teriock.unpadded:not(.minimized) {
  min-width: 250px;

  .window-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .window-content {
    container-type: inline-size;
    gap: 0 !important;
    overflow: auto;
    padding: 0 !important;
  }
}

.application.sheet.teriock.character:not(.minimized) {
  backdrop-filter: blur(4px);
  min-height: 425px;
  min-width: 525px;
  overflow: unset;

  .window-content {
    display: contents;
    overflow: unset;
  }
}
