@use "mixins";

@import "themes";
@import "page-sizing";
@import "messages/panel";
@import "messages/tooltip";
@import "components/compendium";
@import "components/ui/editor";
@import "components/ui/content-link";
@import "components/chat";

.teriock {
  @import "dialogs/heal-dialog";
  @import "dialogs/token-select";
  @import "utils/fonts";
  @import "utils/interactive";
  @import "components/common";
  @import "components/ability";
  @import "components/actor";
  @import "components/character";
  @import "components/elder-sorcery";
  @import "components/changes";
  @import "components/death-bag";
  @import "components/hud";
  @import "actor/carrying";
  @import "actor/effects";
}

[role="tooltip"] {
  padding: 0.5em !important;
}

.chat-message .message-content {
  overflow: unset !important;
}

.thover {
  cursor: pointer;

  &:hover {
    color: var(--color-warm-2);
  }

  &:active {
    color: var(--color-text-secondary);
  }
}

.thover-soft {
  &:hover {
    color: var(--color-warm-2);
  }

  &:active {
    color: var(--color-text-secondary);
  }
}

.chat-message {
  overflow: hidden;
}

dl dt {
  color: var(--color-text-emphatic);
  font-weight: bold;
  text-shadow: none;
}

dl dd {
  margin-bottom: 0.5em;
}

dl:not(:last-child) {
  margin-bottom: 0.5em;
}

dl:not(:first-child) {
  margin-top: 0.5em;
}

.force-hidden {
  display: none;
}

.combat-sidebar .combat-tracker .token-effect {
  filter: none;
}

.roll-table-sheet .flexrow .image img {
  @include mixins.image-border;
  @include mixins.warm-image-background;
}

.teriock-panels + .dice-roll,
.dice-roll + .dice-roll {
  margin-top: 6px;
}

.dice-tooltip {
  .part-header {
    border-color: var(--color-panel-edge);
  }

  .part-total {
    background-color: var(--color-panel-background);
    border-color: var(--color-panel-edge);
  }
}

.cards-config header img,
.macro-config header img,
.roll-table-sheet header img,
.active-effect-config header img {
  @include mixins.image-border;
  @include mixins.warm-image-background;
}

#action-bar {
  .slot {
    .slot-icon {
      @include mixins.image-position;
    }
  }
}
