@use "sass:meta";
@use "mixins";
@use "themes";
@use "page-sizing";
@use "utils/fonts";

@use "ui/block";
@use "ui/grid";
@use "ui/ternary";
@use "ui/toggle-button";
@use "ui/panel";
@use "ui/editor";
@use "ui/content-link";
@use "ui/tooltip";
@use "ui/mechanic";

@use "components/chat";
@use "components/fields";
@use "components/identifier-tags";
@use "components/elder-sorcery";
@use "components/changes";
@use "components/character";
@use "components/base-effect";
@use "components/harm";

@use "dialogs/stat-dialogs";
@use "dialogs/execution-editor";

.teriock {
  @include meta.load-css("ui/forms");
  @include meta.load-css("dialogs/document-selector");
  @include meta.load-css("dialogs/settings");
  @include meta.load-css("utils/interactive");
  @include meta.load-css("components/common");
  @include meta.load-css("components/child");
  @include meta.load-css("components/death-bag");
  @include meta.load-css("components/hud");
  @include meta.load-css("actor/condition-toggle");
}

.chat-message .message-content {
  overflow: unset !important;
}

dl dt {
  color: var(--color-text-emphatic);
  font-weight: bold;
  text-shadow: none;
}

dl dd,
dl:not(:last-child) {
  margin-bottom: 0.5em;
}

dl:not(:first-child) {
  margin-top: 0.5em;
}

.force-hidden,
.combat-sidebar .combat-tracker .token-effect {
  filter: none;
}

.roll-table-sheet .flexrow .image img {
  @include mixins.image-border(4px, 0.3, 3px);
  @include mixins.warm-image-background;
}

.teriock-panels + .dice-roll,
.dice-roll + .dice-roll {
  margin-top: 6px;
}

.dice-tooltip {
  .part-header {
    border-color: var(--color-panel-edge);
  }

  .part-total {
    background-color: var(--color-panel-background);
    border-color: var(--color-panel-edge);
  }
}

.cards-config,
.macro-config,
.roll-table-sheet,
.active-effect-config {
  .sheet-header {
    input {
      @include mixins.title-text-styling;
      @include mixins.sheet-entry-hover;
    }

    img {
      @include mixins.image-border(12px, 0.5, 5px);
      @include mixins.warm-image-background;
    }
  }
}

.active-effect-config .sheet-header {
  padding-bottom: 1em;
}

.cards-config.deck,
.macro-config,
.active-effect-config {
  header {
    input {
      @include mixins.title-text-spacing(calc(64px + 1rem));
    }
  }
}

.cards-config:not(.deck) {
  header {
    input {
      @include mixins.title-text-spacing(0);
    }
  }
}

#action-bar {
  .slot {
    .slot-icon {
      @include mixins.image-position;
    }
  }
}

#context-menu {
  overflow: hidden;
  text-align: start;

  .mdi,
  .mic {
    width: 1.25em;
  }

  li.context-item {
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;

    &:first-child {
      border-top-width: 0;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }
}
