@use "mixins";

@import "themes";
@import "page-sizing";
@import "ui/panel";
@import "components/compendium";
@import "ui/editor";
@import "ui/content-link";
@import "components/chat";
@import "components/common";
@import "ui/tooltip";
@import "components/fields";
@import "components/elder-sorcery";
@import "components/changes";
@import "components/character";
@import "ui/automation";

.teriock {
  @import "dialogs/heal-dialog";
  @import "dialogs/token-select";
  @import "utils/fonts";
  @import "utils/interactive";
  @import "components/common";
  @import "components/child";
  @import "components/death-bag";
  @import "components/hud";
  @import "actor/condition-toggle";
}

.chat-message .message-content {
  overflow: unset !important;
}

.thover {
  cursor: pointer;

  &:hover {
    color: var(--color-warm-2);
  }

  &:active {
    color: var(--color-text-secondary);
  }
}

.thover-soft {
  &:hover {
    color: var(--color-warm-2);
  }

  &:active {
    color: var(--color-text-secondary);
  }
}

dl dt {
  color: var(--color-text-emphatic);
  font-weight: bold;
  text-shadow: none;
}

dl dd {
  margin-bottom: 0.5em;
}

dl:not(:last-child) {
  margin-bottom: 0.5em;
}

dl:not(:first-child) {
  margin-top: 0.5em;
}

.force-hidden {
  display: none;
}

.combat-sidebar .combat-tracker .token-effect {
  filter: none;
}

.roll-table-sheet .flexrow .image img {
  @include mixins.image-border;
  @include mixins.warm-image-background;
}

.teriock-panels + .dice-roll,
.dice-roll + .dice-roll {
  margin-top: 6px;
}

.dice-tooltip {
  .part-header {
    border-color: var(--color-panel-edge);
  }

  .part-total {
    background-color: var(--color-panel-background);
    border-color: var(--color-panel-edge);
  }
}

.cards-config,
.macro-config,
.roll-table-sheet,
.active-effect-config {
  header {
    input {
      @include mixins.title-text-styling;
      @include mixins.sheet-entry-hover;
    }

    img {
      @include mixins.image-border(12px, 0.5, 5px);
      @include mixins.warm-image-background;
    }
  }
}

.cards-config.deck,
.macro-config,
.active-effect-config {
  header {
    input {
      @include mixins.title-text-spacing(calc(64px + 1rem));
    }
  }
}

.cards-config:not(.deck) {
  header {
    input {
      @include mixins.title-text-spacing(0);
    }
  }
}

#action-bar {
  .slot {
    .slot-icon {
      @include mixins.image-position;
    }
  }
}

#context-menu {
  overflow: hidden;
  text-align: start;

  li.context-item {
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;

    &:first-child {
      border-top-width: 0;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }
}
