.teriock {
  @import "dialogs/token-select";
  @import "utils/fonts";
  @import "utils/interactive";
  @import "components/common";
  @import "components/ability";
  @import "components/actor";
  @import "components/character";
  @import "components/elder-sorcery";
  @import "components/chat";
  @import "components/changes";
}

.chat-message .message-content {
  overflow: unset !important;
}

.tsheet,
.tsheet-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.application.sheet.teriock:not(.minimized) {
  min-width: 250px;

  .window-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .window-content {
    padding: 0 !important;
    gap: 0 !important;
    container-type: inline-size;
    overflow: auto;
  }
}

.application.sheet.teriock.character:not(.minimized) {
  overflow: unset;
  min-height: 425px;
  min-width: 525px;
  backdrop-filter: blur(4px);

  .window-content {
    display: contents;
    overflow: unset;
  }
}

.character-window,
.tsheet-page {
  .text-preview {
    //overflow: auto !important;
    padding-block: 0.125em;
    overflow-x: auto;
  }

  .prosemirror {
    min-height: unset;
    display: block;
    //overflow: auto !important;
  }

  .prosemirror.inactive .editor-content {
    display: contents;
  }

  .prosemirror.active .editor-content {
    display: block;
  }

  .editor .editor-content {
    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  .ab-section-container:not(:hover) .prosemirror button.toggle,
  .ab-section-container:not(:hover) prose-mirror button.toggle,
  .es-wording-container:not(:hover) .prosemirror button.toggle,
  .es-wording-container:not(:hover) prose-mirror button.toggle {
    display: none;
  }

  .prosemirror button.toggle,
  prose-mirror button.toggle {
    font-size: xx-small;
    padding: 0.5em;
    height: unset;
    width: unset;
    min-height: unset;
    min-width: unset;
  }

  .prosemirror {
    width: 100%;
  }

  .editor {
    overflow: visible;
  }

  .character-notes-content {
    .prosemirror button.toggle,
    prose-mirror button.toggle {
      top: 0;
      right: 0;
      font-size: medium;
      padding: 0.5em;
      height: var(--input-height);
      width: var(--input-height);
    }

    .editor {
      min-height: 2.3em;
    }
  }
}

.thover {
  cursor: pointer;

  &:hover {
    color: var(--color-warm-2);
  }

  &:active {
    color: var(--color-text-secondary);
  }
}

.chat-message {
  overflow: hidden;
}

dl dt {
  font-weight: bold;
  color: var(--color-text-emphatic);
  text-shadow: none;
}

dl dd {
  margin-bottom: 0.5em;
}

dl:not(:last-child) {
  margin-bottom: 0.5em;
}

dl:not(:first-child) {
  margin-top: 0.5em;
}

.teriock-rich-tooltip {
  width: 320px;
  max-height: calc(100% - 12px);
}

.force-hidden {
  display: none;
}

//.content-link,
//.inline-roll {
//  border: none;
//}

#token-hud .attribute.bar1 input {
  border-color: #e01b24;
}

#token-hud .attribute.bar2 input {
  border-color: #3584e4;
}

#token-hud .status-effects .effect-control {
  filter: none;
}