<div class="ab-bar">
  {{formBox
    (path TERIOCK.config.power.type system.type "label")
    icon=(path TERIOCK.config.power.type system.type "icon")
    classes="power-box"
    tooltip=(localize "TERIOCK.SYSTEMS.Power.FIELDS.type.label")
  }}
  {{> "teriock/sheets/shared/forms/max-av-form"}}
</div>