<div class="{{cssClass}} tsheet-page">
  {{#if (eq tab "overview")}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> (template "document-templates/shared/header.hbs")}}
        <div class="ab-bars">
          {{> (template "document-templates/item-templates/species-template/bars/sp-stats-bar.hbs")}}
          {{> (template "document-templates/item-templates/species-template/bars/sp-lifespan-bar.hbs")}}
          {{> (template "document-templates/item-templates/species-template/bars/sp-size-bar.hbs")}}
        </div>
      </div>
      {{> (template "document-templates/item-templates/species-template/parts/sp-menu.hbs")}}
      <div class="ab-main">
        {{> (template "document-templates/shared/tags.hbs")}}
        {{> (template "document-templates/shared/display-fields.hbs")}}
      </div>
      {{> (template "document-templates/shared/children.hbs")}}
    </div>
  {{/if}}
</div>