<div class="{{cssClass}} {{#if hideInactive}}hide-inactive{{/if}} character-window {{#if
  windowNavigation}}window-navigation{{/if}}">
  <div class="character-page">
    {{> (template "document-templates/actor-templates/playable-template/parts/ch-sidebar.hbs")}}
    <div class="character-sidebar-tabber-container">
      <div class="character-tabber character-sidebar-tabber ui-controls" data-tab="sidebar"
           data-tooltip="Toggle Sidebar" data-tooltip-direction="RIGHT">
        <i class="fa-solid fa-chevrons-left expanded-icon"></i>
        <i class="fa-solid fa-chevrons-right collapsed-icon"></i>
      </div>
    </div>
    <div class="character-tab-content">
      {{> (template (concat "document-templates/actor-templates/playable-template/tabs/ch-tab-" activeTab ".hbs"))}}
    </div>
    <div class="character-tabber-background">
      {{> (template "document-templates/actor-templates/playable-template/parts/ch-tabs.hbs")}}
    </div>
  </div>
</div>
