<div class="{{cssClass}} tsheet-page">
  {{#if (eq tab "overview")}}
    <div class="ab-sheet-everything">
      <div class="ab-sheet-top">
        {{> "teriock/sheets/shared/header"}}
      </div>
      <div class="ab-main">
        <div class="ab-tags-all">
          <div class="ab-tags-container">
            <div class="ab-tags">
              <div class="ab-menu-icons">
                {{> "teriock/sheets/shared/menu-buttons"}}
              </div>
              <span class="ab-tag tsubtle">{{localize (concat "TYPES.JournalEntryPage." document.type)}}</span>
            </div>
          </div>
        </div>
        {{formGroup
          textField
          value=text.content
          name="text.content"
          enriched=textEnriched
        }}
      </div>
    </div>
  {{/if}}
  {{#if (eq tab "automations")}}
    <div class="ab-sheet-top">
      {{> "teriock/sheets/shared/header"}}
    </div>
    {{> "teriock/sheets/shared/automations"}}
  {{/if}}
</div>