<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Description</span>
  </div>
  <prose-mirror
    name="system.description"
    value="{{system.description}}"
    toggled="true"
    editable="editable"
  >{{{enrichedDescription}}}</prose-mirror>
</div>