<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Description</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.description"
      value="{{system.description}}"
      toggled="true"
      editable="editable"
    >{{{enrichedDescription}}}</prose-mirror>
  {{else}}
    {{{enrichedDescription}}}
  {{/if}}
</div>