@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Cinzel:wght@400..900&family=Great+Vibes&family=Quintessential&family=Tagesschrift&display=swap");

@font-face {
  font-family: "XMasterpieceSwashes";
  src: url("../assets/fonts/xmasterpieceswashes.ttf");
}

.tfont,
.tfont {
  font-family: var(--font-h1);
}

.tfont-cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.tfont-great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.tfont-xmasterpiece {
  font-family: "XMasterpieceSwashes", serif;
  font-weight: 400;
  font-style: normal;
}

.tfont-bonheur {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}

.tfont-quintessential {
  font-family: "Quintessential", cursive;
  font-weight: 400;
  font-style: normal;
}

.tfont-tagesschrift {
  font-family: "Tagesschrift", serif;
  font-weight: 400;
  font-style: normal;
}
