<section class="tab changes{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{> (template "document-templates/shared/changes.hbs")
    changesPath="system.impacts.changes"
    changesData=(path system "impacts" "changes")
    valuePath="system._source.impacts.changes"
    fieldDefs=(path systemFields "impacts.fields.changes.element.fields")
  }}
</section>
