<div class="ab-tags-container">
  <div class="ab-tags">
    <span class="ab-tag tsubtle">{{#if
      (exists system.damageType)
    }}Damaging{{else}}Non-damaging{{/if}}</span>
  </div>
  <div class="ab-icon ab-impacts-toggle">
    <div
      class="ab-menu-impacts-container"
      data-tooltip="Impacts"
      data-action="toggleImpacts"
    >
      {{makeIcon TERIOCK.display.icons.ui.impacts "solid"}}
    </div>
  </div>
  <div class="ab-icon ab-menu-toggle">
    <div class="ab-menu-closed-container" data-tooltip="Open Menu">
      {{makeIcon TERIOCK.display.icons.ui.menuOpen "solid"}}
    </div>
    <div class="ab-menu-open-container" data-tooltip="Close Menu">
      {{makeIcon TERIOCK.display.icons.ui.menuClose "solid"}}
    </div>
  </div>
</div>