<div class="ab-tags-container">
  <div class="ab-tags">
    <span class="ab-tag tsubtle">{{#if
      (exists system.damageType)
    }}Damaging{{else}}Non-damaging{{/if}}</span>
  </div>
  {{> (template "document-templates/shared/menu-buttons.hbs")}}
</div>