<div class="{{cssClass}}" autocomplete="off">
    <div class="character-items-container">
        <ol class="character-items">
            {{#each abilities as |ability id|}}
                <li class="character-item">
                    <div class="character-item-name">
                        {{ability.name}}
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
</div>