<div class="{{cssClass}}" autocomplete="off">
  <div class="ab-sheet-top">
    <div class="ab-bars">
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/status-bar.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/attack-bar.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/load-bar.hbs"}}
    </div>
  </div>
  {{> "systems/teriock/templates/parts/equipment-parts/page-sections/menu.hbs"}}
  <div class="ab-main">
    <div class="ab-tags-all">
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/tags-1.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/tags-2.hbs"}}
    </div>
    {{#if (exists system.specialRules)}}
      {{> "systems/teriock/templates/parts/equipment-parts/main-entries/special-rules.hbs"}}
    {{/if}}
  </div>
  <div class="ab-main">
    <button class="createAbility" data-action='createAbility'>Add Ability</button>
    {{abilityCards abilities system}}
  </div>
</div>