<div class="{{cssClass}}" autocomplete="off">
  <div class="ab-sheet-top">
    <div class="ab-bars">
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/bar-1.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/bar-2.hbs"}}
    </div>
  </div>
  <div class="ab-main">
    <div class="ab-tags-all">
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/tags-1.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/tags-2.hbs"}}
    </div>
    {{#if (exists system.specialRules)}}
      {{> "systems/teriock/templates/parts/equipment-parts/main-entries/special-rules.hbs"}}
    {{/if}}
  </div>
  <div class="ab-main">
    <button class="createAbility" data-action='createAbility'>Add Ability</button>
    <div class="tcard-container">
      {{#each abilities as |ability|}}
        {{tcard
          img=ability.img
          title=ability.name
          subtitle=ability.system.interaction
          text=(executionTime ability.system.maneuver ability.system.executionTime)
          id=ability._id
          icons=(concat
            (ticon "comment" cssClass="share" action="share" id=ability._id)
            (ticon "dice-d20" cssClass="roll" action="useAbility" id=ability._id)
          )
        }}
      {{/each}}
    </div>
  </div>
</div>