<div class="{{cssClass}}" autocomplete="off">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
  <div class="ab-sheet-top">
    <div class="ab-bars">
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/bar-1.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/bar-2.hbs"}}
    </div>
  </div>
  <div class="ab-main">
    <div class="ab-tags-all">
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/tags-1.hbs"}}
      {{> "systems/teriock/templates/parts/equipment-parts/page-sections/tags-2.hbs"}}
    </div>
    {{#if (exists system.specialRules)}}
      {{> "systems/teriock/templates/parts/equipment-parts/main-entries/special-rules.hbs"}}
    {{/if}}
  </div>
</div>