<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Requirements</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.requirements"
      value="{{system.requirements}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{requirements}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{requirements}}}</div>
  {{/if}}
</div>
