<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">Trigger</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.trigger"
      value="{{system.trigger}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{trigger}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{trigger}}}</div>
  {{/if}}
</div>
