<div class="character-tab abilities">
  <h1>{{localize "TERIOCK.SHEETS.Actor.TABS.Abilities.title"}}</h1>
  <div class="character-tab-page teriock-block-results" data-search-key="abilities">
    <div class="teriock-block-display">
      <div class="teriock-block-options">
        {{> (template "ui/block-options.hbs")
          tab="ability"
          optionsToggle=settings.menus.abilityOptions
          optionsPath="settings.menus.abilityOptions"
          filterToggle=settings.menus.abilityFilters
          filterPath="settings.menus.abilityFilters"
          sortToggle=settings.menus.abilitySort
          sortPath="settings.menus.abilitySort"
          searchValue=settings.abilityFilters.search
          searchKey="abilities"
          sortOptions=TERIOCK.options.display.abilitySortOrders
          sortValue=settings.abilitySortOption
          sortOptionPath="settings.abilitySortOption"
          gaplessPath="flags.teriockDocumentSettings.sheetBlockAbilitiesGapless"
          gaplessValue=flags.teriockDocumentSettings.sheetBlockAbilitiesGapless
          sizePath="flags.teriockDocumentSettings.sheetBlockAbilitiesSize"
          sizeValue=flags.teriockDocumentSettings.sheetBlockAbilitiesSize
          ascendingPath="settings.abilitySortAscending"
          ascendingValue=settings.abilitySortAscending
          tabDisplay=TERIOCK.options.document.ability.name
        }}
        {{#if settings.menus.abilityFilters}}
          {{> (template "ui/filters.hbs")
            appId=appId
            filterSelects=abilityFilterSelects
            filterToggles=abilityFilterToggles
          }}
        {{/if}}
      </div>
      {{> (template "sheets/actors/playable-template/results/search-results.hbs")
        docs=abilities
        searchKey="abilities"
        displayKey="ability"
        empty=TERIOCK.options.document.ability.plural
        gapless="sheetBlockAbilitiesGapless"
        size="sheetBlockAbilitiesSize"
      }}
    </div>
  </div>
</div>
