.tooltip-loading {
  align-items: center;
  display: flex;
  flex-direction: column;

  .tooltip-loading-text,
  .tooltip-loading-spinner {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.teriock-rich-tooltip {
  &:not(:has(.tooltip-loading)) {
    max-height: calc(100% - 12px);
    max-width: 320px;
  }
}
