<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.ability.form system.form "name")
    icon=(path TERIOCK.options.ability.form system.form "icon")
    iconColor=(path TERIOCK.options.ability.form system.form "color")
    tooltip="Property Form"
    classes=(ifThen editable "property-type-box" "")
  }}
  {{formBox
    (formInput
      systemFields.damageType value=system.damageType disabled=(not editable) placeholder="No Damage Type"
    )
    tooltip="Damage Type"
    icon=TERIOCK.display.icons.ui.damage
  }}
  {{formBox
    (formInput
      systemFields.tag value=system.tag disabled=(not editable) placeholder="No Tag"
    )
    tooltip="Tag"
    icon=TERIOCK.display.icons.ui.tag
  }}
</div>