<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.ability.form system.form "name")
    icon=(path TERIOCK.options.ability.form system.form "icon")
    iconColor=(path TERIOCK.options.ability.form system.form "color")
    tooltip="Property Form"
    classes=(ifThen editable "property-type-box" "")
  }}
  {{formBox
    (formInput
      systemFields.damageType value=system.damageType disabled=(not editable)
    )
    unselected=(ifThen (not (exists system.damageType)) "No Damage Type" "")
    tooltip="Damage Type"
    icon=TERIOCK.display.icons.ui.damage
  }}
  {{formBox
    (ifThen disabled "Disabled" "Enabled")
    icon=(ifThen disabled "xmark" "check")
    tooltip="Disabled?"
    action=(ifThen editable "toggleDisabledThis")
  }}
</div>