<div class="{{cssClass}} tsheet-page">
  <div class="ab-sheet-everything">
    <div class="ab-sheet-top">
      {{> (template "sheets/shared/header.hbs")}}
      <div class="ab-bars">
        {{> (template "sheets/shared/bars/stat-bar.hbs")}}
        {{> (template "sheets/items/mount/status-bar.hbs")}}
      </div>
    </div>
    {{> (template "sheets/shared/simple-menu.hbs")}}
    {{> (template "sheets/shared/children.hbs")}}
  </div>
</div>