<div class="ab-bar">
  {{> "teriock/sheets/shared/forms/tier-form"}}
  {{formBox
    (formInput
      systemFields.mountType
      value=system.mountType
      disabled=(not editable)
      placeholder=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
    icon=TERIOCK.options.document.species.icon
  }}
</div>