<div class="ab-bar">
  {{> (template "sheets/shared/forms/tier-form.hbs")}}
  {{formBox
    (formInput
      systemFields.mountType
      value=system.mountType
      disabled=(not editable)
      placeholder=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
    icon=TERIOCK.options.document.species.icon
  }}
</div>