<div class="teriock-sheet-bar">
  {{> "teriock/sheets/shared/forms/tier-form"}}
  {{formBox
    (ifThen system._source.mountType system._source.mountType "")
    action=(ifThen editable "updatePaths" "")
    dataset=(object paths="system.mountType")
    placeholder=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
    unselected=(getName system.mountType)
    tooltip=(localize "TERIOCK.SYSTEMS.Mount.FIELDS.mountType.label")
    icon=TERIOCK.config.document.species.icon
  }}
</div>
