<div id="ability-results" class="tcard-results">
  {{abilityCards abilities system tab="ability"}}
  <div class="no-results {{{system.sheet.display.ability.size}}}">
    <p>No abilities found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>
