<div id="fluency-results" class="tcard-results">
  <div class="tcard-container {{#if
    system.sheet.display.fluency.gapless}}gapless{{/if}} {{system.sheet.display.fluency.size}}">
    {{#each fluencies as |effect|}}
      {{tcard
        img=effect.img
        title=effect.name
        subtitle=(tradecraft effect.system.field effect.system.tradecraft)
        text=(field effect.system.field)
        id=effect._id
        parentId=effect.parent._id
        active=(and (not effect.disabled) (not effect.isSuppressed))
        struck=effect.disabled
        type="effect"
        icons=(concat
          (ticon "award" cssClass="fluent" tooltip="Fluent")
          (ticon "comment" cssClass="share" action="share" id=effect._id tooltip="Share")
          (ticonToggle "circle-check" "circle" (not item.disabled) action="toggleDisabledDoc" id=item._id tooltipTrue="Enabled" tooltipFalse="Disabled")
        )
      }}
    {{/each}}
  </div>
  <div class="no-results {{{system.sheet.display.tradecraft.size}}}">
    <p>No fluencies found.</p>
  </div>
  <div id="hidden-tcards" style="display: none;"></div>
</div>
