<section
  class="
    tab
    mechanics
    {{#if tab.active}}
      active
    {{/if}}
    scrollable
    teriock
  "
  data-group="{{ tab.group }}"
  data-tab="{{ tab.id }}"
>
  {{> "teriock/ui/mechanics"}}
</section>
