<section
  class="tab transformation{{#if tab.active}} active{{/if}} scrollable teriock"
  data-group="{{tab.group}}"
  data-tab="{{tab.id}}"
>
  {{> "teriock/shared/field-list" @root/transformation}}
</section>