<section
  class="tab transformation scrollable teriock {{#if tab.active}}active{{/if}}"
  data-group="{{ tab.group }}"
  data-tab="{{ tab.id }}"
>
  {{> "teriock/shared/field-list" @root/transformation}}
</section>
