<div class="character-tab abilities">
  <h1>Abilities</h1>
  <div class="character-tab-page tcard-results" data-search-key="abilities">
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.abilityOptions settings.menus.abilityFilters settings.menus.abilitySort
                       settings.abilityFilters.search "ability" sortOptions=TERIOCK.options.display.abilitySortOrders
                       sortValue=settings.abilitySortOption showAddButton=false key="abilities"}}
        {{#if settings.menus.abilityFilters}}
          <div class="tcard-options-content">
            {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/filters/ch-ability-filter.hbs'}}
          </div>
        {{/if}}
      </div>
      {{> "systems/teriock/src/templates/embed-templates/embed-results.hbs"
        docs=abilities
        searchKey="abilities"
        displayKey="ability"
        empty="abilities"
      }}
    </div>
  </div>
</div>
