<div class="character-tab powers">
  <h1>Powers</h1>
  <div class="character-tab-page tcard-results" data-search-key="powers">
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.powerOptions null null settings.powerFilters.search "power" key="powers"}}
      </div>
      {{> "systems/teriock/src/templates/embed-templates/embed-results.hbs"
        docs=species
        searchKey="powers"
        displayKey="power"
        empty="powers"
      }}
      <div class="tcard-display-divider"></div>
      {{> "systems/teriock/src/templates/embed-templates/embed-results.hbs"
        docs=powers
        searchKey="powers"
        displayKey="power"
        empty="powers"
      }}
    </div>
  </div>
</div>