<div class="character-tab conditions">
  <h1>Effects</h1>
  <div class="character-tab-page tcard-results" data-search-key="effects">
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.consequenceOptions null null settings.consequenceFilters.search "consequence"
                       key="effects"}}
      </div>
      {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-consequence-results.hbs'}}
      <div class="tcard-display-divider"></div>
      {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-attunement-results.hbs'}}
      <div class="tcard-display-divider"></div>
      {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-condition-results.hbs'}}
    </div>
  </div>
</div>