<div class="character-tab classes">
  <h1>Classes</h1>
  <div class="character-tab-page tcard-results" data-search-key="ranks">
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.rankOptions null null settings.rankFilters.search "rank" addAction="createRank"
                       key="ranks"}}
      </div>
      {{> "systems/teriock/src/templates/embed-templates/embed-results.hbs"
        docs=ranks
        searchKey="ranks"
        displayKey="rank"
        empty="ranks"
      }}
    </div>
  </div>
</div>
