<div class="character-tab powers">
  <h1>Powers</h1>
  <div class="character-tab-page tcard-results" data-search-key="powers">
    <div class="tcard-display">
      <div class="tcard-options">
        {{tcardOptions settings.menus.powerOptions null null settings.powerFilters.search "power" key="powers"}}
      </div>
      {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-power-results.hbs'}}
    </div>
    <div class="tcard-display">
      {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-species-results.hbs'}}
    </div>
  </div>
</div>
