<div class="character-tab powers">
  <h1>Powers</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions settings.menus.powerOptions null null settings.powerFilters.search "power"}}
      {{#if settings.menus.powerFilters}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/filters/ch-power-filter.hbs'}}
        </div>
      {{/if}}
    </div>
    {{> 'systems/teriock/src/templates/document-templates/actor-templates/character-template/results/ch-power-results.hbs'}}
  </div>
</div>
