<div class="ab-section-container">
  <div class="ab-section">
    <span class="ab-section-title">GM Description</span>
  </div>
  {{#if editable}}
    <prose-mirror
      name="system.gmDescription"
      value="{{system.gmDescription}}"
      toggled="true"
      editable="editable"
    ><div class="text-preview">{{{enrichedGmDescription}}}</div></prose-mirror>
  {{else}}
    <div class="text-preview">{{{enrichedGmDescription}}}</div>
  {{/if}}
</div>
