<div class="teriock-automation-collection">
  {{#each automationEntries}}
    {{> (template "ui-templates/automation.hbs")}}
  {{/each}}
  <button class="teriock-full-width" data-action="createAutomation">
    {{makeIcon TERIOCK.display.icons.ui.add "button"}}
    {{localize "TERIOCK.SHEETS.Common.NAVIGATION.addAutomation"}}
  </button>
</div>
