<div class="ab-bar">
  {{formBox
    (concat
      system.statDice.hp.formula
      " Hit Di"
      (ifThen (gt system.statDice.hp.number.value 1) "c" "")
      "e ("
      system.statDice.hp.value
      " HP)"
    )
    action="setStatDice"
    dataset=(object stat="hp")
    icon=(firstDie system.statDice.hp.formula)
    tooltip=(localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.hp.label")
  }}
  {{formBox
    (concat
      system.statDice.mp.formula
      " Mana Di"
      (ifThen (gt system.statDice.mp.number.value 1) "c" "")
      "e ("
      system.statDice.mp.value
      " MP)"
    )
    action="setStatDice"
    dataset=(object stat="mp")
    icon=(firstDie system.statDice.mp.formula)
    tooltip=(localize "TERIOCK.SYSTEMS.StatGiver.FIELDS.statDice.mp.label")
  }}
</div>