<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.rank system.archetype "name")
    icon=(path TERIOCK.options.rank system.archetype "icon")
    tooltip="Archetype"
    classes=(ifThen editable "archetype-box" "")
  }}
  {{formBox
    (path
      TERIOCK.options.rank system.archetype "classes" system.className "name"
    )
    icon=(path
      TERIOCK.options.rank system.archetype "classes" system.className "icon"
    )
    tooltip="Class"
    classes=(ifThen editable "class-box" "")
  }}
  {{formBox
    (concat "Rank " system.classRank)
    icon=system.classRank
    tooltip="Rank"
    classes=(ifThen editable "rank-box" "")
  }}
</div>