<div class="ab-bar">
  {{formBox
    (concat system.hpDie.polyhedral " (Hit Die " system.totalHp " HP)")
    icon=(firstDie system.hpDie.polyhedral)
    tooltip="Hit Die"
    classes=(ifThen editable "hp-die-box" "")
  }}
  {{formBox
    (concat system.hpDie.polyhedral " (Mana Die " system.totalMp " MP)")
    icon=(firstDie system.mpDie.polyhedral)
    tooltip="Mana Die"
    classes=(ifThen editable "mp-die-box" "")
  }}
</div>