<div class="ab-bar">
  {{formBox
    (path TERIOCK.options.rank system.archetype "name")
    icon=(path TERIOCK.options.rank system.archetype "icon")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.archetype.label")
    classes=(ifThen editable "archetype-box" "")
  }}
  {{formBox
    (path
      TERIOCK.options.rank system.archetype "classes" system.className "name"
    )
    icon=(path
      TERIOCK.options.rank system.archetype "classes" system.className "icon"
    )
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.className.label")
    classes=(ifThen editable "class-box" "")
  }}
  {{formBox
    (concat "Rank " system.classRank)
    icon=system.classRank
    classes=(ifThen editable "rank-box" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.FIELDS.classRank.label")
  }}
</div>