<div class="ab-bar">
  {{formBox
    (formInput
      systemFields.maxAv
      value=system.maxAv
      disabled=(not editable)
    )
    icon=TERIOCK.display.icons.armament.av
    unselected=(ifThen
      (eq system.maxAv 0)
      (localize "TERIOCK.SYSTEMS.Power.PANELS.noArmor")
      (localize "TERIOCK.SYSTEMS.Power.PANELS.maxAv" value=system.maxAv)
    )
    tooltip=(localize "TERIOCK.SYSTEMS.BaseItem.FIELDS.maxAv.label")
  }}
  {{formBox
    (ifThen
      system.innate
      (localize "TERIOCK.SYSTEMS.Rank.PANELS.innate")
      (localize "TERIOCK.SYSTEMS.Rank.PANELS.learned")
    )
    action=(ifThen editable "toggleInnate" "")
    tooltip=(localize "TERIOCK.SYSTEMS.Rank.PANELS.origin")
    icon=(ifThen system.innate "person-rays" "book")
  }}
</div>