<div class="character-hack-box">
  {{#each TERIOCK.options.hack as |options part|}}
    <div
      class="thover hack-marker-box"
      data-action="takeHack"
      data-part="{{part}}"
      data-tooltip="{{lookup options "label"}}"
    >
      <i class="{{hackFill (lookup @root/system.hacks part)}} {{lookup options "icon"}}"></i>
    </div>
  {{/each}}
</div>