<div class="tgrid g7">
  {{#each @root/hackParts as |hack|}}
    <div
      class="thover hack-marker-box grid-fill"
      data-action="takeHack"
      data-part="{{ hack.part }}"
      data-tooltip="{{localize hack.label}}"
    >
      <i class="fa-fw {{ hack.fill }} {{ hack.icon }}"></i>
    </div>
  {{/each}}
</div>
