<div class="actor-status-box">
  <div class="actor-status-bars">
    {{#each barStats as |statKey|}}
      <div class="actor-status-bar-box">
        {{#if (path @root/bars statKey "config.hacks")}}
          <div class="die-drawer top-drawer hack-drawer {{ statKey }}-drawer">
            {{> "teriock/sheets/actors/playable/parts/hack-box"}}
          </div>
        {{/if}}
        {{> "teriock/sheets/actors/playable/parts/stat-bar"
          stat=statKey
        }}
        {{#if (path @root/bars statKey "config.pool.enabled")}}
          <div
            class="die-drawer {{ statKey }}-die-drawer {{ statKey }}-drawer collapsible"
            data-collapsible-id="drawer-{{ statKey }}"
          >
            {{> "teriock/ui/stat-dice"
              dice=(path @root/system statKey "dice")
            }}
          </div>
        {{/if}}
      </div>
    {{/each}}
    <div class="actor-status-bar-box">
      {{> "teriock/sheets/actors/playable/parts/bar-presence"}}
    </div>
  </div>
</div>
