{{#if (or (exists system.effects) system.elderSorcery)}}
  <div class="ab-tags-container">
    <div class="ab-tags">
      {{#if system.elderSorcery}}
        <span class="ab-tag flag-tag flag-elder-sorcery">Elder Sorcery</span>
      {{/if}}
      {{#each system.effects as |key index|}}
        <span class='ab-tag effect-tag' value="{{key}}">{{lookup ../config.abilityOptions.effects key}}</span>
      {{/each}}
    </div>
  </div>
{{/if}}