.ch-hack-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 1em;
}

.character-hack-box {
  display: flex;
  flex-direction: row;
  width: 100%;

  .hack-header {
    width: 100%;
  }

  .hack-marker-box {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
