.ch-hack-box {
  margin-inline: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .character-hack-box {
    display: flex;
    flex-direction: row;
    width: 100%;

    .hack-header {
      width: 100%;
    }

    .hack-marker-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }
}
