@use "../../mixins";

.character-intro-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  --shadow-icon-width: 72px;
  justify-content: center;
  position: relative;

  .character-avatar {
    border: 1px solid color-mix(in srgb, var(--color-dark-2), transparent 75%);
    border-radius: 6px;
    cursor: pointer;
    height: 220px;
    outline: 1px solid var(--color-border);
    overflow: hidden;
    position: relative; // so the shadow positions against this
    width: 220px;

    img {
      @include mixins.image-position;
      border: none;
      height: inherit;
      max-width: 100%;
      width: inherit;
    }

    .character-avatar-background {
      @include mixins.warm-image-background;
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;

      .character-avatar-token-circle {
        border: 1px solid var(--color-border);
        border-radius: 50%;
        margin-top: 3px;
        position: absolute;

        &.inner {
          height: calc(66.7% + 5px);
          width: calc(66.7% + 5px);
        }

        &.outer {
          height: calc(66.7% + 12px);
          width: calc(66.7% + 12px);
        }
      }
    }

    .character-avatar-shadow {
      border-top-right-radius: 6px;
      display: flex;
      height: var(--shadow-icon-width);
      opacity: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 150ms ease-in-out;
      width: var(--shadow-icon-width);

      &::before {
        background: radial-gradient(
          circle at calc(100% - 1.25em) 1em,
          rgba(0, 0, 0, 0.75),
          transparent calc(var(--shadow-icon-width) - 1.25em)
        );
        border-top-right-radius: 6px;
        content: "";
        inset: 0;
        position: absolute;
      }
    }

    &:hover .character-avatar-shadow {
      opacity: 1;
    }
  }

  .character-name {
    margin-top: 1px;
    width: calc(100% - 2em);

    .character-name-text {
      background-color: var(--color-cool-5);
      border: 1px solid var(--color-text-subtle);
      border-radius: 0 0 6px 6px;
      border-top: none;
      color: var(--color-text-primary);
      font-family: var(--font-h4), serif;
      font-size: var(--font-h4-size);
      text-align: center;
    }
  }

  .character-basics {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
  }
}
