.character-intro-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .character-avatar {
    border-radius: 6px;
    height: calc(250px - 3em);
    outline: 1px solid var(--color-border);
    overflow: hidden;
    width: calc(250px - 3em);

    img {
      border: none;
      height: inherit;
      max-width: 100%;
      object-fit: cover;
      object-position: 50% 0;
      width: inherit;
    }
  }

  .character-name {
    margin-top: 1px;
    width: calc(100% - 2em);

    .character-name-text {
      background-color: var(--color-cool-5);
      border: 1px solid var(--color-text-subtle);
      border-radius: 0 0 6px 6px;
      border-top: none;
      color: var(--color-text-primary);
      font-family: var(--font-h4), serif;
      font-size: var(--font-h4-size);
      text-align: center;
    }
  }

  .character-basics {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
  }
}
