@use "../colors" as *;

.character-status-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .character-status-bars {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    .character-bar-container {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
      position: relative;

      .character-bar {
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        height: 3em;
        overflow: hidden;

        &.character-hit-bar {
          border: 2px solid $hp-red;

          .character-bar-left {
            background-color: $hp-red;
          }

          .character-bar-temp {
            background-image: repeating-linear-gradient(
                135deg,
                $hp-red 0px,
                $hp-red 2px,
                $hp-red-dark 2px,
                $hp-red-dark 8px /* gap between lines: 2px line + 6px gap */
            );
            border-right: 2px solid $hp-red;
          }

          .character-bar-lost {
            background-color: $hp-red-darkest;
          }
        }

        &.character-mana-bar {
          border: 2px solid $mp-blue;

          .character-bar-left {
            background-color: $mp-blue;
          }

          .character-bar-temp {
            background-image: repeating-linear-gradient(
                135deg,
                $mp-blue 0px,
                $mp-blue 2px,
                $mp-blue-dark 2px,
                $mp-blue-dark 8px /* gap between lines: 2px line + 6px gap */
            );
            border-right: 2px solid $mp-blue;
          }

          .character-bar-lost {
            background-color: $mp-blue-darkest;
          }
        }

        &.character-wither-bar {
          border: 2px solid $mp-grey;

          .character-bar-left {
            background-color: $mp-grey;
          }

          .character-bar-temp {
            background-image: repeating-linear-gradient(
                135deg,
                $mp-grey 0px,
                $mp-grey 2px,
                $mp-grey-dark 2px,
                $mp-grey-dark 8px /* gap between lines: 2px line + 6px gap */
            );
            // border-left: 2px solid $mp-grey;
            border-right: 2px solid $mp-grey;
          }

          .character-bar-lost {
            background-color: $mp-grey-darkest;
          }
        }

        .character-bar-left {
          flex: none;
          height: 3em;
        }

        .character-bar-temp {
          flex: none;
          height: 3em;
        }

        .character-bar-lost {
          flex: none;
          height: 3em;
        }
      }

      .character-bar-overlay {
        align-content: center;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        .character-bar-overlay-row {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: start;

          input {
            border: none;
            margin-inline: 2px;
            padding-inline: 2px;
          }

          .character-bar-overlay-label {
            align-items: center;
            background-color: transparent;
            box-shadow: none;
            display: flex;
            flex: none;
            font-size: 1.5em;
            height: var(--input-height);
          }

          .character-bar-overlay-left {
            margin-left: 0.25em;
            text-align: right;
            width: 2em;
          }

          .character-bar-overlay-temp {
            text-align: left;
            width: 2em;
          }
        }
      }
    }
  }
}
