<div class="character-tab inventory">
  <h1>Inventory</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions system.sheet.menus.equipmentOptions system.sheet.menus.equipmentFilters system.sheet.menus.equipmentSort system.sheet.equipmentFilters.search "equipment" sortOptions=config.displayOptions.equipmentSortOrders sortValue=system.sheet.equipmentSortOption}}
      {{#if system.sheet.menus.equipmentFilters}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/templates/sheets/character-template/filters/ch-equipment-filter.hbs'}}
        </div>
      {{/if}}
    </div>
    <div class="tcard-container {{#if system.sheet.display.equipment.gapless}}gapless{{/if}} {{system.sheet.display.equipment.size}}">
      {{#each equipment as |item|}}
        {{tcard
          img=item.img
          title=item.name
          subtitle=(dotJoin item.system.itemType item.system.sb)
          text=(dotJoin item.system.damage item.system.bv item.system.av item.system.weight)
          id=item._id
          active=item.system.equipped
          marker=(equipmentMarker item)
          shattered=item.system.shattered
          icons=(concat
            (ticon (firstDie item.system.damage) cssClass="rollDamage" action="damage" id=item._id)
            (ticon "comment" action="chatDoc" id=item._id)
            (ticonToggle "circle-check" "circle" item.system.equipped action="toggleEquippedDoc" id=item._id parentId=item.parent._id)
          )
        }}
      {{/each}}
    </div>
    {{#if (not (exists equipment))}}
      <div class="no-results">
        <p>No equipment found.</p>
      </div>
    {{/if}}
  </div>
</div>