<div class="character-tab notes">
  <h1>Notes</h1>
  <div class="tcard-display character-notes-content">
    <prose-mirror
      name="system.sheet.notes"
      value="{{system.sheet.notes}}"
      toggled="true"
      editable="editable"
    >{{{enrichedNotes}}}</prose-mirror>
  </div>
</div>
<button data-action="debug">
  <i class="fas fa-bug"></i>
  <span>Debug!</span>
</button>