<div class="character-tab resources">
  <h1>Resources</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions settings.menus.resourceOptions null null settings.resourceFilters.search "resource"}}
    </div>
    {{> 'systems/teriock/templates/sheets/character-template/results/ch-resource-results.hbs'}}
  </div>
</div>
