<div class="character-tab notes">
  <h1>Notes</h1>
  <div class="character-notes-content tcard-display">
    <prose-mirror
      name="system.notes"
      value="{{system.notes}}"
      toggled="true"
      editable="editable"
    >{{{enrichedNotes}}}</prose-mirror>
  </div>
</div>