<div class="character-tab resources">
  <h1>Resources</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions system.sheet.menus.resourceOptions null null system.sheet.resourceFilters.search "resource"}}
    </div>
    {{abilityCards resources system "resource"}}
    {{#if (not (exists resources))}}
      <div class="no-results {{{system.sheet.display.resource.size}}}">
        <p>No resources found.</p>
      </div>
    {{/if}}
  </div>
</div>