<div class="character-tab notes">
  <h1>Notes</h1>
  <div class="tcard-display character-notes-content">
    <prose-mirror
      name="system.sheet.notes"
      value="{{system.sheet.notes}}"
      toggled="true"
      editable="editable"
    >{{{enrichedNotes}}}</prose-mirror>
    {{tswitch
      name="system.sheet.test"
    }}
    {{tswitch
      name="system.sheet.test"
      disabled=true
    }}
    <input
      type="checkbox"
    >
  </div>
</div>