<div class="character-tab abilities">
  <h1>Abilities</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions settings.menus.abilityOptions settings.menus.abilityFilters settings.menus.abilitySort
                     settings.abilityFilters.search "ability" sortOptions=config.displayOptions.abilitySortOrders
                     sortValue=settings.abilitySortOption showAddButton=false}}
      {{#if settings.menus.abilityFilters}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/templates/sheets/character-template/filters/ch-ability-filter.hbs'}}
        </div>
      {{/if}}
    </div>
    {{> 'systems/teriock/templates/sheets/character-template/results/ch-ability-results.hbs'}}
  </div>
</div>
