<div class="character-tab abilities">
  <h1>Abilities</h1>
  <div class="tcard-display">
    <div class="tcard-options">
      {{tcardOptions system.sheet.menus.abilityOptions system.sheet.menus.abilityFilters system.sheet.abilityFilters.search "ability"}}
      {{#if system.sheet.menus.abilityFilters}}
        <div class="tcard-options-content">
          {{> 'systems/teriock/templates/sheets/character-template/filters/ch-ability-filter.hbs'}}
        </div>
      {{/if}}
    </div>
    {{abilityCards abilities system}}
    {{#if (not (exists abilities))}}
      <div class="no-results">
        <p>No abilities found.</p>
      </div>
    {{/if}}
  </div>
</div>