<div class="teriock death-bag-pull">
  {{#each pulledStones as |number color|}}
    <div class="death-bag-stones-container">
      {{#if (gt number 0)}}
        <header class="message-header">
          <span class="flavor-text">{{path @root/TERIOCK.index.deathBag color}}</span>
        </header>
        <div class="death-bag-stones">
          {{#repeat number}}
            <div
              class="death-bag-stone"
              data-tooltip="{{path @root/TERIOCK.index.deathBag color}} Stone"
            >
              <img
                src="systems/teriock/src/icons/death-bag-stones/{{color}}.webp"
                alt="{{path @root/TERIOCK.index.deathBag color}}"
              >
            </div>
          {{/repeat}}
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>