@mixin content-link-mixin() {
  background: none;
  border: none;
  color: var(--content-link-text-color);
  padding: 0;
  text-decoration: underline currentColor;
  white-space: nowrap;
  word-break: break-all;

  i {
    color: var(--content-link-icon-color);
    font-size: 0.8em;
    margin-right: 0.15em;
  }
}

.content-link {
  @include content-link-mixin();
}

.inline-roll {
  @include content-link-mixin();
}

.theme-light {
  --content-link-background: rgba(255, 255, 255, 0.5);
  --content-link-border-color: var(--color-panel-edge);
}

.teriock-inline-command {
  @include content-link-mixin();
}

document-embed + document-embed {
  margin-top: 0.75em;
}

.teriock-panel-block-text {
  document-embed + document-embed {
    margin-top: 0.5em;
  }
}

.teriock-inline-code {
  background: var(--content-link-background);
  border: 1px solid var(--content-link-border-color);
  border-radius: 2px;
  color: var(--content-link-text-color);
  font-family: monospace;
  font-size: small;
  margin: -1px 0;
  padding: 1px 4px 0;
  white-space: nowrap;
}
