<div class="tcard-container">
  {{#each system.applies.macros as |pseudoHook uuid|}}
    {{tcard
      img=(lookup (lookup ../macros (pureUuid uuid)) "img")
      title=(lookup (lookup ../macros (pureUuid uuid)) "name")
      subtitle=(concat "Runs on " (lookup ../config.pseudoHooks pseudoHook))
      text="Macro"
      icons=(concat
        (ticon "link-slash" tooltip="Unlink Macro" action="unlinkMacro" parentId=(pureUuid uuid))
        (ticon "gear-code" tooltip="Change Run Hook" action="changeMacroRunHook" parentId=(pureUuid uuid))
      )
      type="macro"
      id=(pureUuid uuid)
    }}
  {{/each}}
</div>