<div class="ab-impacts-tab ab-sheet-everything" style="width: 100%;">
  <div class="ab-sheet-top" style="border-bottom: 1px solid var(--color-border);">
    {{> "systems/teriock/src/templates/document-templates/shared/header.hbs"}}
  </div>
  <div class="ab-impacts" style="padding: 1rem; width: 100%;">
    {{> "systems/teriock/src/templates/document-templates/shared/changes.hbs"}}
    <button
      class="ab-impacts-close"
      data-action="toggleImpacts"
      style="width: 100%; margin-top: 1.5rem;"
      data-tooltip="Close Impacts"
    >
      <i class="fa-solid fa-check"></i>
      Done
    </button>
  </div>
</div>