<div class="ab-menu">
  <div class="ab-menu-content">
    <div class="ab-menu-bar">
      <div class="tgrid ap-check-grid g3">
        {{formGroup
          systemFields.applyIfShattered
          value=system.applyIfShattered
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
        {{formGroup
          systemFields.applyIfDampened
          value=system.applyIfDampened
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
        {{formGroup
          systemFields.modifiesActor
          value=system.modifiesActor
          disabled=(not editable)
          classes="tgrid-item"
          rootId=uuid
        }}
      </div>
    </div>
  </div>
</div>