<div class="teriock" style="display: flex; flex-direction: column; gap: 14px;">
  <div class="form-group">
    <label>General</label>
    <p class="hint">
      This macro checks whether any actor that's selected has some {{label}} named {{name}} and
      makes them all use it.
    </p>
  </div>
  <div class="form-group">
    <label>Linked</label>
    <p class="hint">
      This macro connects to this specific instance of
      {{{child}}}
      on
      {{{actor}}}.
    </p>
  </div>
</div>