<div class="teriock" style="display: flex; flex-direction: column; gap: 14px;">
  <div class="form-group">
    <label>{{localize "TERIOCK.DIALOGS.HotbarDrop.general.label"}}</label>
    <p class="hint">
      {{localize "TERIOCK.DIALOGS.HotbarDrop.general.hint" label=label name=name}}
    </p>
  </div>
  <div class="form-group">
    <label>{{localize "TERIOCK.DIALOGS.HotbarDrop.linked.label"}}</label>
    <p class="hint">
      {{localize "TERIOCK.DIALOGS.HotbarDrop.linked.hint" child=child actor=actor}}
    </p>
  </div>
</div>